<h1 class="display-3"><%= h1 %></h1>
<p class="lead">
	<%= lead1 %>
	<br>
	<%= lead2 %>
	<br>
	<%= lead3 %>
</p>
<p class="lead">
	Looking forward to hearing from you and we hope you're as excited as
	we are about this Bee!
</p>
