<h1 class="display-3"><%= h1 %></h1>
<div class="row">
	<div class="col-md-8 offset-md-2">
		<p class="lead">
			<%= lead %>
		</p>
		<p class="lead">
			Looking forward to hearing from you and we hope you're as excited as
			we are about this Bee!
		</p>
	</div>
</div>
