<% title "Harlem Spelling Bee - Promoting literacy and education in the Harlem community." %>
<% description "See how you can continue helping your students reach their full potential." %>
<% set_meta_tags keywords: %w[harlem spelling bee competition fun schools education vocabulary vocab literacy english language study dictionary words games notebook] %>

<% set_meta_tags og: {
  title: "See how you can continue helping your students reach their full potential.",
	description: "Designed with academic vocabulary research and gamification, Leksi helps students master new words."
} %>

<% set_meta_tags twitter: {
  card: "Which Harlem school students will become spelling bee champs?",
  title: "See how you can continue helping your students reach their full potential.",
  description: "It just takes one word to lead a lifetime of learning and growth."
} %>

<div class="container">
  <h1 class="spe-bee-redange">
    <%= icon "envelope-o" %>
    Contact Us
  </h1>
  <p>
    We'd love to hear from you and will respond within one business day.
  </p>
  <%= render "contact_us_mailer/form" %>
</div>
