<% title "Harlem Spelling Bee - Promoting literacy and education in the Harlem community." %>
<% description "See how you can continue helping your students reach their full potential." %>
<% set_meta_tags keywords: %w[harlem spelling bee competition fun schools education vocabulary vocab literacy english language study dictionary words games notebook] %>

<% set_meta_tags og: {
  title: "See how you can continue helping your students reach their full potential.",
	description: "Designed with academic vocabulary research and gamification, Leksi helps students master new words."
} %>

<% set_meta_tags twitter: {
  card: "Which Harlem school students will become spelling bee champs?",
  title: "See how you can continue helping your students reach their full potential.",
  description: "It just takes one word to lead a lifetime of learning and growth."
} %>
<div class="sponsors jumbotron mb-3">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="display-4">
        <b>Sponsors</b>, Make a Difference. Leave Your Mark in Harlem
      </h1>
      <p class="lead mb-5">
        Support the education of students in the Harlem community and change
        their lives.
      </p>
      <%= link_to "Sponsor the Bee",
                  spelling_bee_sponsors_path(anchor: "enroll"),
                  role: "button",
                  class: "btn btn-success btn-lg",
                  title: "Make an impact and sponsor the Harlem Spelling Bee."
      %>
      <p class="mb-5">&nbsp;</p>
    </div>
  </div>
</div>
<div class="container">
  <%= render "spelling_bee/q_and_a/sponsors" %>
  <%= render "spelling_bee/enroll" %>
</div>
