<% title "Harlem Spelling Bee | Teachers, will your students emerge as champions?" %>
<% description "See how you can continue helping your students reach their full potential." %>
<% set_meta_tags keywords: %w[harlem spelling bee competition fun schools education vocabulary vocab literacy english language study dictionary words games notebook] %>

<% set_meta_tags og: {
  title: "See how you can continue helping your students reach their full potential.",
	description: "Designed with academic vocabulary research and gamification, Leksi helps students master new words."
} %>

<% set_meta_tags twitter: {
  card: "Which Harlem school students will become spelling bee champs?",
  title: "See how you can continue helping your students reach their full potential.",
  description: "It just takes one word to lead a lifetime of learning and growth."
} %>
<div class="teachers jumbotron mb-3">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h1 class="display-4 text-white">
        <b>Teachers</b>, Give Students the Opportunity to Reach Their Full
        Potential
      </h1>
      <p class="lead mb-5">
        Show your students that they can achieve great things within their
        community.
      </p>
      <%= link_to "Enroll Your School Today",
                  spelling_bee_teachers_path(anchor: "enroll"),
                  role: "button",
                  class: "btn btn-success btn-lg",
                  title: "Enroll Your School Today in the Harlem Spelling Bee"
      %>
      <p class="mb-5">&nbsp;</p>
    </div>
  </div>
</div>
<div class="container">
  <%= render "spelling_bee/q_and_a/teachers" %>
  <%= render "spelling_bee/enroll" %>
</div>
