<% if results.class == String %>
	<p class="lead leksi-red center"><%= results %></p>
<% else %>
	<% results.each_with_index do |word, index| %>
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="pull-right">
					<%= render "assessments/select_word", word: word %>
					<div class="clear"></div>
				</div>
				<strong class="word-name-size"><%= word.name %></strong>
			</div>
			<div class="panel-body">
				<%= render "words/word_details", word: word %>
			</div>
		</div>
	<% end %>
<% end %>
