<div class="gallery js-flickity"
  data-flickity-options='{ "resize": false, "autoPlay": true }'>
  <% @reviews.each do |review| %>
    <%= render "reviews/review", review: review %>
  <% end %>
</div>

<br>
