<blockquote class="card-blockquote">
	<p><%= quote %></p>
	<footer>
		<small class="text-muted">
			<%= author %> <cite title="Source Title"><%= source_title %></cite>
		</small>
	</footer>
</blockquote>
