<h4>Description</h4>

<p>
  Stop crushing candy and boost your English vocabulary instead!
</p>

<p>
  Leksi changes how you learn new words.
  With Leksi, you master words by first adding them to your
  personal dictionary and then completing
  and unlocking word games...
  <span class="basic-apple-blue-link">
    <%= link_to "more",
      { "role" => "button" },
      "data-toggle" => "collapse",
      "href" => "#more_description",
      "aria-expanded" => "false",
      "aria-controls" => "more_description",
      "class" => "basic-apple-blue-link"
    %>
  </span>
</p>

<div class="collapse" id="more_description">
  <p>
    These aren't just any random games; they're based on hard evidence
    on what it takes to learn a new word.
  </p>

  <p class="basic-apple-blue-link">
    Are you up for the challenge? Think you have what it takes to stay
    on top of the Leksi Leaderboard?

  <p>
    No ads or hidden charges. Leksi is designed for all devices
    and software (Apple, Android, Windows, etc.) Word.
  </p>
</div>
