<h4>Description</h4>

<p>
  Who knew learning new words could actually be fun?
</p>

<p>
  First, define and add words that you want to your
  personal dictionary. Then, complete
  different kinds of word games based on hard evidence on what
  it takes to really learn new words.
</p>

<p>
  No ads or hidden charges. Leksi is designed for all devices
  and software (Apple, Android, Windows, etc). Word.
</p>
