<div
  class="btn-group btn-group-justified btn-group-margin visible-xs-block"
  role="group"
  aria-label="..."
>
  <div class="btn-group" role="group">
    <%= link_to "Details", "#", class: "btn btn-default active" %>
  </div>
  <div class="btn-group" role="group">
    <%= link_to "Reviews", "#", class: "btn btn-default" %>
  </div>
</div>
