<h4>Information</h4>
<table class="table">
  <tr>
    <td class="dark-gray">Seller</td>
    <td>Leksi LLC</td>
  </tr>
  <tr>
    <td class="dark-gray">Category</td>
    <td>Education</td>
  </tr>
  <tr>
    <td class="dark-gray">Updated</td>
    <td>July 18, 2015</td>
  </tr>
  <tr>
    <td class="dark-gray">Size</td>
    <td>0 MB (nothing to download!)</td>
  </tr>
  <tr>
    <td class="dark-gray">Customer Reviews</td>
    <td>Not enough reviews yet</td>
  </tr>
  <tr>
    <td class="dark-gray">Compatibility</td>
    <td>Cross-platform</td>
  </tr>
</table>
