<h4>Information</h4>

<table class="table">
  <tr>
    <td class="dark-gray">Seller</td>
    <td>Leksi  <sup>TM</sup></td>
  </tr>
  <tr>
    <td class="dark-gray">Category</td>
    <td>Education</td>
  </tr>
  <tr>
    <td class="dark-gray">Updated</td>
    <td>July 23, 2015</td>
  </tr>
  <tr>
    <td class="dark-gray">Size</td>
    <td>0 MB (nothing to download!)</td>
  </tr>
  <tr>
    <td class="dark-gray">Customer Reviews</td>
    <td>
      <% if there_are_any_reviews? %>
        <% if latest_version.has_reviews? %>
          Current Version
          <span class="apple-star-container">
            <span class="apple-star-orange">
              <%= display_stars(latest_version.average_rating) %>
            </span>
            (<%= latest_version.number_of_reviews %>)
          </span>
          <br>
        <% end %>
        All Versions
        <span class="apple-star-container">
          <span class="apple-star-orange">
            <%= display_stars(Version.total_average_rating) %>
          </span>
          (<%= Version.total_number_of_reviews %>)
        </span>
      <% else %>
        not enough reviews for this app
      <% end %>
    </td>
  </tr>
  <tr>
    <td class="dark-gray">Compatibility</td>
    <td>Cross-platform</td>
  </tr>
</table>
