<%=
  link_to "Get for free", signup_path,
  class: "btn btn-default btn-sm apple-blue-button"
%>

<div class="basic-apple-blue-link inline-block">
  <small>
  or
    <%= link_to "log in", login_path %>.
  </small>
</div>

<span class="apple-star-container">
  <span class="apple-star-orange">
    &#9733;&#9733;&#9733;&#9733;&#9733;
  </span> (218)
</span>
