<%=
  link_to "Get for free", signup_path,
  class: "btn btn-default btn-sm apple-blue-button"
%>

<div class="basic-apple-blue-link inline-block">
  <small>
  or
    <%= link_to "log in", login_path %>.
  </small>
</div>

<% if there_are_any_reviews? %>
  <span class="apple-star-container">

    <%= render "reviews/stars", rating: Version.total_average_rating %>
    (<%= Version.total_number_of_reviews %>)
  </span>
<% else %>
  not enough reviews for this app
<% end %>
