<%=
  link_to "Get for free", signup_path,
  class: "btn btn-default btn-sm apple-blue-button-filled"
%>

<% if there_are_any_reviews? %>
  <span class="apple-star-container">

    <%= render "reviews/stars", rating: Version.total_average_rating %>
    (<%= Version.total_number_of_reviews %>)
  </span>
<% else %>
  not enough reviews for this app
<% end %>
