<h4>What's New in Version 1.0 <small>July 23, 2015</small></h4>
<p class="lead">
  * Sign up for a free account
  <br>
  * Define words like in any regular dictionary
  <br>
  * Add words to <em>your</em> personal dictionary
  <br>
  * Tag your words
</p>
