<% title "About Us" %>
<% description "Learn who we are and why we love helping you boost your vocab." %>
<% set_meta_tags keywords: %w[login signup account tablet desktop signin app vocabulary words preview literacy learning games education vocab fun goal master] %>

<% set_meta_tags og: {
  title:    "About Us",
	description: "Learn who we are and why we love helping you boost your vocab."
} %>

<% set_meta_tags twitter: {
  card: "Learn who we are and why we love helping you boost your vocab.",
  title: "About Us",
  description: "Learn who we are and why we love helping you boost your vocab."
} %>

<section>
  <h1>About Us</h1>
  <h3>
    We believe students should be able to define their future.
  </h3>
  <p>
    Leksi is an application that boosts student's vocabulary, a major
    indicator of student's success, in a fun and exciting way.
  </p>
  <p>
    Leksi was created by Danelson Rosa
    <%= link_to "http://www.linkedin.com/in/dan3lson" do %>
      <i class="fa fa-linkedin-square"></i>
    <% end %>
    who previously worked on Wall Street
    in various technology roles. Danelson wanted a way to solve his own
    vocabulary-related frustrations and just wasn't satisfied with
    any existing vocabulary apps.
  </p>
  <p>
    Leksi is still growing given the continuous testing and feedback from
    teachers, students, and the education community overall. We’re developing
    new features to engage, excite, and, of course, improve outcomes at the
    end of the day.
  </p>
  <p>
    From where does our dictionary come, you ask? Learn more here:
    <%= link_to "Princeton University\'s WordNet",
                "http://wordnet.princeton.edu"
    %>
    and the
    <%= link_to "Moby Project", "https://en.wikipedia.org/wiki/Moby_Project" %>.
  </p>
  <p>
    Happy learning!
  </p>
</section>
