<% title "About Us" %>
<% description "Learn who we are and why we love helping you boost your vocab." %>
<% set_meta_tags keywords: %w[login signup account tablet desktop signin app vocabulary words preview literacy learning games education vocab fun goal master] %>

<% set_meta_tags og: {
  title:    "About Us",
	description: "Learn who we are and why we love helping you boost your vocab."
} %>

<% set_meta_tags twitter: {
  card: "Learn who we are and why we love helping you boost your vocab.",
  title: "About Us",
  description: "Learn who we are and why we love helping you boost your vocab."
} %>

<section>
  <h1>About Us</h1>
  <br>
  <div class="bg-primary text-white text-center p-4 mb-3">
    <h3>
      We believe students should be able to define their future and that
      <em>vocabulary</em>, a major indicator of students' success, will help
      lead the way.
    </h3>
  </div>
  <p>
    Leksi began as a way to solve my personal frustrations
    when learning new vocabulary words: I wanted an app that helped me keep
    track of, organize, and learn words that I encountered. After looking
    around, I didn’t find anything that stood out and met my expectations, so I
    decided to take matters into my own hands and create it myself.
  </p>
  <blockquote class="blockquote">
    As I learned
    more about the importance of vocabulary and the lack of time and instruction
    spent in and outside of the classrooms, it felt like I had an opportunity to
    make a big impact on students if only I could really execute on this idea.
  </blockquote>
  <p>
    Learn more in the
    <%= link_to "EdTech Times feature on Leksi",
                "https://edtechtimes.com/2016/03/17/vocabulary-app-leksi-helps-students-improve-literacy/"
    %>.
  </p>
  <p>
    From where do our words come, you ask? Some Teachers create their own, but
    the majority come from
    <%= link_to "Princeton University\'s WordNet",
                "http://wordnet.princeton.edu"
    %>
    and the
    <%= link_to "Moby Project", "https://en.wikipedia.org/wiki/Moby_Project" %>.
  </p>
  <p>
    Happy learning!
  </p>
  <p>
    Danelson,
    <br>
    Founder
  </p>
</section>
