<% provide(:header, "About Us") %>

<% title "About Us" %>
<% description "Learn who we are and why we love helping you boost your vocab." %>
<% set_meta_tags keywords: %w[login signup account tablet desktop signin app vocabulary words preview literacy learning games education vocab fun goal master] %>

<% set_meta_tags og: {
  title:    "About Us",
	description: "Learn who we are and why we love helping you boost your vocab."
} %>

<% set_meta_tags twitter: {
  card: "Learn who we are and why we love helping you boost your vocab.",
  title: "About Us",
  description: "Learn who we are and why we love helping you boost your vocab."
} %>

<div class="top-section" style="height: 300px;">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 center">
			<h1>About Us</h1>
		</div>
	</div>
</div>

<div class="thin-gray-section center">
	<h3>
		We believe you should be able to #defineYourFuture.
	</h3>

	<div class="lead guest-homepage-images-container col-sm-8 col-sm-offset-2">
		<p>
			Leksi is an application that helps students boost their literacy and meet
			their respective grade-level standards. The way we do this is through
			vocabulary development. We specifically focus on vocabulary because it’s the
			biggest indicator of a student’s success in and outside of school. Leksi is
			research-driven and delivers its lessons through game-like activities
			making the learning experience more fun and effective.
		</p>

		<p>
			It was created by Danelson Rosa, a former technology-banker turned software
			developer/entrepreneur who wanted a way to solve his own vocabulary-related
			frustrations.
		</p>

		<p>
			Leksi is still growing given the continuous testing and feedback from
			teachers, students, and the education community overall. We’re developing new
			features to engage, excite, and, of course, improve outcomes at the end of
			the day.
		</p>

		<p>
			Happy learning!
		</p>
	</div>

	<div class="clear"></div>

</div>
