<% title "About Us" %>
<% description "Learn who we are and why we love helping you boost your vocab." %>
<% set_meta_tags keywords: %w[login signup account tablet desktop signin app vocabulary words preview literacy learning games education vocab fun goal master] %>

<% set_meta_tags og: {
  title:    "About Us",
	description: "Learn who we are and why we love helping you boost your vocab."
} %>

<% set_meta_tags twitter: {
  card: "Learn who we are and why we love helping you boost your vocab.",
  title: "About Us",
  description: "Learn who we are and why we love helping you boost your vocab."
} %>

<section>
  <h1>About Us</h1>
  <br>
  <div class="bg-primary text-white text-center p-4 mb-3">
    <h3>We believe students should be able to define their future.</h3>
  </div>
  <p>
    Because of this belief, we excitedly created an online application that
    boosts vocabulary, a major indicator of students' success, in a fun and
    really engaging way.
  </p>
  <p>
    It was developed by Danelson Rosa
    <%= link_to "http://www.linkedin.com/in/dan3lson" do %>
      <i class="fa fa-linkedin-square"></i>
    <% end %>
    who previously worked on Wall Street
    in various technology roles. Danelson wanted a way to solve his own
    vocabulary-related frustrations and just wasn't satisfied with
    any existing vocabulary apps. Through his research, Danelson realized
    there was a much greater need for an app like this to be in the hands of
    students than general consumers such as himself.
  </p>
  <p>
    Leksi is still growing given the continuous testing and feedback from
    teachers, students, and the education community overall. We’re developing
    new features to engage, excite, and, of course, improve outcomes at the
    end of the day. Give us a try for free - you won't be disappointed.
  </p>
  <p>
    From where do our words come, you ask? Some Teachers create their own, but
    the majority come from
    <%= link_to "Princeton University\'s WordNet",
                "http://wordnet.princeton.edu"
    %>
    and the
    <%= link_to "Moby Project", "https://en.wikipedia.org/wiki/Moby_Project" %>.
  </p>
  <p>
    Happy learning!
  </p>
</section>
