<div class="top-section">
	<div class="row">
		<div class="col-sm-4">
			Image
		</div>
		<div class="col-sm-5">
			A whole new way to learn vocabulary.
			<div class="btn-custom-get-started">
				Get started
			</div>
		</div>
	</div>
</div>

<div class="thin-section">
	<div class="row">
		<div class="col-sm-4">
			Image
		</div>
		<div class="col-sm-5">
			<h4>A whole new way to learn vocabulary.</h4>

			Learning with Leksi is simple and fun.
			With game-like features such as earning points, racing against the clock,
			leveling up, and badges, our small and consistent word games are
			the perfect dose for daily practice.

			<br>
			<br>

			<div>
				Video. See what it's about.
			</div>
		</div>
	</div>
</div>
