<div class="top-section">
	<div class="row">
		<div class="col-sm-7 col-sm-offset-3 center">
			<%= image_tag("leksi_icon.png", alt: "Leksi Tree") %>
			<h3>
				A whole new way to learn vocabulary.
			</h3>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-xs-5 col-xs-offset-4 btn-custom-get-started center">
			Get started
		</div>

	</div>
	<br>
	<div class="center">
		<small>Have an account?</small>
	</div>
</div>

<div class="thin-gray-section">
	<div class="row">
		<div class="col-sm-4">
			Image
		</div>
		<div class="col-sm-5">
			<h4>The best way to learn new words</h4>

			Learning with Leksi is simple and fun.
			With game-like features such as earning points, racing against the clock,
			leveling up, and badges, our small and consistent word games are
			the perfect dose for daily practice.

			<br>
			<br>

			<div>
				See how we do it
			</div>
		</div>
	</div>
</div>

<div class="fat-section">
	<h3>Gamification poured into every lesson</h3>
	<div>
		<div>
			Image
		</div>
		<p class="lead">
			Let's Play
		</p>
		<p>
			Through the Fundamentals, Jeopardy, and Freestyle, the scaffolded
			nature of Leksi's games lead you on a path towards mastery.
		</p>
	</div>

	<div>
		<div>
			Image
		</div>
		<p class="lead">
			Checkpoints
		</p>
		<p>
			Instantly see how well you know what you learn along the way.
		</p>
	</div>

	<div>
		<div>
			Image
		</div>
		<p class="lead">
			Goals
		</p>
		<p>
			Earn experience points and achieve your weekly goals with each game
			you finish.
		</p>
	</div>

	<div>
		<div>
			Image
		</div>
		<p class="lead">
			Leaderboard
		</p>
		<p>
			It's one thing to climb the Leaderboard ranks and another to remain on
			top!
		</p>
	</div>
</div>

<div class="thin-gray-section">
	<h4>Learn using any software/device</h4>

	It's time to stop crushing candy and be more productive wherever you are, on
	the go. Because Leksi is currently a web-app, you can use it on any
	phone, tablet, laptop, or computer.
</div>

<div class="thin-white-section">
	<div class="col-sm-8 col-sm-offset-2">

		<h4>Leksi for Schools</h4>

		Vocabulary is the biggest indicator of a student's success. Learn why
		vocabulary development is crucial and see how Leksi can improve
		your students' outcomes.
		<br>
		<br>

		<div>
			Bring Leksi to your classroom
		</div>
	</div>
</div>
