<% title "Read and write better English with a stronger vocabulary." %>
<% description "Leksi helps you learn English by growing your vocabulary." %>
<% set_meta_tags keywords: %w[english language learners ell esl education vocabulary vocab langauge literacy words flashcards games app] %>

<% set_meta_tags og: {
  title:    "Read and write better English with a stronger vocabulary.",
	description: "Leksi helps you learn English by growing your vocabulary."
} %>

<% set_meta_tags twitter: {
  card: "Learn vocabulary free, without ads or hidden charges. It's simple, fun, and based on evidence.",
  title: "Read and write better English with a stronger vocabulary.",
  description: "Leksi helps you learn English by growing your vocabulary."
} %>

<div class="top-section">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 center">
			<h1>Leksi</h1>
			<h3>
				Read and write better English with a stronger vocabulary.
			</h3>
		</div>
	</div>

	<br>

	<div class="row hvr-bob">
		<div class="col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-5 center
								data-url btn-custom-get-started gs-tracker"
				 id="get-started-top-btn"
				 data-url="/signup">
			Get started
		</div>
	</div>
</div>

<div class="thin-gray-section center">
	<h3>
		Create Your Personal Dictionary
	</h3>

	<div class="guest-homepage-images-container col-sm-8 col-sm-offset-2">
    <div class="row">
      <div class="col-sm-5">
        <div id="myLeksi-bg"></div>
      </div>
      <div class="col-sm-7">
        <p>
          It's up to you to take control of your vocabulary learning.
          Having a vocabulary notebook is an effective tool for you to
          organize, manage, and learn words you don't know. Leksi makes this
          easy by empowering you to find, add, and group words, which will
          make sure you don't forget a word and enhance your vocabulary study.
        </p>
      </div>
    </div>
	</div>
  <div class="clear"></div>
</div>


<div class="fat-section center">
	<h3>
		Learn (and Remember!) More Words
	</h3>

  <div class="guest-homepage-images-container col-sm-8 col-sm-offset-2">
    <div class="row">
      <div class="col-sm-5">
        <div id="myLeksi-bg"></div>
      </div>
      <div class="col-sm-7">
        <p>
          There are many ways to try and learn new words. We did a lot of
          research on what works and based on that, we created game-like
          activities that motivate and really help you to build and retain new
          vocabulary.
        </p>
        <p>
          How does it work? You first play <em>The Fundamentals</em>:
          this game focuses on and has quiz-checkpoints for the basics of an
          individual word, i.e. spelling, meanings, synonyms, antonyms, and
          example sentences.
        </p>
        <p>
          Then you play <em>Jeopardy</em>:
          this more challenging activity sharpens your knowledge of multiple
          words at the same time. For a word to reach the next game, you need to
          earn three of five hearts, i.e. answer three of five questions
          correctly.
        </p>
        <p>
          After that, you complete <em>Freestyle</em>:
          Unleash your creativity by using the words you've learned and create
          a short story, poem, rap, mad-lib - anything! If you share it
          publically, it could be featured in the Leksi Spotlight!
        </p>
      </div>
    </div>
	</div>
  <div class="clear"></div>
</div>

<div class="thin-gray-section center">
  <h3>
		Coming Soon
	</h3>

  <div class="guest-homepage-images-container col-sm-8 col-sm-offset-2">
    <div class="row">
      <div class="col-sm-5">
        <div id="myLeksi-bg"></div>
      </div>
      <div class="col-sm-7">
        Leksi will be released as an Apple and Android mobile app this summer.
        Give us your email address and we'll keep you updated as we finish
        and get this out to you.
      </div>
    </div>
	</div>
  <div class="clear"></div>
</div>
