<% title "Read and write better English with a stronger vocabulary." %>
<% description "Leksi helps you learn English by growing your vocabulary." %>
<% set_meta_tags keywords: %w[english language learners ell esl education vocabulary vocab langauge literacy words flashcards games app] %>

<% set_meta_tags og: {
  title:    "Read and write better English with a stronger vocabulary.",
	description: "Leksi helps you learn English by growing your vocabulary."
} %>

<% set_meta_tags twitter: {
  card: "Learn vocabulary free, without ads or hidden charges. It's simple, fun, and based on evidence.",
  title: "Read and write better English with a stronger vocabulary.",
  description: "Leksi helps you learn English by growing your vocabulary."
} %>

<div class="top-section">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 center">
			<h1>Leksi</h1>
			<h3>
				Read and write better English with a stronger vocabulary.
			</h3>
		</div>
	</div>

	<br>

	<div class="row">
		<div class="col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-5 center
								btn-custom-get-started"
				 id="get-leksi-app-btn">
			GET THE APP
		</div>
	</div>
</div>

<div class="thin-gray-section center">
	<h3>
		Create a Vocabulary Notebook
	</h3>

	<div class="guest-homepage-images-container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <p>
          It's up to you to take control of your vocabulary learning.
          When you see or hear a word you don't know, add it to your list.
          Having a personal dictionary is an effective tool for you to
          organize, manage, and learn words you don't know.
        </p>
        <p>
          Leksi makes this easy by empowering you to find, add, and group words,
          which will make sure you don't forget a word and enhance your
          vocabulary study.
        </p>
        <br>
        <div id="myLeksi-bg"></div>
      </div>
    </div>
	</div>
  <div class="clear"></div>
</div>


<div class="fat-section center">
	<h3>
		Learn (and Remember!) More Words
	</h3>

  <div class="guest-homepage-images-container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <p>
          There are many ways to try and learn new words. We did a lot of
          research on what works and based on that, created game-like
          activities that motivate and really help you to build and retain new
          vocabulary. To master a word, complete the Basic, Intermediate, and
          Advanced games:
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            Basic
          </div>
          <div class="panel-body">
            <p>
              This game focuses on and has quiz-checkpoints for the basics of an
              individual word, i.e. spelling, meanings, synonyms, antonyms, and
              example sentences.
            </p>
            <div id="myLeksi-bg"></div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            Intermediate
          </div>
          <div class="panel-body">
            <p>
              This more challenging activity sharpens your knowledge of multiple
              words at the same time. For a word to reach the next game, you need to
              earn three of five hearts, i.e. answer three of five questions
              correctly.
            </p>
            <div id="myLeksi-bg"></div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            Advanced
          </div>
          <div class="panel-body">
            <p>
              Unleash your creativity by using the words you've learned and create
              a short story, poem, rap, mad-lib - anything! If you share it
              publically, it could be featured in the Leksi Spotlight!
            </p>
            <div id="myLeksi-bg"></div>
          </div>
        </div>
      </div>
    </div>
	</div>
  <div class="clear"></div>
</div>

<div class="leksi-blue-bg center" id="lp-cta">
  <h1>
		Mobile App Coming Soon!
	</h1>

  <div class="guest-homepage-images-container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-default">
          <div class="panel panel-body">
            <p>
              You can soon download Leksi on Apple and Android devices.
              Provide your email address below and we'll let you know when it's
              ready!
            </p>
            <br>
            <%= render "landing_pages/form", target: "english-language-learners" %>
          </div>
        </div>
      </div>
    </div>
	</div>
  <div class="clear"></div>
</div>
