<div class="center">
  <div>
    <%= link_to "Sign Up for Free", signup_path, class: "btn btn-lg btn-default" %>
    <br/>
    <small>
      Already have an account?
      <%= link_to "Log in", login_path %>.
    </small>
  </div>
</div>
