<section>
  <h1>Results</h1>
</section>
<br>
<div>
  <h2>Teachers</h2>
  <div class="row">
    <div class="col-sm-6">
      <div class="blockquote">
        <p>
          The extra practice Leksi afforded my scholars enabled them to master
          new words more quickly and more deeply than before.
        </p>
        <p>
          <em>
            Leana P., Friends Seminary Middle School English Teacher
          </em>
        </p>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="blockquote">
        <p>
          The kids love it! They became addicted right away and didn't want to
          close their iPads when it was time to move on to the next thing.
        </p>
        <p>
          <em>
            Leana P., Friends Seminary Middle School English Teacher
          </em>
        </p>
      </div>
    </div>
  </div>
</div>
<div>
  <h2>Scholars</h2>
  <div class="row">
    <div class="col-sm-4">
      <div class="blockquote">
        <p>
          Kind of addictive; awesome!
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="blockquote">
        <p>
          Helps you really know the words, love it!
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="blockquote">
        <p>
          I like how Leksi makes learning vocab words easier.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="blockquote">
        <p>
          I like that you get to learn in a fun but useful way.
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="blockquote">
        <p>
          I like how the different levels are very different activities.
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="blockquote">
        <p>
          I like that it can sort out all of my words so I can study.
        </p>
      </div>
    </div>
  </div>
</div>
