<% title "Terms of Use" %>
<% description "Read our Terms of Use." %>
<% set_meta_tags keywords: %w[leksi terms use legal] %>

<% set_meta_tags og: {
  title:    "Boost your vocabulary in a fun and simple way.",
	description: "Read our Terms of Use."
} %>

<% set_meta_tags twitter: {
  card: "Leksi improves students\' reading and writing skills through vocabulary. It's simple, fun, and based on evidence.",
  title: "Boost your vocabulary in a fun and simple way.",
  description: "Read our Terms of Use."
} %>

<section>
	<h1>
		Terms of Use
	</h1>
	<p>
		The following describes the Terms of Use ("Terms of Use") applicable to your
		use of the www.leksi.education Web site ("Site"). By using the Site, you
		agree to be legally bound by these Terms of Use. If you do not agree with
		these Terms of Use, please do not use the Site. myLeksi, Inc. ("Leksi")
		reserves the right to change, modify, add, or remove portions of these
		Terms of Use at any time. Please return every now and then for any changes.
		Your use of this Site following the posting of any changes constitutes your
		acceptance of the changes. These Terms of Use were last updated July 22,
		2017.
	</p>
	<p>
		1. Site Usage
	</p>
	<p>
		1.1 <u>You may use the site for lawful, non-commercial purposes.</u>
		You will not modify, publish, transmit, participate in the transfer or sale,
		create derivative works, or in any way exploit, any of the content, in
		whole or in part, found on the Site. You will download copyrighted content
		solely for your personal use, but will make no other use of the content
		without the express written permission of Leksi and the copyright owner.
		You will not make any changes to any content that you are permitted to
		download under this Agreement, and in particular you will not delete or
		alter any proprietary rights or attribution notices in any content. You
		agree that you do not acquire any ownership rights in any downloaded
		content.
	</p>
	<p>
		1.2 <u>Acceptable Means of Using Content</u>
    <ul>
      <li>
        Academic Use of definitions and other content
          <ul>
            <li>
              Online: Feel free to use word definitions from the word or Explore
              pages and excerpts from the articles from the Leksi Blog for
              personal use, in a classroom, or in scholarly works, as long as
              such usage would be considered "fair use" and the material is
              cited with the following attribution "Text from Leksi.education,
              Copyright &copy; 2017 myLeksi, Inc. All rights reserved." The
              entire attribution should provide a link back to the page from
              which it was cited.
            </li>
            <li>
              Offline: Same as Academic Use of definitions and other content
              Online
            </li>
          </ul>
      </li>
      <li>
        Excertps from the Leksi Blog
          <ul>
            <li>
              Online: Feel free to post abstracts of articles from the Leksi
              Blog as long as you don't remove the link to the full article.
            </li>
            <li>
              Offline: Feel free to print abstracts for personal use. Otherwise
              <%= link_to "contact us",
                          spelling_bee_contact_us_path,
                          title: "Leksi Contact Us online form" %>
              to request permission.
            </li>
          </ul>
      </li>
      <li>
        Other
          <ul>
            <li>
              Online: Other than the cases above, if you want to post, publish,
              or use content from (or contained within) the Site on your web
              site or in any other Internet activity, you will need permission
              from Leksi, even though your Web site or Internet activity is
              free of charges.
              <%= link_to "Contact us",
                          spelling_bee_contact_us_path,
                          title: "Leksi Contact Us online form" %>.

            </li>
            <li>
              Offline: same as Other Online.
            </li>
          </ul>
      </li>
    </ul>
	</p>
	<p>
		1.3 <u>Do not systematically retrieve content to make another product.</u>
		You may not engage in systematic retrieval of content from the Site to
		create or compile, directly or indirectly, a collection, compilation,
		database, or directory without written permission from Leksi. Nor may
		you mirror on your own site any pages of the Site.
	</p>
	<p>
		1.4 <u>Your Communications:</u> You are responsible for your own
		communications and are responsible for the consequences of sending them
		through Leksi's application.
	</p>
	<p>
		1.5 <u>Don’t post material that doesn’t belong to you.</u>
		Do not publish material that is copyrighted, unless you are the copyright
		owner or obtain the permission of the copyright owner to post it; do not
		post material that reveals trade secrets, unless you own them or have the
		permission of the owner; do not post material that infringes on any other
		intellectual property rights of others or on the privacy or publicity
		rights of others.
	</p>
	<p>
		1.6 <u>Don’t post material that is harmful or offensive to others.</u>
		Do not post material that is obscene, defamatory, threatening, harassing,
		abusive, hateful or embarrassing to any other person or entity; in other
		words, don't be mean.
	</p>
	<p>
		1.7 <u>Don’t use the Site to promote or solicit business.</u>
		Do not post advertisements or solicitations of business; do not post chain
		letters or the like.
	</p>
	<p>
		1.8 <u>Don’t impersonate another person.</u>
	</p>
	<p>
		1.7 <u>We can use the material you post.</u>
		By posting or otherwise submitting information or materials through
		myLeksi’s application, you warrant and represent that you own or otherwise
		control all of the rights to the content and use of your information or
		materials by Leksi will not infringe or violate the rights of any third
		party. You automatically grant to Leksi, a royalty-free, perpetual,
		irrevocable, non-exclusive license to use, reproduce, modify, publish,
		edit, translate, distribute, perform, and display your communications alone
		or as part of other works in any form, media, or technology whether now
		known or hereafter developed, and to sublicense such rights through multiple
		tiers of sublicenses. Where Leksi so uses your communication, you assign
		to Leksi all copyright rights and other rights in and to such material as
		a work for hire.
	</p>
	<p>
		1.8 <u>We can delete communications for any reason.</u>
		Leksi reserves the right, for any reason, to delete or edit messages or
		material submitted by users.
	</p>
	<p>
		1.9 <u>We will do our very best to reply if you request us to.</u>
		Leksi will make a good faith effort to reply to communications submitted
		through its system, but Leksi has no liability or responsibility to users
		thereof.
	</p>
	<p>2. Accounts</p>
	<p>
		2.1 <u>Credentials</u>
		If any of the products or services available from the Site require
		you to open an account, you must complete the registration process by
		providing Leksi with true, current, complete, and accurate information as
		prompted by the applicable sign up form, and you will maintain and promptly
		update such information to keep it true, current, complete and accurate.
	</p>
	<p>
		2.2 <u>You are responsible for choosing/keeping your password secret.</u>
		You are completely responsible for maintaining the confidentiality of your
		password and account. Furthermore, you are entirely responsible for any and
		all activities that occur under your account.
	</p>
	<p>
		2.3 <u>Tell us if someone has access to your account.</u>
		You agree to notify Leksi immediately of any unauthorized use of your
		account or any other breach of security against your wishes.
	</p>
	<p>
		2.4 <u>Leksi is not liable if someone else gets access to your account.</u>
		Neither Leksi, nor any Leksi affiliates or Leksi licensors will be liable
		for any loss that you may incur as a result of someone else using your
		password or account, either with or without your knowledge. However, you
		could be held liable for losses incurred by Leksi or other people or
		entity due to someone else using your account or password.
	</p>
	<p>
		2.5 <u>You may not use anyone else's individual account at any time.</u>
	</p>
	<p>
		2.6 <u>Tell us the truth about yourself.</u>
		If you provide any information that is false, inaccurate, out of date, or
		incomplete, or Leksi has reasonable grounds to suspect that such information
		is false, inaccurate, not current, or incomplete, Leksi may suspend or
		delete your account and refuse any and all current or future use of the
		products or services or any portion thereof.
	</p>
	<p>
		2.7 <u>Leksi can expel users who violate the Terms of Use or the Law.</u>
		Leksi reserves the right to remove users and prevent their continued access
		to its system for violating the law or these Terms of Use.
	</p>
	<p>
		<u>Ownership</u>
		The content of the Site, including all underlying software (collectively the
		"Software"), is the property of Leksi, its affiliated companies or licensors
		and is protected by international copyright, patent, and trademark laws. YOU
		WILL NOT REPRODUCE, REVERSE ENGINEER, DECOMPILE, DISASSEMBLE, OR CREATE
		DERIVATIVE WORKS WITH RESPECT TO THE SOFTWARE.
	</p>
	<p>
		<u>Disclaimer of Warranties</u>
		THE SITE AND ALL INFORMATION, PRODUCTS, AND OTHER CONTENT INCLUDED IN OR
		ACCESSIBLE FROM THE SITE ARE GIVEN "AS IS" AND WITHOUT WARRANTIES OF ANY
		KIND (EXPRESS, IMPLIED, AND STATUTORY, INCLUDING BUT NOT LIMITED TO THE
		IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE),
		ALL OF WHICH LEKSI EXPRESSLY DISCLAIMS TO THE FULLEST EXTENT PERMITTED BY
		LAW.
	</p>
	<p>
		<u>Limitation of Liability</u>
		IN NO EVENT WILL LEKSI, ITS DIRECTORS, OFFICERS, SHAREHOLDERS, PARENTS,
		SUBSIDIARIES, AFFILIATES, AGENTS AND LICENSORS, OR CONTENT PROVIDERS BE
		LIABLE FOR ANY INDIRECT, SPECIAL, INCIDENTAL, PUNITIVE, OR CONSEQUENTIAL
		DAMAGES ARISING OUT OF OR RELATED TO THE USE, INABILITY TO USE, PERFORMANCE
		OR NONPERFORMANCE OF THE SITE, EVEN IF LEKSI WAS PREVIOUSLY ADVISED OF THE
		POSSIBILITY OF SUCH DAMAGES AND REGARDLESS OF WHETHER SUCH DAMAGES ARISE IN
		CONTRACT, TORT, UNDER STATUTE, IN EQUITY, AT LAW, OR OTHERWISE.
	</p>
	<p>
		<u>Indemnification</u>
		To the fullest extent permitted by law, you agree to indemnify and hold
		Leksi, its directors, officers, shareholders, parents, subsidiaries,
		affiliates, agents, and licensors harmless from and against all losses,
		expenses, damages, and costs, including reasonable attorneys’ fees, arising
		out of the use or unauthorized copying of the Site or any of their content,
		the violation of these Terms of Use or all applicable laws or regulations.
	</p>
	<p>
		<u>Privacy Policy</u>
		By using the Site, you agree to be legally bound by our
		<%= link_to "Privacy Policy",
								privacy_policy_path,
								title: "Leksi Privacy Policy" %>.
	</p>
	<p>
		<u>Copyright Notice</u>
		Copyright &copy;2017 myLeksi, Inc., 2115 Virgil Place, Suite 2, Bronx, New
		York, New York 10473. All rights reserved.
	</p>
	<p>
		<u>Trademarks</u>
		myLeksi, Leksi, Leksi Education, Harlem Spelling Bee, Define Your Future,
		are either trademarks or registered trademarks of myLeksi, Inc. or its
		affiliates or licensors. The names of other companies and products mentioned
		on or via the Site may be the trademarks of their respective owners.
		Reference to such third party trademarks is for informational purposes only
		and is not intended to indicate or imply any affiliation, association,
		sponsorship, or endorsement. Any rights not expressly granted herein are
		reserved.
	</p>
	<p>
		<u>Miscellaneous</u>
		These Terms of Use constitute the entire agreement between you and Leksi
		regarding your use of the Site, superseding any prior agreements between you
		and Leksi on the subject matter (including, but not limited to, any previous
		versions of the Terms of Use). In the event that any provision of these
		Terms of Use conflicts with the law under which these Terms of Use are to be
		construed or if any such provision is held invalid or unenforceable by a
		court with jurisdiction over the parties, such provision will be deemed to
		be restated to reflect as nearly as possible the economic effect of the
		original provision in accordance with applicable law. The remaining
		provisions of these Terms of Use and the application of the challenged
		provision to persons or circumstances other than those as to which it is
		invalid or unenforceable shall not be affected thereby, and each such
		provision shall be valid and enforceable to the full extent permitted by
		law. These Terms of Use are governed by the laws of the United States and
		the State of New York, without giving effect to any principles of conflicts
		of laws. Unless waived in its sole discretion by Leksi, the sole
		jurisdiction and venue for actions related to the subject matter hereof will
		be the New York state and federal courts having within their jurisdiction
		the Borough of Manhattan in the City of New York and both parties consent to
		the jurisdiction of such courts. The official language for this Agreement,
		and of any proceedings and writings amending or interpreting this Agreement,
		will be English. The parties specifically disclaim the U.N. Convention on
		Contracts for the International Sale of Goods.
	</p>
	<p>
		<u>Content Notice</u>
		Unless user created, definitions that appear on the site are from WordNet.
		What follows is the WordNet License:
	</p>
	<p>
		WordNet 3.0 Copyright 2006 by Princeton University. All rights reserved.
		THIS SOFTWARE AND DATABASE IS PROVIDED "AS IS" AND PRINCETON UNIVERSITY
		MAKES NO REPRESENTATIONS OR WARRANTIES, EXPRESS OR IMPLIED. BY WAY OF
		EXAMPLE, BUT NOT LIMITATION, PRINCETON UNIVERSITY MAKES NO REPRESENTATIONS
		OR WARRANTIES OF MERCHANT- ABILITY OR FITNESS FOR ANY PARTICULAR PURPOSE OR
		THAT THE USE OF THE LICENSED SOFTWARE, DATABASE OR DOCUMENTATION WILL NOT
		INFRINGE ANY THIRD PARTY PATENTS, COPYRIGHTS, TRADEMARKS OR OTHER RIGHTS.
		The name of Princeton University or Princeton may not be used in advertising
		or publicity pertaining to distribution of the software and/or database.
		Title to copyright in this software, database and any associated
		documentation shall at all times remain with Princeton University and
		LICENSEE agrees to preserve same.
	</p>
</section>
