<% provide(:title, "All Sources") %>
<% provide(:header, "All Sources") %>

<div>
  <% if Rails.env.test? %>
    <%= link_to "new source", new_source_path %>
  <% end %>
  
  <% @sources.each do |source| %>
    <h1><%= link_to source.name, source %></h1>
    <hr>
  <% end %>
</div>
