<% provide(:title, "New Source") %>
<% provide(:header, "New Source") %>

<div class="well">
  <%= form_for(@source) do |f| %>
    <%#= render 'shared/error_messages' %>

    <%= f.label :name, class: "sr-only" %>
    <%= f.text_field :name, class: "form-control", placeholder: "Name *"  %>

    <%= f.submit "Create source", class: "btn btn-default" %>
  <% end %>
</div>
