<div class="card mb-3">
	<div class="card-body" data-meaning-alt-id="<%= e_non_e.id %>">
		<%= render "words/basics", word: word %>
	</div>
	<div class="card-footer">
		<%= render "school/example_non_examples/edit_delete_btns", e_non_e: e_non_e %>
		<%= render "school/example_non_examples/card_text", e_non_e: e_non_e %>
	</div>
</div>
