<% @example_non_examples.each do |e_non_e| %>
  <div class="card">
    <div class="card-block">
      <h4 class="card-title"><% e_non_e.words %></h4>
      <p class="card-text"><%= e_non_e.text %></p>
      <%#= render "admin/example_non_examples/e_non_e", e_non_e: e_non_e %>
    </div>
  </div>
<% end %>
