<% provide(:title, "Stats") %>
<% provide(:header, "Stats") %>
<div class="text-muted mb-5">
  Filter:
	<% current_user.classrooms.each do |classroom| %>
		<%= link_to school_stats_path(classroom_id: classroom.id),
								remote: true do
		%>
			<span class="text-primary active">
				<%= classroom.name %>
			</span>
		<% end %>
		|
	<% end %>
</div>
<div id="classroom-stats-div">
	<%= render "school/stats/stats", classroom: @classroom %>
</div>
