<div id="get-started-container" class="container">
	<div class="alert alert-warning" role="alert">
		<i class="fa fa-warning"></i>
		Welcome, Guest! Don't lose your work -
		<span class="basic-apple-blue-link">
			<%= link_to "save your progress", signup_path %>
		</span>
		for free now!
	</div>

	<%= render "weekly_goals/weekly_goal", user: @user %>
</div>
