<div class="no-underline" id="gs-different-words-container">
	<%= link_to get_started_game_zone_path, method: :get, remote: true do %>
		<div class="inline-block game-zone-margin
		medium-gray-game-circle-no-hover hover">
			<span id="gs-different-words-btn" class="apple-blue">
				<i class="fa fa-book fa-2x"></i>
				<br>
				Select new words
			</span>
		</div>
	<% end %>
</div>
