<% title "Blog | All About Leksi, Part 2" %>
<% description "Our Founder describes why he started Leksi and his
	\'aha!\' moment." %>
<% set_meta_tags keywords: %w[blog research announcements vocabulary words
	literacy learning education vocab fun name] %>

<% set_meta_tags og: {
  title:    "Blog | All About Leksi, Part 2",
	description: "Our Founder describes why he started Leksi and his
		\'aha!\' moment."
} %>

<% set_meta_tags twitter: {
  card: "Our Founder describes why he started Leksi and his
		\'aha!\' moment.",
  title: "Blog | All About Leksi, Part 2",
  description: "Our Founder describes why he started Leksi and his
		\'aha!\' moment."
} %>

<%= render "static_pages/header", icon: "newspaper-o", header: "Leksi Blog" %>

<div class="thin-gray-section">
	<ol class="breadcrumb basic-apple-blue-link">
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "Blog", blog_path %></li>
		<li class="active">All About Leksi, Part I: What's in a Name?</li>
	</ol>

	<h2>
		<i class="fa fa-lightbulb-o"></i>
		All About Leksi, Part 2: Our Founder's Aha! Moment
		<br>
		<small>January 8, 2016</small>
	</h2>

	<p class="italics">
		This is the second part in the series All About Leksi. If you missed the
		first post, here it is:
		<span class="basic-apple-blue-link">
			<%= link_to "All About Leksi, Part I: What\'s in a Name?",
				"all_about_leksi_part_1" %>
		</span>
	</p>

	<p>
		During Winter Break when I was a sophomore at Carnegie Mellon University
		(December 2008), I finally had time to read something that didn't come from
		a textbook or wasn't required by one of my classes. I realized more
		matter-of-factly that, as I was reading, there were a number of words I
		didn't know. Being who I am, I wanted to define them so that I could:

		<ul>
			<li>
				Understand their immediate context and ensure I didn't miss the bigger
				picture
			</li>
			<li>
				Learn them well enough to use it in my writing and when talking to
				others
			</li>
			<li>
				Not be frustrated when encountering and still not knowing that word in
				the future
			</li>
		</ul>
	</p>

	<p>
		My initial solution to this problem was simple - I created an Excel
		spreadsheet with two columns - "Name" and "Definition". Soon I had a growing
		list of words, which was cool because I thought I was actually learning them
		by just writing them down somewhere. I realized though that I really wasn't
		learning for a number of reasons. Then Winter Break ended in January 2009,
		Spring Semester started, and it became really cumbersome to maintain and try
		to learn those words with everything else happening.
	</p>

	<p>
		Fast forward to a few days before the 2015 New Year, I found myself in the
		exact same situation. I was reading a Forbes article and saw words I didn't
		really know. I thought to myself, "Didn't you see this before? I'm pretty
		sure I looked it up. Grr...I should know this by now!" And then it hit
		me - there must be many people out there that feel similarly in some way.
		With all that said, I decided I'd create an app to truly help build one's
		vocabulary and consequently build their reading comprehension and
		communication skills in a proven way that's engaging, fun, and social.
	</p>

	<p>
		Little did I know how important vocabulary really is and how much our
		students need it more than people think. We have a long way to go, but I'm
		really excited for Leksi and making it even more effective and fun for you
		all.
	</p>

	<p>
		Talk to you again soon!
	</p>

	<p>
		Danelson
	</p>

</div>
