<div class="card mb-3">
	<div class="card-block" data-meaning-alt-id="<%= m_a.id %>">
		<%= render "words/basics", word: word %>
	</div>
	<div class="card-footer">
		<%= render "school/meaning_alts/edit_delete_btns", m_a: m_a %>
		<%= render "school/meaning_alts/card_text", m_a: m_a %>
	</div>
</div>
