<% title "" %>
<% description "" %>
<% set_meta_tags keywords: "" %>

<% set_meta_tags og: {
  title: "",
	description: ""
} %>

<% set_meta_tags twitter: {
  card: "",
  title: "",
  description: ""
} %>

<% @meaning_alt.each do |m_a| %>
  <div class="card">
    <div class="card-block">
      <%= render "meaning_alts/meaning_alt", m_a: m_a %>
    </div>
  </div>
<% end %>
