<div class="menu-header">
	<span class="lead">Classroom Tools</span>
</div>

<%= link_to new_school_word_path, class: "list-group-item" do %>
	<i class="fa fa-plus-circle fa-fw"></i>&nbsp; Create a word
<% end %>

<%= link_to school_student_words_path, class: "list-group-item" do %>
	<i class="fa fa-book fa-fw"></i>&nbsp; Add words for students
<% end %>
