<% provide(:title, "Classes") %>
<% provide(:header, "Classes") %>

<div class="row">
	<div class="col-xs-6 stu-pic-container pointer data-url"
			 data-url="/school/students?filter=fs_class_one"
			 align="center">
		<div class="class-default-image"></div>
		<div>
			<h4>Class One</h4>
		</div>
		<!-- <div class="class-stats-container">
			<p>
				Number of students: <%= @fs_class_one_count %>
			</p>
			<p>
				Number of unique words:
			</p>
			<p>
				Average game:
			</p>
			<p>
				Fundamental games: x/y
			</p>
			<p>
				Jeopardy games: x/y
			</p>
			<p>
				Freestyle games: x/y
			</p>
		</div> -->
	</div>
	<div class="col-xs-6 stu-pic-container pointer data-url"
			 data-url="/school/students?filter=fs_class_two"
			 align="center">
		<div class="class-default-image"></div>
		<div class="">
			<h4>Class Two</h4>
		</div>
		<!-- <div class="class-stats-container">
			<p>
				Number of students: <%= @fs_class_two_count %>
			</p>
			<p>
				Number of unique words:
			</p>
			<p>
				Average game:
			</p>
			<p>
				Fundamental games: x/y
			</p>
			<p>
				Jeopardy games: x/y
			</p>
			<p>
				Freestyle games: x/y
			</p>
		</div> -->
	</div>
</div>
