<% provide(:title, "Classes") %>
<% provide(:header, "Classes") %>

<div class="row">
	<div class="col-xs-6 stu-pic-container pointer data-url"
			 data-url="/school/students?filter=fs_class_one"
			 align="center">
		<div class="class-default-image"></div>
		<div>
			<h4>Class One</h4>
		</div>
	</div>
	<div class="col-xs-6 stu-pic-container pointer data-url"
			 data-url="/school/students?filter=fs_class_two"
			 align="center">
		<div class="class-default-image"></div>
		<div class="">
			<h4>Class Two</h4>
		</div>
	</div>
</div>
