<% provide(:title, "Teacher Menu") %>
<% provide(:header, "Teacher Menu") %>

<div class="list-group row lead">
  <div class="col-sm-6 col-sm-offset-3">
    <%= render "current_users/profile" %>

    <%= render "school/schools/classroom_tools" %>

    <%= render "current_users/settings" %>
  </div>
</div>
