<% provide(:title, "Add New Students") %>
<% provide(:header, "Add New Students") %>
<nav class="breadcrumb">
	<%= link_to "Classrooms",
							school_classrooms_path,
							class: "breadcrumb-item"
	%>
	<%= link_to @classroom.name,
							school_classrooms_path,
							class: "breadcrumb-item"
	%>
  <span class="breadcrumb-item active">Add New Students</span>
</nav>
<div id="new-classroom-student-div">
	<div class="card">
		<div class="card-block">
			<div class="alert alert-info" role="alert">
				<%= icon "info-circle" %> 
				Use the form below to add one or more students to this class.
				To create more than one user at a time, separate each username with a
				comma, for example: <em>username1, username2, username3</em>
			</div>
			<%= render "school/students/form",
								 classroom: @classroom,
								 student: @student,
								 btn_text: "Create"
			%>
		</div>
	</div>
</div>
