<% provide(:title, "Classrooms") %>
<% provide(:header, "Add Students") %>
<nav class="breadcrumb">
	<%= link_to "Classrooms",
							school_classrooms_path,
							class: "breadcrumb-item"
	%>
	<%= link_to @classroom.name,
							school_classrooms_path,
							class: "breadcrumb-item"
	%>
  <span class="breadcrumb-item active">Add New Students</span>
</nav>
<div id="new-classroom-student-div">
	<div class="card">
		<div class="card-block">
			<p class="card-text">
				Use the form below to add one or more students to this class.
			</p>
			<%= render "school/students/form",
								 classroom: @classroom,
								 student: @student,
								 btn_text: "Create"
			%>
		</div>
	</div>
</div>
