<footer class="footer text-center mt-5">
	<p>
		&copy; <%= Date.today.year %>
		Leksi&#8482; Education
	</p>
	<p>
		<%= link_to "https://www.facebook.com/LeksiEducation", target: "_blank" do %>
			<i class="fa fa-facebook fa-3x"></i>
		<% end %>
		&nbsp;
		<%= link_to "https://twitter.com/LeksiEducation", target: "_blank" do %>
			<i class="fa fa-twitter fa-3x"></i>
		<% end %>
	</p>
</footer>
