<nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to spelling_bee_path,
      class: "navbar-brand",
      title: "Harlem Spelling Bee homepage",
      alt: "Harlem Spelling Bee homepage" do
  %>
    <%= image_tag(
      "spelling-bee.png",
      alt: "Leksi Bee Mascot",
      title: "Leksi Harlem Spelling Bee Homepage",
      width: 30,
      height: 30,
      class: "d-inline align-top")
    %>
    Harlem Spelling Bee
  <% end %>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <div class="navbar-nav mr-auto">
      <%= render "layouts/nav/nav_spelling_bee_links" %>
    </div>
  </div>
</nav>
