<h1>
  <%= icon "building" %> Classroom <%= @classroom.name %>
  <small class="text-muted">
		<%= @classroom.teacher.username %>
	</small>
</h1>
<%= render "school/students/students", classroom: @classroom %>
