<small>
<% if user_word.all_freestyles_completed? %>
	<span class="text-info">
<% elsif user_word.fundamental_not_completed? %>
	<span class="text-danger">
<% elsif user_word.jeopardy_not_completed? %>
	<span class="text-warning">
<% elsif user_word.jeopardy_completed? %>
	<span class="text-success">
<% end %>
	Level
		<%= user_word.current_game %>
	</span>
</small>
