<% if UserWord.object(current_user, word).freestyle_completed? %>
	<div class="card card-outline-info">
<% else %>
	<div class="card">
<% end %>
	<div class="card-block">
		<div class="float-xs-right">
			<%= render "my_leksi/level_completion",
								 user_word: UserWord.object(current_user, word)
			%>
		</div>
		<%= render "words/basics", word: word %>
		<div class="text-xs-center">
			<%= render "my_leksi/mastery_percentage",
				word: word,
				user_word: UserWord.object(current_user, word)
			%>
		</div>
	</div>
</div>
