<% if user_word.freestyle_completed? %>
	<div class="card card-outline-info mb-3">
<% else %>
	<div class="card mb-3">
<% end %>
	<div class="card-block">
		<div class="float-right">
			<%= render "my_leksi/level_completion",
								 user_word: user_word
			%>
		</div>
		<%= render "words/basics", word: user_word.word %>
		<div class="text-center">
			<%= render "my_leksi/mastery_percentage",
				word: user_word.word,
				user_word: user_word
			%>
		</div>
	</div>
</div>
