<div class="center">
	<% if user_word.freestyle_completed? %>
		<div class="text-xs-center text-success" id="progress-bar-100">100%</div>
		<progress class="progress progress-success"
							value="100"
							max="100"></progress>
	<% elsif user_word.fundamental_not_completed? %>
		<div class="text-xs-center text-success" id="progress-bar">0%</div>
		<progress class="progress progress-success"
							value="0"
							max="100"></progress>

		<%= link_to fund_game_link(word.id) do %>
		<% end %>
	<% elsif user_word.jeopardy_not_completed? %>
		<div class="text-xs-center text-success" id="progress-bar-33">33%</div>
		<progress class="progress progress-success"
							value="33"
							max="100"></progress>
		<%= link_to jeop_game_link(word.id) do %>
		<% end %>
	<% elsif user_word.jeopardy_completed? %>
		<div class="text-xs-center text-success" id="progress-bar-66">66%</div>
		<progress class="progress progress-success"
							value="66"
							max="100"></progress>
		<%= link_to free_game_link(word.id) do %>
		<% end %>
	<% end %>
</div>
