<div class="alert alert-warning center">
  <p class="basic-black-link">
    This is the place for your words.
    Look up and add your first one now!
  </p>
  <p>
    <%= render "searches/form", display_button_for: "user" %>
  </p>
</div>
<div class="search-results-container"></div>
