<div class="alert alert-info" role="alert">
  <p>
    <%= link_to "Explore new words", class: "alert-link" %>
    and add some new ones now!
  </p>
</div>
<p>
  <span class="text-muted">Empty.</span>
</p>
