<div class="card mb-3">
	<div class="card-block pb-1">
		<h5 class="card-title"><i class="fa fa-gamepad"></i> Game Zone</h5>
	</div>
	<ul class="list-group list-group-flush">
		<li class="list-group-item text-danger">
			Level 1: Spelling Speed
		</li>
		<li class="list-group-item text-danger">
			Level 2: Jumbled Letters
		</li>
		<li class="list-group-item text-danger">
			Level 3: Say It Right
		</li>
		<li class="list-group-item text-danger">
			Level 4: Decisions, Decisions
		</li>
		<li class="list-group-item text-danger">
			Level 5: Examples/Non-Examples
		</li>
		<li class="list-group-item text-danger">
			Level 6: Syns vs Ants
		</li>
		<li class="list-group-item text-warning">
			Level 7: Jeopardy
		</li>
		<li class="list-group-item text-warning">
			Level 8: Match 'Em All
		</li>
	  <li class="list-group-item text-success">
			Level 9: Sentence Stems
		</li>
	  <li class="list-group-item text-success">
			Level 10: Word Relationships
		</li>
	  <li class="list-group-item text-success">
			Level 11: Leksi Tale
		</li>
	  <li class="list-group-item text-success">
			Level 12: Describe Me, Describe Me Not
		</li>
	  <li class="list-group-item text-info">
			Level X: In My Life
		</li>
	</ul>
</div>
