<div class="row center">
	<div class="col-xs-4">
		<%= render "my_leksi/show_game_zone_fund",
			word: word,
			user_word: user_word
		%>
	</div>
	<div class="col-xs-4">
		<%= render "my_leksi/show_game_zone_jeop",
			word: word,
			user_word: user_word
		%>
	</div>
	<div class="col-xs-4">
		<%= render "my_leksi/show_game_zone_free",
			word: word,
			user_word: user_word
		%>
	</div>
</div>
