<div class="card mb-3">
	<div class="card-body">
		<h5 class="card-title">
			<i class="fa fa-tag"></i>
			Tags
		</h5>
		<% if current_user.has_tags? %>
			<%= render "my_leksi/tags_form", word: word %>
			<hr>
			<% if tags_exist?(current_user, word) %>
				<% tags_for(current_user, word).each do |tag| %>
					<%= render "my_leksi/tag", tag: tag, word: word %>
				<% end %>
			<% else %>
				<small class="text-muted">
					None
				</small>
			<% end %>
		<% else %>
			<small class="text-muted">
				<%= link_to "Create your first Tag", new_tag_path %>
				to organize your words.
			</small>
		<% end %>
	</div>
</div>
