<%= link_to "/myTags/#{tag.id}" do %>
	<span class="badge badge-default">
		<%= tag.name %>
		<span class="tag-on-word-show-page">
			<%= render "tags/remove_tag_btn_word_show_page",
				word: word,
				tag: tag
			%>
		</span>
	</span>
<% end %>
