<div class="panel panel-default">
	<div class="panel-body">
		<div class="float-right">
			<%= render "my_leksi/play_btn",
				user_word: user_word,
				word: word
			%>
		</div>
		<%= render "words/word", word: word %>
	</div>
</div>
