<div class="panel panel-default">
	<div class="panel-body">
		<div class="pull-right">
			<%= render "my_leksi/mastery_percentage",
				user_word: user_word,
				word: word
			%>
		</div>
		<%= render "words/display", word: word %>
	</div>
</div>
