<div class="modal fade"
		 id="word-tree-of-knowledge-modal"
		 tabindex="-1"
		 role="dialog"
		 aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button"
								class="close"
								data-dismiss="modal"
								aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
        <h4 class="modal-title" id="myModalLabel">
					The Word-Tree of Knowledge
				</h4>
      </div>
      <div class="modal-body">
				<p>
					This shows how well you know a word: the more times you play our
					games, you grow your knowledge of the word.
				</p>
				<p>
					Your goal is to grow each word and earn the Apple Tree:
					<%= image_tag(
						"strength4.png",
						alt: "Gold Apple Tree",
						title: "Gold Apple Tree")
					%>
				</p>
				<p>
					Also, we'll let you know when it's time to practice a word so you
					don't forget what it means and how to use it.
				</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"
								data-dismiss="modal">
					Close
				</button>
      </div>
    </div>
  </div>
</div>
