<p id="blog-leksi-name-snapshot" class="pointer">
  <%= image_tag("leksi_name.png",
  alt: "Lexicon pronunciation first five letters",
  class: "img-responsive") %>
</p>

<p id="blog-leksi-name-snapshot-revealed">
  <%= image_tag("leksi_name_revealed.png",
  alt: "Lexicon pronunciation first five letters revealed",
  class: "img-responsive") %>
</p>

<p>
  For Part 2 of this series, here it is:
  <span class="basic-apple-blue-link">
    <%= link_to "All About Leksi, Part II: Our Founder\'s Aha! Moment",
      BlogPost.find(2) unless Rails.env.test? %>
  </span>
</p>
