<div class="thin-white-section">
	<h3>
		Comments
	</h3>

	<% if @blog_post_comments %>
		<ol reversed>
			<% @blog_post_comments.each do |c| %>
				<li><%= c.description %></li>
			<% end %>
		</ol>
	<% end %>

	<hr>

	<p class="lead">Join the conversation!</p>

	<%= render "comments/form", blog_post: blog_post, comment: comment %>
</div>
