<% title "Blog" %>
<% description "The Leksi Blog is the place for announcements, articles, advice,
  research, and so much more about language and words. " %>
<% set_meta_tags keywords: "blog research announcements vocabulary words
  literacy learning education vocab fun" %>

<% set_meta_tags og: {
  title: "Blog",
	description: "The Leksi Blog is the place for announcements, articles, advice,
    research, and so much more about language and words."
} %>

<% set_meta_tags twitter: {
  card: "The Leksi Blog is the place for announcements, articles, advice,
    research, and so much more about language and words.",
  title: "Blog",
  description: "The Leksi Blog is the place for announcements, articles, advice,
    research, and so much more about language and words."
} %>

<%= render "static_pages/header", icon: "newspaper-o", header: "Leksi Blog" %>

<div class="thin-gray-section">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
      <%= render "blog_posts/preview",
        icon: "map-o",
        title: "All About Leksi, Part II: Our Founder's Aha! Moment",
        date: "08/06/1988",
        content: "Preview for blog post",
        url: all_about_leksi_part_2_path %>
      <%= render "blog_posts/preview",
        icon: "map-o",
        title: "All About Leksi, Part I: What\'s in a Name?",
        date: "08/06/1988",
        content: "Preview for blog post",
        url: all_about_leksi_part_1_path %>
		</div>
	</div>
</div>
