<% title "Blog" %>
<% description "The Leksi Blog is the place for announcements, articles, advice,
  research, and so much more about language and words. " %>
<% set_meta_tags keywords: "blog research announcements vocabulary words
  literacy learning education vocab fun" %>

<% set_meta_tags og: {
  title: "Blog",
	description: "The Leksi Blog is the place for announcements, articles, advice,
    research, and so much more about language and words."
} %>

<% set_meta_tags twitter: {
  card: "The Leksi Blog is the place for announcements, articles, advice,
    research, and so much more about language and words.",
  title: "Blog",
  description: "The Leksi Blog is the place for announcements, articles, advice,
    research, and so much more about language and words."
} %>

<%= render "static_pages/header", icon: "newspaper-o", header: "Leksi Blog" %>

<div class="thin-gray-section">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
        <% @blog_posts.each do |blog_post| %>
          <%= render "blog_posts/preview",
            icon: blog_post.icon,
            title: blog_post.title,
            date: time_ago_in_words(blog_post.created_at),
            content: blog_post.content.truncate(60),
            blog_post: blog_post %>
        <% end %>

			<div class="clear"></div>
		</div>
	</div>
</div>
