<h1><%= icon "users" %> Edit Classroom</h1>
<div class="card">
	<div class="card-block">
		<%= render "school/classrooms/form",
							 classroom: @classroom,
							 btn_text: "Update"
    %>
	</div>
</div>
