<% provide(:title, "Classroom") %>
<% provide(:header, "Classroom #{@classroom.name}") %>
<nav class="breadcrumb">
	<%= link_to "Classrooms",
							school_classrooms_path,
							class: "breadcrumb-item"
	%>
  <span class="breadcrumb-item active"><%= @classroom.name %></span>
</nav>
<div class="mb-3">
	<div class="float-right">
		<%= link_to new_school_classroom_student_path(@classroom),
		role: "button",
		class: "btn btn-primary btn-block" do
			%>
			<i class="fa fa-plus-circle"></i> Add Students
			<% end %>
		</div>
		<div class="clear"></div>
</div>
<%= render "school/classrooms/students", classroom: @classroom %>
