<p>
	Hello Danelson,
</p>
<p>You received a new online message! Here it is:</p>
<hr>
<p><strong>Name:</strong> <%= @fields[:name] %></p>
<p><strong>Email:</strong> <%= @fields[:email] %></p>
<p><strong>School:</strong> <%= @fields[:school_name] %></p>
<p><strong>Comments:</strong> <%= @fields[:comments] %></p>
<hr>
<p>
	Hope it's an encouraging message. Regardless, keep pushing through and don't
	settle on what I'm meant to be.
</p>
<p>
	And, of course, follow up swiftly!
</p>
<p>
	With love, faith, and support,
	<br>
	Leksi
</p>
