<p>
	Hello Danelson,
</p>

<p>You received a new online message! Here it is:</p>

<p>Name: <%= @fields[:name] %></p>
<p>Email: <%= @fields[:email] %></p>
<p>School: <%= @fields[:school_name] %></p>
<p>Comments: <%= @fields[:comments] %></p>

<p>
	Hope it's an encouraging message. Regardless, keep pushing through and don't
	settle on what I'm meant to be.
</p>

<p>
	And, of course, follow up swiftly!
</p>

<p>
	With love, faith, and support,
	<br>
	Leksi
</p>
