<div class="box-shadow-border zero-padding">
	<h4 class="freestyle-header">Freestyle Games</h4>

	<div class="progress-xp-container row remove-side-margins">
		<div class="col-sm-6" align="center">
			<div class="prog-header prog-not-started-circle-green">
				<%= user.num_freestyle_games_not_started %>
			</div>
			<p class="lead">
				Not started
			</p>
		</div>
		<div class="col-sm-6">
			<div class="prog-header">
				<div class="inline-block">
					<%= image_tag("medal_green_100.png", class: "img-responsive",
						alt: "You\'ve earned a medal")
					%>
				</div>
				&nbsp;
				<div class="inline-block">
					<span class="leksi-green">
						<%= user.num_freestyle_games_completed %>
					</span>
				</div>
			</div>
			<p class="lead">
				Completed
			</p>
		</div>
	</div>
</div>
