<div class="card-deck text-center">
	<div class="card card-outline-success mb-3">
		<div class="card-body">
			<i class="fa fa-bullhorn"></i>
			<br>
			<%= user.num_incomplete_frees %>
			Freestyles Not started
		</div>
	</div>
	<div class="card card-outline-success mb-3">
		<div class="card-body">
			<i class="fa fa-trophy"></i>
			<br>
			<%= user.num_completed_frees %>
			Freestyles Completed
		</div>
	</div>
</div>
