<div class="box-shadow-border zero-padding">
	<h4 class="fundamentals-header">Fundamentals Games</h4>

	<div class="progress-xp-container row remove-side-margins">
		<div class="col-sm-4" align="center">
			<div class="prog-header prog-not-started-circle">
				<%= num_fundamentals_games_not_started(user) %>
			</div>
			<p class="lead">
				Not started
			</p>
		</div>
		<div class="col-sm-4" align="center">
			<div class="prog-header prog-in-progress-circle">
				<div class="prog-sm-in-progress-circle">
					<%= num_fundamentals_games_in_progress(user) %>
				</div>
			</div>
			<p class="lead">
				In progress
			</p>
		</div>
		<div class="col-sm-4">
			<div class="prog-header">
				<div class="inline-block">
					<%= image_tag("medal_red_78.png", class: "img-responsive", alt: "You\'ve earned a medal") %>
				</div>
				&nbsp;
				<div class="inline-block">
					<span class="leksi-red">
						<%= num_fundamentals_games_completed(user) %>
					</span>
				</div>
			</div>
			<p class="lead">
				Completed
			</p>
		</div>
	</div>
</div>
