<div class="card-deck text-center">
	<div class="card card-outline-warning mb-3">
		<div class="card-body mb-3">
			<i class="fa fa-bullhorn"></i>
			<br>
			<%= user.num_incomplete_jeops %>
			Battle of the Words Not started
		</div>
	</div>
	<div class="card card-outline-warning mb-3">
		<div class="card-body">
			<i class="fa fa-trophy"></i>
			<br>
			<%= user.num_completed_jeops %>
			Battle of the Words Completed
		</div>
	</div>
</div>
