<div class="card-deck text-center mb-3">
	<div class="card card-outline-warning">
		<div class="card-block">
			<i class="fa fa-bullhorn"></i>
			<br>
			<%= user.num_incomplete_jeops %>
			Battle of the Words Not started
		</div>
	</div>
	<div class="card card-outline-warning">
		<div class="card-block">
			<i class="fa fa-trophy"></i>
			<br>
			<%= user.num_completed_jeops %>
			Battle of the Words Completed
		</div>
	</div>
</div>
