<div>
	<h4>Jeopardy Games</h4>
	<div class="row">
		<div class="col-sm-6">
			<%= user.num_incomplete_jeops %>
			Not started
		</div>
		<div class="col-sm-6">
			<%= user.num_completed_jeops %>
			Completed
		</div>
	</div>
</div>
