<div class="box-shadow-border zero-padding">
	<h4 class="overview-header">Overview</h4>

	<div class="progress-xp-container row remove-side-margins">
		<div class="col-xs-4">
			<div class="prog-header">
				<%= user.myLeksi_mastery %>%
			</div>
			<p class="lead">
				myLeksi Mastered
			</p>
		</div>
		<div class="col-xs-4">
			<div class="prog-header">
				<%= user.time_spent_playing %>
			</div>
			<p class="lead">
				Time Spent Playing
				<small>(minutes)</small>
			</p>
		</div>
		<div class="col-xs-4">
			<div class="prog-header">
				<%= user.num_logins %>
			</div>
			<p class="lead">
				Time(s) Logged In
			</p>
		</div>
	</div>
</div>
