<div>
	<h4>Overview</h4>
	<div class="row">
		<div class="col-sm-4">
			<%= user.myLeksi_mastery %>%
			myLeksi Mastered
		</div>
		<div class="col-sm-4">
			<%= user.time_spent_playing %>
			Time Spent Playing (minutes)
		</div>
		<div class="col-sm-4">
			<%= user.num_logins %>
			Times Logged In
		</div>
	</div>
</div>
