<div class="card-deck text-center">
	<div class="card mb-6">
		<div class="card-body">
			<%= icon "book" %>
			<br>
			<%= user.num_words %>
			Words
		</div>
	</div>
	<div class="card mb-6">
		<div class="card-body">
			<i class="fa fa-trophy"></i>
			<br>
			<%= user.myLeksi_mastery %>%
			Words Mastered
		</div>
	</div>
</div>
<div class="card-deck text-center">
	<div class="card mb-3">
		<div class="card-body">
			<i class="fa fa-sign-in"></i>
			<br>
			<%= user.num_logins %>
			Times Logged In
		</div>
	</div>
</div>
