<div class="box-shadow-border zero-padding">
	<h4 class="overview-header">Overview</h4>

	<div class="progress-xp-container row remove-side-margins">
		<div class="col-xs-4">
			<div class="prog-header">
				<%= current_level(user) %>
			</div>
			<p class="lead">
				Current Level
			</p>
		</div>
		<div class="col-xs-4">
			<div class="prog-header">
				<%= user.points.to_s(:delimited) %>
			</div>
			<p class="lead">
				Current XP
			</p>
		</div>
		<div class="col-xs-4">
			<div class="prog-header">
				<%= pts_to_level_up(user) %>
			</div>
			<p class="lead">
				XP to level-up
			</p>
		</div>
	</div>
</div>
