<% provide(:title, "Users") %>
<% provide(:header, "Users (#{@user_count})") %>

<% @users.each do |user| %>
  <div class="box-shadow-border">
    <h4 class="tightness basic-apple-blue-link">
      <%= link_to user.username, user %>
      <small>joined <%= time_ago_in_words(user.created_at) %> ago.</small>
    </h4>
  </div>
  <br>
<% end %>
