<% provide(:title, "Users") %>
<% provide(:header, "Users (#{@user_count})") %>

<% @users.each do |user| %>
  <div class="box-shadow-border">
    <h4 class="tightness">
      <%= link_to user.username, user %>
    </h4>
  </div>
  <br>
<% end %>
