<% provide(:title, @user.username) %>
<% provide(:header, @user.username) %>

<p>
  Joined <%= time_ago_in_words(@user.created_at) %> ago.
</p>

<p>
  # of Words: <%= @user.words.count %>
</p>

<p>
  # of Tags: <%= @user.tags.count %>
</p>
