<% if user_word.fundamental_completed? %>
	<p class="data-url pointer hover"
				data-url="<%= fund_game_link(word.id) %>">
		<%= image_tag(
			"strength1.png",
			alt: "0% Mastered",
			title: "0% Mastered")
		%>
		<br>
		Fundamentals
		<i class="fa fa-check-square-o"></i>
	</p>
<% else %>
	<p class="data-url pointer hover"
				data-url="<%= fund_game_link(word.id) %>">
		<%= image_tag(
			"strength1.png",
			alt: "0% Mastered",
			title: "0% Mastered")
		%>
		<br>
		Fundamentals
	</p>
<% end %>
