<div class="modal-examples-div">
	<%= link_to "Click here to see good and bad examples",
							"#",
							"data-toggle": "modal",
							"data-target": "#word-rel-modal"  %>.
	<div class="modal fade"
			 id="word-rel-modal"
			 tabindex="-1"
			 role="dialog"
			 aria-labelledby="exampleModalLongTitle"
			 aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLongTitle">
						Freestyle: Word Relationships
					</h5>
	        <button type="button"
									class="close"
									data-dismiss="modal"
									aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <h4><%= emoji "--1" %> Good Examples</h4>
					<ol>
						<li>
							<p class="bg-faded">accident + past</p>
							<p>
								In the past, there were many street accidents because
								there wasn't a stop sign.
							</p>
						</li>
						<li>
							<p class="bg-faded">beach + aware</p>
							<p>
								It was really bright at the beach because the sun was
								out and there weren't any clouds.
							</p>
						</li>
						<li>
							<p class="bg-faded">invent + team</p>
							<p>
								My best friend asked to team up so we could invent
								an idea to help other students like us.
							</p>
						</li>
					</ol>
	        <h4><%= emoji "-1" %></i> Bad Examples</h4>
					<ol>
						<li>
							<p class="bg-faded">ocean + notice</p>
							<p>fkjnf kjwnes sssssss</p>
						</li>
						<li>
							<p class="bg-faded">gap + flap</p>
							<p>They both have the letter "a" and rhyme.</p>
						</li>
						<li>
							<p class="bg-faded">village + luxury</p>
							<p>village luxury</p>
						</li>
					</ol>
	      </div>
	      <div class="modal-footer">
	        <button type="button"
									class="btn btn-secondary"
									data-dismiss="modal">
						Close
					</button>
	        <button type="button"
									class="btn btn-primary"
									data-dismiss="modal">Okay, I got it!</button>
	      </div>
	    </div>
	  </div>
	</div>
</div>
