<div class="card">
	<div class="card-block">
		<div class="form-group">
			<%= label_tag "Context", nil, class: "form-control-label sr-only" %>
			<h4 class="card-title">
				Describe how you have seen, heard, or used the word above outside of
				class.
			</h4>
			<%= text_area_tag :in_my_life,
												 nil,
												 class: "form-control"
			%>
		</div>
	</div>
</div>
