<% if current_user.is_student? %>
  <div class="card mb-3">
    <div class="card-body">
      <h4 class="card-title">
        <%= icon "commenting-o" %> Teacher Review
      </h4>
      <p class="card-text">
        A Teacher may check your responses and provide
        feedback. Make sure to come back to Leksi to see their feedback!
      </p>
    </div>
  </div>
<% end %>

...removed next-game feature would be here...
