<% if words.class == String %>
	<div class="alert alert-danger"><%= results %></div>
<% else %>
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<% words.each do |word| %>
					<div class="card mb-3">
						<div class="card-body">
							<%= render "words/basics", word: word %>
						</div>
					</div>
			<% end %>
		</div>
	</div>
<% end %>
