<h3 class="tightness">
  <div class="red_circle"></div>
  <span><%= word.name %></span>
</h3>

<p>
  <%= word.pronunciation %>
  &nbsp; &nbsp;
  <em><%= word.part_of_speech %></em>
</p>

<p><%= word.definition %></p>

<hr/>
