<div class="menu-header">
	<span class="lead">Assessments</span>
</div>

<%= link_to knowledge_scale_path, class: "list-group-item" do %>
	<i class="fa fa-balance-scale fa-fw"></i>&nbsp; Knowledge Scale
<% end %>
