<div class="card mb-3">
	<div class="card-block">
		<h4 class="card-title">
			<i class="fa fa-question-circle"></i> Help
		</h4>
	</div>
	<ul class="list-group list-group-flush">
		<li class="list-group-item">
			<%= link_to gamezone_path do %>
				<i class="fa fa-gamepad fa-fw"></i> What's the Game Zone?
			<% end %>
		</li>
	</ul>
</div>
