<div class="alert alert-warning center">
  <div align="center">
    <div>
      <%= image_tag("tag_black_filled_32.png", alt: "Tag", class: "img-responsive") %>
    </div>
    <p class="basic-black-link">
      You don't have any tags;
      <%= link_to "create one", new_tag_path %> now!
    </p>
  </div>
</div>
