<div class="alert alert-warning center">
  <div align="center">
    <p class="basic-black-link">
      <em>myLeksi</em> is the place for all of your words.
      Look up and add one now!

      <%= render "searches/form", display_button_for: "user" %>
    </p>
  </div>

</div>

<div id="search-results-container"></div>
