<div class="float-right">
  <%= image_tag("add_color_65.png", alt: "Add word") %>
</div>

<div>
  <p class="basic-black-link lead">
    To play any of the Leksi games, you need to add a word first.
    Look one up and then add it to your Leksi!

    <%= render "searches/form", account_type: "student" %>
  </p>
</div>
