<div class="alert alert-warning center">
  <div align="center">
    <p class="basic-black-link">
      To play, tap "Random word" above or
      <%= link_to "define and add a word", search_path %> first!
    </p>
  </div>
</div>
