<div class="alert alert-warning center">
  <p class="basic-black-link">
    <em>myLeksi</em> is the place for all of your words.
    Look up and add one now!
  </p>

  <p>
    <%= render "searches/form", display_button_for: "user" %>
  </p>
</div>

<div class="search-results-container"></div>
