<div class="center well well-sm">
  <div class="row basic_red_link">
    <div class="col-xs-6" align="center">
      <div class="basic_red_link">
        <%=
          image_tag(
            "sources_black_filled_32.png",
            alt: "Sources",
            class: "img-responsive"
          )
        %>
      </div>
      <p>
        <span class="badge">
          1
        </span>
        <%= link_to "Create at least one source", new_source_path %>
        so that you know where your words come from.
      </p>
    </div>
    <div class="col-xs-6"  align="center">
      <div class="basic_red_link">
        <%= image_tag("search_black_filled_32.png", alt: "Define", class: "img-responsive") %>
      </div>
      <p>
        <span class=" badge">2</span>
        Grow your personal dictionary by
        <%= link_to "defining and adding a word", search_path %>!
      </p>
    </div>
  </div>
</div>
