<div class="alert alert-warning center">
  <div align="center">
    <div>
      <i class="fa fa-tags"></i>
    </div>
    <p class="basic-black-link">
      Tags allow you to organize your words. Create your first tag now.

      <%= render "tags/form" %>
    </p>
  </div>
</div>
