<div class="alert alert-warning center col-sm-8 col-sm-offset-2">
  <p class="lead">
    <i class="fa fa-tags"></i>
    Tags allow you to organize your words. Create your first tag now.
  </p>
  <p>
    <%= render "tags/form" %>
  </p>
</div>
