<div class="alert alert-warning center">
  <div align="center">
    <div>
      <%= image_tag("tag_black_filled_32.png", alt: "Tag", class: "img-responsive") %>
    </div>
    <p class="basic-black-link">
      Tags allow you to organize your words. Create your first tag now.

      <%= render "tags/form" %>
    </p>
  </div>
</div>
