<div class="center well well-sm">
  <div class="row basic-red-link">
    <div align="center">
      <div class="basic-red-link">
        <%= image_tag("search_black_filled_32.png", alt: "Define", class: "img-responsive") %>
      </div>
      <p>
        Grow your personal dictionary by
        <%= link_to "defining and adding a word", search_path %>!
      </p>
    </div>
  </div>
</div>
