<div class="card">
	<div class="card-block">
		<h1 class="card-title">
			<i class="fa fa-comment"></i> Feedback
		</h1>
	</div>
	<ul class="list-group list-group-flush">
		<li class="list-group-item">
			<%= link_to new_feedback_path do %>
				<i class="fa fa-bug fa-fw"></i>&nbsp; Report a problem
			<% end %>
		</li>
		<li class="list-group-item">
			<%= link_to new_feedback_path do %>
				<i class="fa fa-magic fa-fw"></i>&nbsp; I wish Leksi could...
			<% end %>
		</li>
		<li class="list-group-item">
			<%= link_to new_version_review_path(latest_version) do %>
				<i class="fa fa-star fa-fw"></i>&nbsp; Rate this app
			<% end %>
		</li>
	</ul>
</div>
