<% tags_for(current_user, word).each do |tag| %>
	<div class="tags-for-a-word">
		<div class="tag">
			<div class="basic-black-link inline-block">
				<%= tag.name.truncate(30) %>
			</div>
			&nbsp;
			<div class="tag-on-word-show-page inline-block pull-right">
				<%= render "tags/remove_tag_btn_word_show_page",
					word: word,
					tag: tag
				%>
			</div>
		</div>
	</div>
<% end %>
