<div class="panel panel-info">
	<div class="panel-heading">
		<!-- <div class="pull-right">
			<i class="fa fa-info-circle pointer leksi-purple"></i>
		</div> -->
		Tags
	</div>
	<div class="panel-body">
		<% if current_user.has_tags? %>
			<% if tags_exist?(current_user, word) %>
				<%= render "current_users/tags_index", word: word %>
				<div class="clear"></div>
				<hr>
			<% end %>
			<%= render "current_users/tags_form", word: word %>
		<% else %>
			<small class="dark-gray">
				<%= link_to "Create your first tag", new_tag_path %>
				to start organizing your words.
			</small>
		<% end %>
	</div>
</div>
