<% tags_for(current_user, word).each do |tag| %>
		<div class="tag">
			<%= tag.name %>
			&nbsp;
			<span class="tag-on-word-show-page">
				<%= render "tags/remove_tag_btn_word_show_page",
					word: word,
					tag: tag
				%>
			</span>
		</div>
<% end %>
