<div class="menu-header">
	<span class="lead">Tags</span>
</div>

<%= link_to myTags_path, class: "list-group-item" do %>
	<i class="fa fa-tags fa-fw"></i>&nbsp; View all
<% end %>

<%= link_to new_tag_path, class: "list-group-item" do %>
	<i class="fa fa-plus-circle fa-fw"></i>&nbsp; Create
<% end %>
