<% if words.class == String %>
	<div class="alert alert-danger center"><%= words %></div>
<% else %>
	<% words.each do |word| %>
		<%= render "current_users/word_card",
			word: word,
			user_word: UserWord.object(current_user, word)
		%>
	<% end %>
<% end %>
