<h1><%= icon "#{@icon}" %> Feedback</h1>
<p class="lead">
	We'd love to hear from you and will always respond <%= icon "smile-o" %>.
</p>
<div class="card">
	<div class="card-block">
		<%= render "contact_us_mailer/form" %>
	</div>
</div>
