<% provide(:title, "Home") %>
<% provide(:header, "Home") %>

<div class="current-users-home-container">
  <div class="row">
    <div class="col-sm-7 center">
      <% unless current_user.has_games_to_play? %>
        <div class="inline-block game-zone-margin data-url pointer
        						add-show-game-circle"
        		 data-url="/search">
        	<div class="x-large-font">
        		&#043;
        	</div>

        	<br>

        	<span class="lead">add</span>
        </div>
      <% end %>

      <%= render "current_users/game_zone" %>
    </div>
    <div class="col-sm-5">
      <%= render "current_users/home_right_panels" %>
    </div>
  </div>
</div>
