<% provide(:title, "Home") %>
<% provide(:header, "Home") %>

<div class="row">
  <div class="col-sm-7 center">
    <%= render "current_users/game_zone" %>
  </div>
  <div class="col-sm-5">
    <%= render "current_users/home_right_panels" %>
  </div>
</div>
