<% provide(:title, "myLeksi") %>
<% provide(:header, "myLeksi") %>

<div class="row lead">
  <div class="col-sm-6 col-sm-offset-3">
    <% if current_user.has_words? %>
      <div id="myLeksi-filter-container">
        <div class="pull-right">
          <i class="fa fa-search"></i>
          <i class="fa fa-search"></i>
          <i class="fa fa-search"></i>
          <i class="fa fa-search"></i>
        </div>
        <div>
          Total words: <%= @current_user_words_count %>
        </div>
      </div>
      <div class="clear"></div>

      <% @current_user_words.each_with_index do |word, i| %>
        <%= render "current_users/word_card",
          word: word,
          user_word: UserWord.object(current_user, word)
        %>
      <% end %>
    <% else %>
      <%= render "current_users/no_words_guide" %>
    <% end %>
    <br>
  </div>
</div>
