<% provide(:header, "Menu") %>
<div class="row">
  <div class="col-sm-6">
    <%= render "current_users/profile" %>
    <%#= render "current_users/assessments" %>
  </div>
  <div class="col-sm-6">
    <%= render "current_users/settings" %>
  </div>
</div>
