<h1><%= icon "gear" %> Settings</h1>
<div class="row">
  <div class="col-md-4">
    <%= render "current_users/profile" %>
  </div>
  <div class="col-md-4">
    <%= render "current_users/settings" %>
  </div>
  <div class="col-md-4">
    <%= render "current_users/help" %>
  </div>
</div>
