<% provide(:title, "myTags") %>
<% provide(:header, "myTags") %>

<% if Rails.env.test? %>
  <%= link_to "new source", new_source_path %>
<% end %>

<% if current_user.has_sources? %>
  <div class="basic-black-link">
    <% @current_user_sources.each do |source| %>
      <h3 class="tightness">
        <span>
          <%= link_to source.name, source %>
          <span class="badge">
            <%= words_for_a(source).count %>
          </span>
        </span>
      </h3>
      <hr>
    <% end %>
  </div>
<% else %>
  <p class="lead">
    You don't have any sources.
    <span class="basic-black-link">
      <%= link_to "Create one", new_source_path %> now!
    </span>
  </p>
<% end %>
