<% provide(:title, "myLeksi") %>
<% provide(:header, "myLeksi") %>

<div>
  <% if current_user.has_words? %>
    <% @current_user_user_words.each do |user_word| %>
      <% word = user_word.word %>
      <div class="box-shadow-border col-sm-6 col-sm-offset-3">
        <div class="pull-right">
          <%= render "games/display_game_start_btn", user_word: user_word,
                                                     word: word
          %>
        </div>
        <div class="word-partial">
          <%= render "words/word", word: word %>
        </div>
      </div>
    <% end %>
  <% else %>
    <%= render "current_users/no_words_guide" %>
  <% end %>
</div>
