<div class="jumbotron p-2 text-left m-0 mb-3">
	<h1 class="display-4 target-word-header d-inline pr-3">
		<%= target_word.name %>
	</h1>
	<p class="lead d-inline">
		<span class="text-muted"><%= target_word.part_of_speech %></span>
		<%= array_of(target_word, "definition").first %>
	</p>
	<hr class="my-4">
	<h5 id="directions">
		<strong><%= emoji "female-teacher" %> Directions:</strong>
		<span class="game-directions"></span>
	</h5>
</div>
