<div id="directions" class="card bg-light mb-4">
	<h2 class="card-header">
		<strong><%= emoji "speaking_head_in_silhouette" %> Directions:</stroong>
		<span class="game-directions"></span>
	</h2>
</div>
<div class="jumbotron p-2 text-left m-0 mb-4">
	<h1 class="display-4 target-word-header d-inline pr-3">
		<%= target_word.name %>
	</h1>
	<p class="lead d-inline">
		<span class="text-muted"><%= target_word.part_of_speech %></span>
		<%= array_of(target_word, "definition").first %>
	</p>
</div>
