<div class="form-group bg-primary p-2">
	<label for="spell-the-word" class="form-control-label sr-only"></label>
	<input class="form-control input-lg spell-the-word"
				 type="text"
				 placeholder="(1)"
				 autofocus="true"
				 required>
  </input>
</div>
<div class="form-group">
	<label for="spell-the-word" class="form-control-label sr-only"></label>
	<input class="form-control input-lg spell-the-word"
				 type="text"
				 placeholder="(2)"
				 required>
  </input>
</div>
<div class="form-group">
	<label for="spell-the-word" class="form-control-label sr-only"></label>
	<input class="form-control input-lg spell-the-word"
				 type="text"
				 placeholder="(3)"
				 required>
  </input>
</div>
