<div class="game-<%= user_word.current_game %>-start-circle">
	<div class="center">
		<span
			class="game-circle-start-text"
		>
			<% if user_word.current_game == "one" %>
				<%= link_to "start!", fundamentals_path(word_id: word) %>
			<% else %>
				<%= link_to "start!", jeopardy_path(word_id: word) %>
			<% end %>
		</span>
	</div>
</div>
