<div class="">
	<% if user_word.current_game == "one" %>
		<div class="game-<%= user_word.current_game %>-start-circle">
			<div class="center">
					<span
						class="game-circle-start-text"
					>
						<%= link_to "Play", fundamentals_path(word_id: word) %>
					</span>
			</div>
		</div>
	<% elsif user_word.fundamentals_completed? %>
			<%= image_tag("medal_red_35.png", alt: "You\'ve earned a medal") %>
	<% end %>
</div>
