<div class="game-<%= user_word.current_game %>-start-circle">
	<div class="center">
		<span
			class="game-<%= user_word.current_game %>-circle-start-text"
		>
			<%= link_to "start", fundamentals_path(word: word) %>
		</span>
	</div>
</div>
