<div class="game-<%= user_word.current_game %>-start-circle">
	<div class="center">
		<span
			class="game-<%= user_word.current_game %>-circle-start-text"
		>
			<% if user_word.current_game == "one" %>
				<%= link_to "start", fundamentals_path(word: word) %>
			<% else %>
				<%= link_to "start", jeopardies_path(word: word) %>
			<% end %>
		</span>
	</div>
</div>
