<div class="round-the-buttons" id="continue_button_container">
	<br>
	<button type="button" class="btn btn-success btn-block" id="spell_the_word_continue_button">Continue</button>
	<button type="button" class="btn btn-success btn-block" id="fill_in_the_blank_continue_button">Continue</button>
	<button type="button" class="btn btn-success btn-block" id="pronunciation_continue_button">Continue</button>
	<button type="button" class="btn btn-success btn-block" id="meanings_continue_button">Continue</button>
	<button type="button" class="btn btn-success btn-block" id="synonyms_continue_button">Continue</button>
	<button type="button" class="btn btn-success btn-block" id="antonyms_continue_button">Continue</button>
	<button type="button" class="btn btn-success btn-block" id="syn_ant_checkpoint_continue_button">Continue</button>
	<% if params[:controller] == "games" %>
		<button type="button" class="btn btn-warning btn-block" id="real_world_examples_continue_button">Finish!</button>
	<% end %>
</div>
