<div class="round-the-buttons" id="continue_button_container">
	<br>
	<button type="button" class="btn btn-success btn-block hvr-bob"
					id="spell_the_word_continue_button">Continue</button>
	<button type="button" class="btn btn-success btn-block hvr-bob"
					id="fill_in_the_blank_continue_button">Continue</button>
	<button type="button" class="btn btn-success btn-block hvr-bob" 
					id="pronunciation_continue_button">Continue</button>
	<button type="button" class="btn btn-success btn-block hvr-bob"
					id="meanings_continue_button">Continue</button>
	<button type="button" class="btn btn-success btn-block hvr-bob"
					id="synonyms_continue_button">Continue</button>
	<button type="button" class="btn btn-success btn-block hvr-bob"
					id="antonyms_continue_button">Continue</button>
	<button type="button" class="btn btn-success btn-block hvr-bob"
					id="syn_ant_checkpoint_continue_button">Continue</button>
	<% if params[:controller] == "games" %>
		<button type="button" class="btn btn-warning btn-block hvr-bob"
						id="real_world_examples_continue_button">Finish!</button>
	<% end %>
</div>
