<div class="card card-outline-primary">
	<div class="card-block">
		<h4 class="card-title" id="activity_name">
			Welcome to Jeopardy!
		</h4>
		<p class="card-text" id="jeopardy-pregame">
			<div id="jeop-controller"
					 data-controller="<%= params[:controller] %>"
					 data-tag-id="<%= params[:tag_id] %>"></div>
			Earn <i class="fa fa-heart gray"></i>s
			for every question you answer correctly.
			<br>
			Collect at least three <i class="fa fa-heart gray"></i>s
			for your words to advance.
			<br>
			<br>
			<span class="jeopardy-begin-game hover text-success">
				<i class="fa fa-play-circle fa-4x"></i>
				<strong>Play</strong>
			</span>
			<div class="palabra" data-word-id="<%= @chosen_word.id %>"></div>
		</p>
		<div class="lead">
			<span id="jeopardy-specific-instruction"></span>
		</div>
	</div>
</div>
