<div id="level_two_results" class="lead">
	<div>
		<div class="result_circle inline_block"
			   id="level_two_results_first_circle"></div>
		<div class="inline_block" id="level_two_results_first_word"></div>
	</div>

	<br/>

	<div>
		<div class="result_circle inline_block"
				 id="level_two_results_second_circle"></div>
		<div class="inline_block" id="level_two_results_second_word"></div>
	</div>

	<br/>

	<div>
		<div class="result_circle inline_block"
				 id="level_two_results_third_circle"></div>
		<div class="inline_block" id="level_two_results_third_word"></div>
	</div>

	<br/>

	<div>
		<div class="result_circle inline_block"
				 id="level_two_results_fourth_circle"></div>
		<div class="inline_block" id="level_two_results_fourth_word"></div>
	</div>
</div>
