<div class="card card-<%= color %> card-inverse mb-3 text-center">
	<div class="card-block">
		The next game, <%= next_game %>, will start in...
		<h4 class="display-3 text-center game-countdown"><%= seconds %></h4>
	</div>
</div>
