<% if logged_in? %>
	<div class="panel panel-default">
		<div class="panel-body center">
			<p class="lead">
				Ready for a bigger challenge?
			</p>
			<br>
			<div class="data-url hover" data-url="<%= url %>">
				<%= image_tag("#{image_src}",
					alt: "Play the #{game_name} Game",
					title: "Play the #{game_name} Game")
				%>
				<br>
				<strong>Play the <%= game_name %> Game</strong>
			</div>
		</div>
	</div>
	<% end %>
