<div class="text-center">
	<h3>
		<i class="em em-clap"></i>
		<%= random_congrats %>!
		<i class="em em-clap"></i>
	</h3>
	<p>
		Great job finishing the <%= game %> activity for
		<mark><%= word_name %></mark>.
	</p>
</div>
