<div id="pronunciation-spans">
	<span class="pronunciation-span">
		<audio src="https://ssl.gstatic.com/dictionary/static/sounds/de/0/"
					 id="audio"
					 class="audiooo"
					 preload="auto">
		</audio>
		<span>
			<i class="fa fa-volume-off hover funds-audio-btn"></i>
		</span>
	</span>
</div>
