<div id="spell-by-typing-activity">
	<div class="form-group spell-by-typing-form-group">
		<label for="spell-the-word" class="form-control-label sr-only"></label>
		<input class="form-control input-lg spell-the-word"
					 type="text" autofocus="true">
	  </input>
	</div>
</div>
