<div>
	<div class="form-group" id="spell-by-typing-form">
		<label for="spell-the-word" class="form-control-label sr-only"></label>
		<input id="spell-the-word"
					 class="form-control input-lg"
					 type="text"></input>
	</div>
</div>
