<%= render "games/fund_game_container",
	word: @chosen_word,
	record: @record,
	synonyms: @synonyms,
	antonyms: @antonyms,
	rwe: @real_world_examples %>

<div id="review_level_one_container" align="center">
	<div align="center">
		<%= image_tag("medal_red_100.png", alt: "Fundamental Medal") %>

		<h1>Congratulations!</h1>

		<p class="lead">
			<span id="level_congrats_text">
				You've completed the Fundamentals for
			</span>
		</p>

		<% if logged_in? && current_user.is_not_a_student? %>
			<%= render "games/share_accomplishment" %>
		<% end %>
	</div>
</div>

<%#= render "games/play_another" %>

<%= render "games/fund_buttons" %>
