<h1>Gamezone</h1>
<div id="gamezone">
	<div class="row text-center">
		<div class="col-sm-4">
			<div class="card card-danger mb-3">
				<div class="card-block">
					<p class="card-text">
						<i class="fa fa-trophy"></i> Level 1
						<br>
						Speed Speller
					</p>
				</div>
			</div>
		</div>
		<div class="col-sm-1">
			<i class="em em-hatching_chick"></i>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-sm-4 offset-sm-1">
			<div class="card card-danger mb-3">
				<div class="card-block">
					<p class="card-text">
						<i class="fa fa-trophy"></i> Level 2
						<br>
						Spelling Jumbler
					</p>
				</div>
			</div>
		</div>
		<div class="col-sm-1">
			<i class="em em-sheep"></i>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-sm-4 offset-sm-2">
			<div class="card card-danger mb-3">
				<div class="card-block">
					<p class="card-text">
						<i class="fa fa-trophy"></i> Level 3
						<br>
						Pronunciation (Say It Right!)
					</p>
				</div>
			</div>
		</div>
		<div class="col-sm-1">
			<i class="em em-panda_face"></i>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-sm-4 offset-sm-3">
			<div class="card card-danger mb-3">
				<div class="card-block">
					<p class="card-text">
						<i class="fa fa-trophy"></i> Level 4
						<br>
						Decisions, Decisions
					</p>
				</div>
			</div>
		</div>
		<div class="col-sm-1">
			<i class="em em-bee"></i>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-sm-4 offset-sm-4">
			<div class="card card-danger mb-3">
				<div class="card-block">
					<p class="card-text">
						<i class="fa fa-trophy"></i> Level 5
						<br>
						Examples/Non-Examples ()
					</p>
				</div>
			</div>
		</div>
		<div class="col-sm-1">
			<i class="em em-bear"></i>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-sm-4 offset-sm-5">
			<div class="card card-danger mb-3">
				<div class="card-block">
					<p class="card-text">
						<i class="fa fa-trophy"></i> Level 6
						<br>
						Synonyms ()
					</p>
				</div>
			</div>
		</div>
		<div class="col-sm-1">
			<i class="em em-cow"></i>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-sm-4 offset-sm-6">
			<div class="card card-danger mb-3">
				<div class="card-block">
					<p class="card-text">
						<i class="fa fa-trophy"></i> Level 7
						<br>
						Antonyms ()
					</p>
				</div>
			</div>
		</div>
		<div class="col-sm-1">
			<i class="em em-crocodile"></i>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-sm-1 offset-6">
			<i class="em em-dog"></i>
		</div>
		<div class="col-sm-4">
			<div class="card card-warning mb-3">
				<div class="card-block">
					<p class="card-text">
						<i class="fa fa-trophy"></i> Level 8
						<br>
						Match 'Em All
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-sm-1 offset-5">
			<i class="em em-tiger2"></i>
		</div>
		<div class="col-sm-4 ">
			<div class="card card-warning mb-3">
				<div class="card-block">
					<p class="card-text">
						<i class="fa fa-trophy"></i> Level 9
						<br>
						Jeopardy
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-sm-1 offset-4">
			<i class="em em-tropical_fish"></i>
		</div>
		<div class="col-sm-4">
			<div class="card card-success mb-3">
				<i class="fa fa-trophy"></i> Level 10
				<br>
				Sentence Stems ()
			</div>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-sm-1 offset-3">
			<i class="em em-elephant"></i>
		</div>
		<div class="col-sm-4">
			<div class="card card-success mb-3">
				<i class="fa fa-trophy"></i> Level 11
				<br>
				Word Relationships
			</div>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-sm-1 offset-2">
			<i class="em em-snake"></i>
		</div>
		<div class="col-sm-4">
			<div class="card card-success mb-3">
				<i class="fa fa-trophy"></i> Level 12
				<br>
				Leksi Tale
			</div>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-sm-1 offset-1">
			<i class="em em-hamster"></i>
		</div>
		<div class="col-sm-4">
			<div class="card card-success mb-3">
				<i class="fa fa-trophy"></i> Level 13
				<br>
				Describe Me, Describe Me Not
			</div>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-sm-1">
			<i class="em em-horse"></i>
		</div>
		<div class="col-sm-4">
			<div class="card card-success mb-3">
				<i class="fa fa-trophy"></i> Level 14
				<br>
				Word Wizard (In My Life)
			</div>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-sm-4">
			<div class="card card-outline-secondary mb-3">
				<i class="fa fa-plus-circle"></i>
				Suggest a New Level
			</div>
		</div>
	</div>
</div>
