<h1>Gamezone</h1>
<div id="gamezone" class="text-center">
	<h3 class="text-danger display-4 mt-4">
		The Fundamentals
		<br>
		<small class="text-muted">Start with the basics.</small>
	</h3>
	<div class="row">
		<div class="col-md-8 offset-md-2">
			<div class="card card-danger mb-3">
				<div class="card-block">
					<h4 class="card-title">
						<small>Level 1</small>
						<br>
						Speed Speller
					</h4>
					<p class="card-text">
						Type the target word as fast as you can. See if you can beat
						your previous typing record and earn even more Linero each time
						you type the word.
					</p>
				</div>
			</div>
			<div class="card card-danger mb-3">
				<div class="card-block">
					<h4 class="card-title">
						<small>Level 2</small>
						<br>
						Jumbled Spelling
					</h4>
					<p class="card-text">
						The letters for the target word have been mixed up and it's up
						to you to correctly put them back together.
					</p>
				</div>
			</div>
			<div class="card card-danger mb-3">
				<div class="card-block">
					<h4 class="card-title">
						<small>Level 3</small>
						<br>
						Say It Right
					</h4>
					<p class="card-text">
						Hear the pronunciation for the target word and say it right
						yourself.
					</p>
				</div>
			</div>
			<div class="card card-danger mb-3">
				<div class="card-block">
					<h4 class="card-title">
						<small>Level 4</small>
						<br>
						Decisions, Decisions
					</h4>
					<p class="card-text">
						You have the power to make important choices in this Level -
						be careful with the decisions you make.
					</p>
				</div>
			</div>
			<div class="card card-danger mb-3">
				<div class="card-block">
					<h4 class="card-title">
						<small>Level 5</small>
						<br>
						Examples/Non-Examples
					</h4>
					<p class="card-text">
						Figure out whether the scenarios are an example - or not! - of the
						target word.
					</p>
				</div>
			</div>
			<div class="card card-danger mb-3">
				<div class="card-block">
					<h4 class="card-title">
						<small>Level 6</small>
						<br>
						Syns versus Ants
					</h4>
					<p class="card-text">
						Match the synonym and antonym pairs for the target word.
					</p>
				</div>
			</div>
			<h3 class="text-warning mt-5 display-4">
				Battle of the Words
				<br>
				<small class="text-muted">Step your game up.</small>
			</h3>
			<div class="card card-warning mb-3">
				<div class="card-block">
					<h4 class="card-title">
						<small>Level 7</small>
						<br>
						Jeopardy
					</h4>
					<p class="card-text">
						Earn lots of Linero by picking a category and amount and then
						answering the question correctly. Of course, if you answer
						incorrectly, then you'll lose Linero.
					</p>
				</div>
			</div>
			<div class="card card-warning mb-3">
				<div class="card-block">
					<h4 class="card-title">
						<small>Level 8</small>
						<br>
						Match 'Em All
					</h4>
					<p class="card-text">
						Game and description coming soon.
					</p>
				</div>
			</div>
			<h3 class="text-success mt-5 display-4">
				Freestyle
				<br>
				<small class="text-muted">Unleash your creativity.</small>
			</h3>
			<div class="card card-success mb-3">
				<div class="card-block">
					<h4 class="card-title">
						<small>Level 9</small>
						<br>
						Sentence Stems
					</h4>
					<p class="card-text">
						Meet us halfway by finishing the given
						sentences for the target word.
					</p>
				</div>
			</div>
			<div class="card card-success mb-3">
				<div class="card-block">
					<h4 class="card-title">
						<small>Level 10</small>
						<br>
						Word Relationships
					</h4>
					<p class="card-text">
						Some words can be more alike than you think! Determine how the
						given words can relate to each other.
					</p>
				</div>
			</div>
			<div class="card card-success mb-3">
				<div class="card-block">
					<h4 class="card-title">
						<small>Level 11</small>
						<br>
						Leksi Tale
					</h4>
					<p class="card-text">
						Create a short story, poem, rap, etc.
						with at least three of your words. This can be real or fake so
						have fun with it.
					</p>
				</div>
			</div>
			<div class="card card-success mb-3">
				<div class="card-block">
					<h4 class="card-title">
						<small>Level 12</small>
						<br>
						Describe Me, Describe Me Not
					</h4>
					<p class="card-text">
						Hmmm...would you want to be described by the target word? In this
						Level, you'll briefly explain why.
					</p>
				</div>
			</div>
			<h3 class="text-info mt-5 display-4">
				In Perpetuum
				<br>
				<small class="text-muted">Practice makes (almost) perfect.</small>
			</h3>
			<div class="card card-info mb-3">
				<div class="card-block">
					<h4 class="card-title">
						<small>Level X</small>
						<br>
						In My Life
					</h4>
					<p class="card-text">
						Did you see or hear any of your words in the media, magazines,
						TV, social media, etc.? If so, let us know and
						earn some serious Linero!
					</p>
				</div>
			</div>
			<div class="card card-outline-secondary mt-5 mb-3">
				<div class="card-block">
					<i class="fa fa-plus-circle"></i> Suggest a New Level
				</div>
			</div>
		</div>
	</div>
</div>
