<h1>Gamezone</h1>
<div id="gamezone" class="text-center">
	<div class="row">
		<div class="col-md-8 offset-md-2">
			<div class="card card-danger mb-3">
				<div class="card-block">
					<h4 class="card-title">
						<u><i class="fa fa-trophy"></i> Level 1</u>
						<br>
						Speed Speller
					</h4>
					<p class="card-text">
						Description coming soon!
					</p>
				</div>
			</div>
			<div class="card card-danger mb-3">
				<div class="card-block">
					<h4 class="card-title">
						<u><i class="fa fa-trophy"></i> Level 2</u>
						<br>
						Jumbled Spelling
					</h4>
					<p class="card-text">
						Description coming soon!
					</p>
				</div>
			</div>
			<div class="card card-danger mb-3">
				<div class="card-block">
					<h4 class="card-title">
						<u><i class="fa fa-trophy"></i> Level 3</u>
						<br>
						Say It Right
					</h4>
					<p class="card-text">
						Description coming soon!
					</p>
				</div>
			</div>
			<div class="card card-danger mb-3">
				<div class="card-block">
					<h4 class="card-title">
						<u><i class="fa fa-trophy"></i> Level 4</u>
						<br>
						Decisions, Decisions
					</h4>
					<p class="card-text">
						Description coming soon!
					</p>
				</div>
			</div>
			<div class="card card-danger mb-3">
				<div class="card-block">
					<h4 class="card-title">
						<u><i class="fa fa-trophy"></i> Level 5</u>
						<br>
						Examples/Non-Examples
					</h4>
					<p class="card-text">
						Description coming soon!
					</p>
				</div>
			</div>
			<div class="card card-danger mb-3">
				<div class="card-block">
					<h4 class="card-title">
						<u><i class="fa fa-trophy"></i> Level 6</u>
						<br>
						Syns versus Ants
					</h4>
					<p class="card-text">
						Description coming soon!
					</p>
				</div>
			</div>
			<div class="card card-warning mb-3">
				<div class="card-block">
					<h4 class="card-title">
						<u><i class="fa fa-trophy"></i> Level 7</u>
						<br>
						Match 'Em All
					</h4>
					<p class="card-text">
						Description coming soon!
					</p>
				</div>
			</div>
			<div class="card card-warning mb-3">
				<div class="card-block">
					<h4 class="card-title">
						<u><i class="fa fa-trophy"></i> Level 8</u>
						<br>
						Jeopardy
					</h4>
					<p class="card-text">
						Description coming soon!
					</p>
				</div>
			</div>
			<div class="card card-success mb-3">
				<div class="card-block">
					<h4 class="card-title">
						<u><i class="fa fa-trophy"></i> Level 9</u>
						<br>
						Sentence Stems
					</h4>
					<p class="card-text">
						Description coming soon!
					</p>
				</div>
			</div>
			<div class="card card-success mb-3">
				<div class="card-block">
					<h4 class="card-title">
						<u><i class="fa fa-trophy"></i> Level 10</u>
						<br>
						Word Relationships
					</h4>
					<p class="card-text">
						Description coming soon!
					</p>
				</div>
			</div>
			<div class="card card-success mb-3">
				<div class="card-block">
					<h4 class="card-title">
						<u><i class="fa fa-trophy"></i> Level 11</u>
						<br>
						Leksi Tale
					</h4>
					<p class="card-text">
						Description coming soon!
					</p>
				</div>
			</div>
			<div class="card card-success mb-3">
				<div class="card-block">
					<h4 class="card-title">
						<u><i class="fa fa-trophy"></i> Level 12</u>
						<br>
						Describe Me, Describe Me Not
					</h4>
					<p class="card-text">
						Description coming soon!
					</p>
				</div>
			</div>
			<div class="card card-success mb-3">
				<div class="card-block">
					<h4 class="card-title">
						<u><i class="fa fa-trophy"></i> Level 13</u>
						<br>
						In My Life
					</h4>
					<p class="card-text">
						Description coming soon! (Based on Word Wizard, this activity...)
					</p>
				</div>
			</div>
			<div class="card card-outline-secondary mb-3">
				<div class="card-block">
					<i class="fa fa-plus-circle"></i> Suggest a New Level
				</div>
			</div>
		</div>
	</div>
</div>
