<%= render "games/jeop_game_container" %>

<div id="review_level_two_container" align="center">
	<%= image_tag("medal_orange_100.png", alt: "You\'ve earned a medal") %>

	<h1>Congratulations!</h1>

	<p class="lead">
		<span id="level_congrats_text">
			You've completed Jeopardy for the words below!
	</p>

	<% unless current_user.is_student? %>
		<%= render "games/share_accomplishment" %>
	<% end %>

	<hr/>

	<%= render "games/jeop_results" %>
</div>
