<h1>The next game, <em>Leksi Jeopardy</em>, is coming soon ;)</h1>

<br>

<p class="lead center">
	In the meantime, what do you think of Leksi? We'd love it if you could
	<span class="basic-apple-blue-link">
		<%= link_to "give us a rating", menu_path %>.
	</span>
	<strong>Thank you!</strong>
</p>
