<% provide(:title, "Pro Version") %>
<% provide(:header, "Leksi") %>

<h1>
	Thank you, <%= current_user.username %>, for using the Free Version of Leksi!
</h1>

<br>

<div class="lead center">
	<p>
		The Pro Version is coming out soon!
	</p>

	<p>
		In the meantime, what do you think? Please
		<span class="basic-apple-blue-link">
			<%= link_to "give Leksi a rating", menu_path %>.
		</span>
	</p>
</div>
