<div id="directions" class="card bg-light mb-4">
	<h2 class="card-header">
		<strong><%= emoji "speaking_head_in_silhouette" %> Directions:</strong>
		<span class="game-directions"></span>
	</h2>
</div>
