<div class="card mb-3 choose-word-option">
	<div class="card-body">
		<h1>Word 1</h1>
	</div>
</div>

<div class="card mb-3 choose-word-option">
	<div class="card-body">
		<h1>Word 2</h1>
	</div>
</div>

<div class="card mb-3 choose-word-option">
	<div class="card-body">
		<h1>Word 3</h1>
	</div>
</div>

<div class="card mb-3 choose-word-option">
	<div class="card-body">
		<h1>Word 4</h1>
	</div>
</div>
