<% provide(:header, "Frayer Model") %>
<% provide(:title, "Frayer Model") %>

<div class="row lead">
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				Meanings
			</div>
			<div class="panel-body">
				TBD
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				Characertistics/Facts
			</div>
			<div class="panel-body">
				TBD
			</div>
		</div>
	</div>
</div>
<div class="row lead">
	<div class="col-sm-6 col-sm-offset-3">
		<div class="bg-tree-brown" id="frayer-word-container">
			<h1>WORD</h1>
		</div>
	</div>
</div>
<div class="row lead">
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				Examples
			</div>
			<div class="panel-body">
				TBD
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				Non-Examples
			</div>
			<div class="panel-body">
				TBD
			</div>
		</div>
	</div>
</div>
