<% provide(:title, "Create a New Word") %>
<% provide(:header, "Create a New Word") %>

<div class="alert alert-info">
  <%= icon "info-circle" %>
  Complete the form below to create a new word. Then you can create content for
  that word via new forms that appear. Any content you create will be used for
  the Leksi games, which will help students truly learn these new words.
</div>
<div class="row">
  <div class="col-md-6 forms">
    <div class="card bg-light mb-3">
      <div class="card-body">
        <%= render "school/words/form", word: @word,
                                        btn_text: "Create"
        %>
      </div>
    </div>
  </div>
</div>
