<div class="card">
	<div class="card-block">
		<h1 class="card-title">
			<i class="fa fa-wrench"></i>
			App Tools
		</h1>
	</div>
	<ul class="list-group list-group-flush">
		<li class="list-group-item">
			<%= link_to admin_stats_path do %>
				<i class="fa fa-line-chart"></i>
				Stats
			<% end %>
		</li>
		<li class="list-group-item">
			<%= link_to admin_users_path do %>
				<i class="fa fa-users"></i>
				Users
			<% end %>
		</li>
	</ul>
</div>
