<% provide(:title, "Admin Menu") %>
<% provide(:header, "Admin Menu") %>

<div class="list-group row lead">
  <div class="col-sm-6 col-sm-offset-3">
    <%= render "current_users/profile" %>

    <%= render "current_users/settings" %>
  </div>
</div>
