<% provide(:title, "Admin Settings") %>
<% provide(:header, "Admin Settings") %>

<div class="row">
  <div class="col-md-6">
    <%= render "current_users/profile" %>
  </div>
  <div class="col-md-6">
    <%= render "admin/admins/tools" %>
  </div>
</div>
