<% if Word.untagged_for(current_user).include?(@word) %>
	<div>
		<% unless current_user.has_tags? %>
			<hr>
			<p>
				Tags help you organize your words by grouping them.
				<span class="basic-apple-blue-link">
					<%= link_to "Create your first tag", new_tag_path %> now.
				</span>
			</p>
			<%= render "tags/form" %>
			<hr>
		<% end %>
	</div>
<% else %>
	<br>
	<% tags_for(current_user, word).each do |tag| %>
		<div class="tags-for-a-word">
			<div class="tag">
				<div class="basic-black-link inline-block">
					<i class="fa fa-tag"></i>
					<%= tag.name.truncate(30) %>
				</div>
				&nbsp;
				&nbsp;
				<div class="tag-on-word-show-page inline-block pull-right">
					<%= render "tags/remove_tag_btn_word_show_page",
						word: word, tag: tag %>
				</div>
			</div>
		</div>
	<% end %>
<% end %>
