<h1><%= icon "tag" %> Edit Tag</h1>
<div class="card">
  <div class="card-body">
    <p class="lead">Use the form below to update this tag.</p>
    <%= render "tags/form", path: @tag, object: @tag, btn_text: "Update" %>
  </div>
  <div class="card-footer text-muted text-center">
    You added this tag <%= time_ago_in_words(@tag.created_at) %> ago.
    <br>
    <%= render "tags/remove_tag_btn_tag_show_page", tag: @tag %>
  </div>
</div>
