<% provide(:title, @tag.name) %>
<% provide(:header, @tag.name) %>

<div class="box-shadow-border">
  <div class="pull-right">
    <%=
      image_tag("myLeksi_black_filled_25.png",
        alt: "myTags", class: "img-responsive"
      )
    %>
  </div>
  <% if words_for(current_user, @tag).count > 0 %>
    <% words_for(current_user, @tag).each do |word| %>
      <div class="words-for-a-tag">
        <div class="tag col-xs-9">
          <div class="basic-black-link inline-block">
            <%=
              link_to word.name, word
            %>
          </div>
          <div class="word-on-tag-show-page inline-block pull-right">
            <%=
              render "words/remove_word_btn_tag_show_page",
              word: word, tag: @tag
            %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="clear"></div>
  <% else %>
    <div class="alert alert-warning">
        This tag doesn't have any words.
    </div>
  <% end %>
</div>
