<% provide(:title, "Versions") %>
<% provide(:header, "Versions") %>

<div class="basic-black-link">
  <% @versions.each do |version| %>
    <div class="box-shadow-border">
      <h3 class="tightness">
        <span>
          <%= link_to version_display_name, version %>
        </span>
        <small>
          Released <%= time_ago_in_words(version.created_at) %> ago.
        </small>
      </h3>
    </div>
    <br>
  <% end %>
</div>
