<% provide(:title, "Version #{@version.number}") %>
<% provide(:header, "Version #{@version.number}") %>

<%= render "versions/whats_new" %>

<% if @version.has_reviews? %>
  <p>
    Average Rating:
    <%= render "reviews/stars", rating: @version.average_rating %>
    (<%= @version.number_of_reviews %>)
  </p>
<% end %>
