<% provide(:title, "Classrooms") %>
<% provide(:header, "Classrooms") %>

<div class="box-shadow-border">
	<h4 class="overview-header">Class One</h4>

	<div class="row">
		<% @fs_class_one.each do |s| %>
			<div class="col-xs-4 center basic-apple-blue-link">
				<%= link_to s.username, user_path(s) %>
			</div>
		<% end %>
	</div>
</div>

<div class="box-shadow-border">
	<h4 class="overview-header">Class Two</h4>

	<div class="row">
		<% @fs_class_one.each do |s| %>
			<div class="col-xs-4 center basic-apple-blue-link">
				<%= link_to s.username, user_path(s) %>
			</div>
		<% end %>
	</div>
</div>
