<div>
	<button type="button"
					class="btn btn-outline-primary btn-block btn-lg jeop-btn">
		<%= name %>
		<br>
		<span></span>
		<i class="fa fa-question-circle-o text-muted"></i>
		<i class="fa fa-question-circle-o text-muted"></i>
		<i class="fa fa-question-circle-o text-muted"></i>
		<i class="fa fa-question-circle-o text-muted"></i>
		<i class="fa fa-question-circle-o text-muted"></i>
		<i class="fa fa-question-circle-o text-muted"></i>
	</button>
</div>
