<button type="button"
				class="btn btn-outline-primary btn-block btn-lg jeop-btn">
	<%= name %>
	<br>
	<% 5.times do %>
		<span><i class="fa fa-question-circle-o text-muted"></i></span>
	<% end %>
</button>
