<div id="directions">
	<p class="lead">
		<span class="text-primary">Directions:</span>
		<span id="game-instructions">
			Click on any Linero to answer the question displayed below.
		</span>
	</p>
</div>
