<div id="directions">
	<p class="lead">
		<span class="text-primary">Directions:</span>
		<span id="game-instructions">
			Click on any Linero to answer the question displayed below.
		</span>
	</p>
</div>
<div class="bg-faded">
	<div class="float-right p-3">0/20</div>
	<h3 id="chosen-word-header-container">determination</h3>
</div>
