<div class="card mb-3">
	<div class="card-block">
			<h5 class="card-title">
				Antonyms
			</h5>
			<% if word.has_antonyms? %>
				<% thesuarus_names(word, "antonyms").each do |name| %>
					&#8605; <%= name %>
					<br>
				<% end %>
			<% else %>
				<small class="text-muted">None</small>
			<% end %>
	</div>
</div>
