<h2 class="card-title">
	<% if controller?("my_leksi") && action?("index") %>
		<%= link_to word.name, myLeksi_show_path(word) %>
	<% else %>
		<%= word.name %>
	<% end %>
	<br>
	<%= render "words/pos_def", word: word %>
</h2>
