<div class="card">
  <div class="card-body">
    <%= render "words/basics", word: word %>
    <div>
      <h6>Examples</h6>
      <% if word.has_examples? %>
        <% word.examples.each do |example| %>
          <% array_of(example, "text").each do |e| %>
            - <%= e %>
            <br>
          <% end %>
        <% end %>
      <% else %>
        None
      <% end %>
    </div>
  </div>
</div>
