<% if word.has_synonyms? %>
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="lead">
				<i class="fa fa-book"></i>
				Synonyms
			</div>
			<% thesuarus_names(word, "synonyms").each do |name| %>
				&#8605; <%= name %>
				<br>
			<% end %>
		</div>
	</div>
<% end %>
