<div class="word-details">
  <p>
    <span class="word-phonetic-spelling"><%= word.phonetic_spelling %></span>
    &nbsp; &nbsp;
    <span class="word-part-of-speech">
      <em><%= word.part_of_speech %></em>
    </span>
  </p>
  <p>
    <span class="word-definition"><%= word.definition %></span>
  </p>
  <span class="word-example-sentence">
    <em><%= word.example_sentence %></em>
  </span>
</div>
