<h4 class="tightness">
  <span class="basic-apple-blue-link">
    <% if params[:controller] == "searches" ||
          params[:controller] == "games"
    %>
      <span class="word-name"><%= word.name %></span>
    <% else %>
      <%= link_to word.name, word %>
    <% end %>
  </span>
</h4>

<%= render "words/word_details", word: word %>
