<div class="word-details">
  <%= array_of(word, "definition").first %>.
  <br>
  <% unless word.example_sentence.nil? %>
    <span class="text-muted">
      "<%= array_of(word, "example_sentence").first %>"
    </span>
  <% end %>
</div>
