<div class="word-details">
  <p>
    <%= word.phonetic_spelling %>
    &nbsp; &nbsp;
    <em><%= word.part_of_speech %></em>
  </p>
  <p><%= word.definition %></p>
  <em><%= word.example_sentence %></em>
</div>
