<div>
  <%= array_of(word, "definition").first %>.
  <br>
  <% unless word.examples.nil? %>
    <span class="text-muted">
      "<%= array_of(word, "examples").first %>"
    </span>
  <% end %>
</div>
