<div class="word-details">
  <p>
    <span class="word-phonetic-spelling"><%= word.phonetic_spelling %></span>
    &nbsp; &nbsp;
    <span class="word-part-of-speech">
      <em><%= word.part_of_speech %></em>
    </span>
  </p>
  <p>
    <% word.definition.split(";").take(3).each do |d| %>
      <p>
        <span class="word-definition">&#8605; <%= d %></span>
      </p>
    <% end %>
  </p>
    <% word.example_sentence.split(";").take(3).each do |es| %>
      <hr>
      <p>
        <span class="word-example-sentence">
          <em><%= es %></em>
        </span>
      </p>
    <% end %>
</div>
