<div class="word-details">
  <div>
    <% top_three_entries_for(word, "definition").each do |d| %>
      <p>
        <span>&#8605; <%= d %></span>
      </p>
    <% end %>
  </div>

  <% unless word.example_sentence.nil? || word.example_sentence.empty? %>
    <div>
      <% top_three_entries_for(word, "example_sentence").each do |es| %>
        <p>
          <span class="word-example-sentence">
            <em>&#9997; <%= es %></em>
          </span>
        </p>
      <% end %>
    </div>
  <% end %>
</div>
