<% provide(:title, "All Words") %>
<% provide(:header, "All Words") %>

<div class="card-columns">
<% @words.each_with_index do |word, index| %>
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">
          <%= index + 1 %>. <%= link_to word.name, word %>
          <span class="text-muted"><%= word.part_of_speech %></span>
        </h4>
      </div>
    </div>
<% end %>
</div>
