<% provide(:title, "myLeksi") %>
<% provide(:header, "myLeksi") %>

<% if current_user.has_words? %>
  <% current_user.words.each do |word| %>
    <div class="word_partial">
      <div class="pull-right">
        <%=
          link_to "remove",
          user_word_path(id: UserWord.find_by(
            user: current_user,
            word: word).id,
            word_name: word.name
          ),
          method: :delete, class: "btn btn-default btn-sm"
        %>
      </div>
      <%= render "shared/word", word: word %>
      <hr>
    </div>
  <% end %>
<% else %>
  <%= render "words/no_words_guide" %>
<% end %>
