<% provide(:title, "All Words") %>
<% provide(:header, "All Words") %>

<% @words.each do |word| %>
  <div class="word_partial">
    <%= render "shared/word", word: word %>
    <hr>
  </div>
<% end %>
