<% provide(:title, "Words") %>
<% provide(:header, "Words") %>

<div class="card">
  <div class="card-block">
    <%= render "words/adventurous", word: @word %>

    <div>
      <h5>Examples</h5>
      <% if @word.has_examples? %>
        <% @word.examples.each do |example| %>
          <p><%= example.text %></p>
        <% end %>
      <% else %>
        None
      <% end %>
    </div>
  </div>
</div>
