<% provide(:title, @word.name) %>
<% provide(:header, @word.name) %>

<div>
  <p>
    <%= @word.phonetic_spelling %>
    &nbsp;
    &nbsp;
    <%= @word.part_of_speech %>
  </p>

  <%= render "words/word_details", word: @word %>
</div>
