<% provide(:title, "Words") %>
<% provide(:header, "Words") %>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render "words/display", word: @word %>
      </div>
    </div>
  </div>
</div>
