<% provide(:title, "New Feedback") %>
<% provide(:header, "New Feedback") %>

<p class="lead">
	We'd love to hear from you!
	Please be as detailed as possible <i class="fa fa-smile-o"></i>.
</p>
<div>
	<%= render "feedbacks/form", kind: "figure_it_out_lol" %>
</div>
