<div id="search-bar-container">
  <%= form_tag(
      search_current_user_words_path,
      method: "get",
      id: "search-form",
      remote: true
    ) do
  %>
    <div class="input-group">
      <%= label_tag :current_user_words, "Search",
        class: "control-label sr-only" %>
      <%= text_field_tag(
        :search,
        params[:search],
        class: "form-control center",
        id: "current_user_words"
      ) %>
      <span class="input-group-btn">
        <%= button_tag type: "submit",
                       class: "btn btn-success",
                       id: "search-current-user-words-btn" do
        %>
          <i class="fa fa-search"></i>
        <% end %>
      </span>
    </div>
  <% end %>
</div>
