<div class="modal fade"
		 id="search-info-guide-modal"
		 tabindex="-1"
		 role="dialog"
		 aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button"
								class="close"
								data-dismiss="modal"
								aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
        <h4 class="modal-title" id="myModalLabel">How to Look Up Words</h4>
      </div>
      <div class="modal-body">
				<div class="row" id="search-guide">
					<div class="col-sm-6">
						<span class="badge">1</span>
						Type a word in the box and tap the search-button to
						look up a word that you don't know. Or click
						<em>I'm feeling adventurous</em>
						to let us find one for you!
					</div>
					<br>
					<div class="col-sm-6">
						<span class="badge">2</span>
						Tap "<i class="fa fa-plus-circle"></i>"
						to stay on this page and continue looking up and defining words or
						"<i class="fa fa-gamepad"></i>"
						to begin playing immediately!
					</div>
				</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
					Close
				</button>
      </div>
    </div>
  </div>
</div>
