<div class="modal fade" id="myLeksi-modal" tabindex="-1" role="dialog">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 search-for-words-container">
      <div class="panel panel-default">
        <h4 class="center">
          Find words you already have:</h4>
        <div class="panel-body">
          <%= render "searches/current_user_words_form" %>
          <br>
          <div id="current-user-words-container"></div>
        </div>
        <button type="button"
                class="btn btn-primary btn-block"
                data-dismiss="modal">
          Close
      </button>
      </div>
    </div>
  </div>
</div>
