<% if results.class == String %>
	<div class="alert alert-danger center"><%= results %></div>
<% else %>
	<% results.each do |word| %>
		<div class="panel panel-default">
			<div class="panel-body">
				<%= render "words/display", word: word %>
			</div>
			<div class="panel-footer">
				<%= render "searches/results_options",
					display_button: display_button,
					word: word
				%>
			</div>
		</div>
	<% end %>
<% end %>
