<% if words.class == String %>
	<div class="alert alert-danger"><%= results %></div>
<% else %>
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<% words.each do |word| %>
					<div class="card">
						<div class="card-block">
							<%= render "words/basics", word: word %>
						</div>
						<div class="card-footer">
							<% if current_user.is_teacher? &&
										action?("multiple_words")
							%>
								<p class="text-muted">
									Create an Example/Non-Example below:
								</p>
								<%= render "school/example_non_examples/form", word: word %>
							<% end %>
						</div>
					</div>
			<% end %>
		</div>
	</div>
<% end %>
