<% if word_groups.nil? %>
	<div class="alert alert-danger"><%= error %></div>
<% else %>
	<dl class="row">
		<% word_groups.each_with_index do |(name, words), i| %>
				<% words.take(3).each do |word| %>
					<%= render "searches/dict_display", word: word %>
				<% end %>
		<% end %>
	</dl>
<% end %>
