<% if logged_in? %>
	<% if current_user.has_word?(word) %>
		<div class="alert alert-info">
			<%= icon "info-circle" %> You already saved this in your Notebook.
		</div>
	<% else %>
		<p>
			<%= link_to user_word_path(word_id: word.id),
									class: "btn btn-success",
									method: :post,
									remote: true do
			%>
				<i class="fa fa-plus-circle"></i>
				Add to Notebook
			<% end %>
		</p>
	<% end %>
<% end %>
