<% if word_groups.nil? %>
	<div class="alert alert-danger"><%= error %></div>
<% else %>
		<% word_groups.each_with_index do |(name, words), i| %>
				<% words.take(10).each do |word| %>
				<dl class="notebook row">
					<%= render "searches/dict_display", word: word,
																							account_type: account_type
          %>
				</dl>
				<% end %>
		<% end %>
<% end %>
