<% if logged_in? %>
	<p>
		<% if current_user.has_word?(word) %>
			<%= play_btn_small(UserWord.object(current_user, word), word.id) %>
		<% else %>
			<%= render "searches/user_play", word: word %>
		<% end %>

		<%= render "searches/user_add", word: word %>
	</p>
<% end %>
