<div class="modal fade"
		 id="search-info-guide-modal"
		 tabindex="-1"
		 role="dialog"
		 aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button"
								class="close"
								data-dismiss="modal"
								aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
        <h4 class="modal-title" id="myModalLabel">How to Look Up Words</h4>
      </div>
      <div class="modal-body">
				<p>
					Use the search bar to find words either in the
					dictionary or in your own <em>myLeksi</em>.
				</p>
				<p class="lead">
					When looking up a new word in the dictionary:
				</p>
				<div>
					<span class="badge">1</span>
					Type a word and then tap the search-button. Note that
					you can also click <em>I'm feeling adventurous</em>
					to see random words.
				</div>
				<div>
					<span class="badge">2</span>
					Tap "<i class="fa fa-save"></i> SAVE"
					to stay on this page and add more words or
					"<i class="fa fa-gamepad"></i> PLAY"
					to begin playing/learning immediately.
				</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
					Close
				</button>
      </div>
    </div>
  </div>
</div>
