<span class="hover">
	<% if current_user.already_has_word?(word) %>
		<% uw_id = UserWord.object(current_user, word).id %>

		<%= link_to user_word_path(id: uw_id), method: :delete do %>
			<i class="fa fa-remove fa-3x leksi-red"></i>
		<% end %>
	<% else %>
		<%= link_to user_word_path(id: word.id), method: :post do %>
			<i class="fa fa-plus-circle fa-3x"></i>
		<% end %>
	<% end %>
</span>
