<span class="hover">
	<% unless current_user.already_has_word?(word) %>
		<%= button_to user_word_path(search_btn: :play, id: word.id),
			class: "btn btn-success",
			method: :post do
		%>
			<i class="fa fa-gamepad"></i>
			PLAY
		<% end %>
	<% end %>
</span>
