<div class="text-muted">
	Filter:
	<a href="#" class="disabled">6th Grade</a>
	|
	7th Grade
	|
	<a href="#" class="disabled">8th Grade</a>
	<div class="float-right">
		<p>
			There are <%= pluralize(words.count, "word") %>.
		</p>
	</div>
	<div class="clear"></div>
</div>
<%= render "words/seventh_grade", words: words %>
