<% provide(:title, "Add") %>
<% provide(:header, "Add") %>

<div class="col-sm-8 col-sm-offset-2 add-look-up-word-container well">
  <%= render "searches/form", display_button_for: "user" %>

  <br>

  <div class="center gray">
    <small>powered by the Macmillan Dictionary</small>
  </div>
</div>

<br>

<div class="clear"></div>

<div class="search-results-container col-sm-8 col-sm-offset-2"></div>
