<% provide(:header, "Look Up") %>

<% title "Leksi Dictionary" %>
<% description "Look up words you don\'t know or select ones from a specific list" %>
<% set_meta_tags keywords: %w[learn education vocabulary vocab research engage fun langauge literacy english language study dictionary words flashcards games list notebook] %>

<% set_meta_tags og: {
  title:    "Leksi Dictionary",
	description: "Look up words you don\'t know or select ones from a specific list"
} %>

<% set_meta_tags twitter: {
  card: "Learn vocabulary free, without ads or hidden charges. It's simple, fun, and works.",
  title: "Leksi Dictionary",
  description: "Look up words you don\'t know or select ones from a specific list"
} %>

<div class="col-sm-6 col-sm-offset-3 add-look-up-word-container well">
  <div class="row center">
    <div class="col-xs-6">
      <span class="badge">1</span>
      Using the box or link below, look up a word that you don't know.
    </div>
    <div class="col-xs-6">
      <span class="badge">2</span>
      Tap "<i class="fa fa-plus-circle"></i>"
      to add and continue defining words or
      "<i class="fa fa-gamepad"></i>"
      to begin playing immediately!
    </div>
  </div>
  <br>
  <p>
    <%= render "searches/form", display_button_for: "user" %>
  </p>
  <p class="center">
    <span id="random-search-btn">
      <%= link_to "I\'m feeling adventurous!", search_results_path(
        rand: "rand",
        display_button_for: "user"),
        remote: true
      %>
    </span>
  </p>
</div>

<br>

<div class="clear"></div>

<div class="search-results-container col-sm-6 col-sm-offset-3"></div>
