<% provide(:header, "Explore") %>

<% title "Leksi Dictionary" %>
<% description "Look up words you don\'t know or select ones from a specific list" %>
<% set_meta_tags keywords: "learn education vocabulary vocab research engage fun langauge literacy english language study dictionary words flashcards games list notebook" %>

<% set_meta_tags og: {
  title:    "Leksi Dictionary",
	description: "Look up words you don\'t know or select ones from a specific list"
} %>

<% set_meta_tags twitter: {
  card: "Learn vocabulary free, without ads or hidden charges. It's simple, fun, and works.",
  title: "Leksi Dictionary",
  description: "Look up words you don\'t know or select ones from a specific list"
} %>

<div class="row">
  <div class="col-md-6 offset-md-1">
    <div class="card card-outline-primary">
      <div class="card-block">
        <h2 class="card-title">Look Up a Word</h2>
        <%= render "searches/form", display_button_for: "user" %>
      </div>
    </div>
    <div class="search-results-container"></div>
  </div>
  <div class="col-md-4">
    <div class="card">
    	<div class="card-header">
    		Feeling Adventurous? Here's a Random Word.
    		<div class="float-xs-right">
    			<%= link_to search_path, remote: true do %>
    				<i class="fa fa-refresh" id="random-search-btn"></i>
    			<% end %>
    		</div>
    	</div>
      <div class="card-block">
        <%= render "words/adventurous", word: @adventurous_word %>
      </div>
    </div>
  </div>
</div>
