<p>
	Hello Danelson,
</p>
<p>
	There's a new Freestyle response:
</p>
<hr>
<p><strong>From:</strong> <%= @user.username %></p>
<p><strong>Email:</strong> <%= @user.email %></p>
<p><strong>Game: <%= @game.name %></strong></p>
<p><strong>Response: <%= @free.input %></strong></p>
<hr>
<p>
	Please verify their response and, if you can, provide feedback, which
	students eagerly look forward to.
</p>
<p>
	If you have any questions or comments, we're always here for you.
</p>
<p>
	Talk to you soon,
	<br>
	Team Leksi
</p>
