<div class="row center">
	<div class="col-xs-4 hover">
		<%= render "my_tags/game_zone_fund", uw: user_word, word: word, tag: tag %>
	</div>
	<div class="col-xs-4 hover">
		<%= render "my_tags/game_zone_jeop", uw: user_word, word: word, tag: tag %>
	</div>
	<div class="col-xs-4 hover">
		<%= render "my_tags/game_zone_free", uw: user_word, word: word, tag: tag %>
	</div>
</div>
