<div class="card card-outline-primary">
  <div class="card-block">
    <p class="lead">
      Organize your words! Create your first tag now.
    </p>
    <%= render "tags/form", btn_text: "Create New Tag" %>
  </div>
</div>
