<div class="card card-outline-primary">
  <div class="card-block">
    <p class="lead">
      <i class="fa fa-tags"></i>
      Organize your words! Create your first tag now.
    </p>
    <%= render "tags/form" %>
  </div>
</div>
