<div class="modal fade"
		 id="myTags-show-words-modal"
		 tabindex="-1"
		 role="dialog"
		 aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button"
								class="close"
								data-dismiss="modal"
								aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
        <h4 class="modal-title" id="myModalLabel">
					Words within a Tag
				</h4>
      </div>
      <div class="modal-body">
				<p>
					This page is where you can see all of the words you added to this Tag:
				</p>
				<br>
				<p class="lead">
					1) To see details for a word...
				</p>
				<p>
					Tap on any blue word to go to its page.
				</p>
				<hr>
				<p class="lead">
					2) To play a game...
				</p>
				<p>
					Tap one of the word-tree buttons to play that respective game.
				</p>
				<p>
					Note that if you play <em>Intermediate</em> from here, the words you
					see are <strong>only</strong> from other words in this Tag.
				</p>
				<hr>
				<p class="lead">
					3) To remove a word from this tag...
				</p>
				<p>
					Tap on the gray "X" for that word.
				</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
								data-dismiss="modal">
					Close
				</button>
      </div>
    </div>
  </div>
</div>
