<div class="col-sm-8 col-sm-offset-2 lead">
	<div class="panel panel-warning">
		<div class="panel panel-heading">
			Untagged Words
		</div>
		<div class="panel panel-body">
			<div id="untagged-words-container">
				<% if current_user.has_words? %>
					<div class="clear"></div>
					<% Word.untagged_for(current_user).each do |word| %>
						<span class="basic-black-link">
							<%= word.name %>
						</span> |
					<% end %>
				<% else %>
					<small class="dark-gray">Empty</small>
				<% end %>
			</div>
		</div>
	</div>
</div>
