<div class="card">
	<div class="card-block">
		<div class="lead">
			<span class="fa-stack">
			  <i class="fa fa-tag fa-stack-1x"></i>
			  <i class="fa fa-ban fa-stack-2x text-danger"></i>
			</span>
			Untagged Words
		</div>
		<div>
			<% if current_user.has_words? %>
				<% Word.untagged_for(current_user).each do |word| %>
					<span class="tag tag-pill tag-default">
						<%= link_to word.name, "/myLeksi/#{word.id}", class: "text-white" %>
					</span>
				<% end %>
			<% else %>
				<small class="text-muted">Empty</small>
			<% end %>
		</div>
	</div>
</div>
