<div class="panel panel-default">
	<div class="panel-body">
		<div class="lead">
			<span class="fa-stack">
			  <i class="fa fa-tag fa-stack-1x"></i>
			  <i class="fa fa-ban fa-stack-2x text-danger"></i>
			</span>
			Untagged Words
		</div>
		<div id="untagged-words-container">
			<% if current_user.has_words? %>
				<% Word.untagged_for(current_user).each do |word| %>
					<span class="tag">
						<%= link_to word.name, "/myLeksi/#{word.id}" %>
					</span>
				<% end %>
			<% else %>
				<small class="dark-gray">Empty</small>
			<% end %>
		</div>
	</div>
</div>
