<% provide(:title, "Tags") %>
<% provide(:header, "Tags") %>

<div id="myTags-container">
  <% if current_user.has_tags? %>
    <div>
      <% @current_user_tags.each do |tag| %>
        <%= render "my_tags/tag", tag: tag %>
      <% end %>
    </div>
  <% else %>
    <%= render "current_users/no_tags_guide" %>
  <% end %>

  <div class="clear"></div>

  <%= render "my_tags/untagged_words" %>
</div>

<%= render "games/flashcards" %>
