<% title "View details for your #{@tag.name} tag." %>
<% description "Designed with vocabulary academic research and gamification, Leksi helps you learn new words." %>
<% set_meta_tags keywords: "vocabulary notebook wordlist word list vocab research organize dictionary words" %>
<% provide(:header, "myTags") %>

<div class="col-sm-6 col-sm-offset-3">
	<%= render "my_tags/basic_info", tag: @tag %>
	<%= render "my_tags/words", tag: @tag %>
</div>
