<hr>
<p>
	Thanks for reading!
	We'd love to hear any questions, comments, or concerns you have via
	email
	(<%= mail_to "info@harlemspellingbee.com",
							nil,
							subject: "Harlem Spelling Bee"
	%>) and/or on
	Facebook
	or
	Twitter. Also, bee in the know
	with the latest Harlem Spelling Bee news and announcements by
	joining the official email list (we don't spam).
	<%= render "static_pages/spelling_bee/mailchimp" %>
</p>
