@import "bootstrap-sprockets";
@import "bootstrap";

//**********
//*
//* MIXINS, VARIABLES, ETC.
//*
//**********

$apple-blue: #097ff0;
$apple-star-orange: #fd9603;
$black: #000;
$bootstrap-blue: #5bc0de;
$bootstrap-green: #dff0d8;
$dark-gray: #8e8e93;
$dark-green: darken($bootstrap-green, 60);
$even-darker-gray: darken($dark-gray, 20);
$game-circle-sizes: 35px;
$leksi-green: #24d12e;
$leksi-orange: orange;
$leksi-red: #ff1300;
$dark-leksi-red: darken($leksi-red, 20);
$light-gray: #f2f2f2;
$light-blue: lighten($bootstrap-blue, 37);
$light-green: lighten($bootstrap-green, 8);
$light-leksi-red: lighten($leksi-red, 47);
$white: #fff;

@media (min-width: 1000px) {
  .logged-in-container {
    width: 375px;
  }
}

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

//**********
//*
//* UNIVERSAL
//*
//**********

html {
	overflow-y: scroll;
}

body {
	color: $even-darker-gray;
  padding: 90px 0;
  font-size: 1.4em;
}

//**********
//*
//* TYPOGRAPHY
//*
//**********

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2em;
  margin-bottom: 15px;
  text-align: center;
}

p {
  line-height: 1.7em;
}

//**********
//*
//* A-Z
//*
//**********

.achievements-container {
  display: none;
}

.apple-blue {
	color: $apple-blue;
}

.apple-blue-button {
	border: 1px solid $apple-blue;
}

.apple-blue-button-filled {
	@extend .apple-blue-button;

	background: $apple-blue;
	color: $white;
}

.apple-blue-button-unfilled {
	@extend .apple-blue-button;

	color: $apple-blue;
}

.apple-star-orange {
	color: $apple-star-orange;
}

.apple-star-container {
	font-size: .8em;
}

.basic-apple-blue-link a {
	color: $apple-blue;

	&:hover {
		background: none;
		color: lighten($apple-blue, 20%);
		text-decoration: none;
	}
}

.basic-black-link a {
	color: $black;

	&:hover {
		background: none;
		color: $apple-blue;
		text-decoration: none;
	}
}

.basic-red-link a {
	color: $leksi-red;

	&:hover {
		background: none;
		color: darken($leksi-red, 15%);
		text-decoration: none;
	}
}

.border-none {
	border: none;
}

.box-shadow-border {
	box-shadow: 1px 1px 3px #888;
	padding: 10px;
  margin-bottom: 25px;
}

.btn-custom {
  background: #fff;
  border-radius: 20px;
  padding: 7px;
}

.btn-custom-leksi-red {
  @extend .btn-custom;

  border: $leksi-red 1px solid;
  color: $leksi-red;
}

.btn-custom-bootstrap-blue {
  @extend .btn-custom;

  border: $bootstrap-blue 1px solid;
  color: $bootstrap-blue;
  cursor: pointer;
}

.add-categories-container {
  display: none;
}

.add-active {
  background: $bootstrap-blue;
  color: $white;
}

.add-category-btn {
  cursor: pointer;
}

.category-words-container {
  display: none;
}

.center {
	text-align: center;
}

.clear {
	clear: both;
}
.custom-footer div {
  position: relative;
  float: left;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  width: 20%;
}

.dark-gray {
	color: $dark-gray;
}

.debug_dump {
  @include box_sizing;

	clear: both;
  float: left;
  margin-top: 45px;
  width: 100%;
}

#error_explanation {
  color: $leksi-red;
  ul {
    color: $leksi-red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;

  .form-control {
    color: $state-danger-text;
  }
}

.full-header {
  font-size: 1.5em;
}

.fundamentals-header {
  @extend .stats-header;

  background: $light-leksi-red;
  border-left: 3px solid $dark-leksi-red;
  color: $dark-leksi-red;
}

.overview-header {
  @extend .stats-header;

  background: $light-gray;
  border-left: 3px solid $dark-gray;
}

.progress-meter-header {
  @extend .stats-header;

  background: $light-green;
  border-left: 3px solid $dark-green;
  color: $dark-green;
}

.game-circle {
	border-radius: $game-circle-sizes;
	border-style: solid;
	border-width: 2px;
	display: inline-block;
  font-size: 13px;
	height: $game-circle-sizes;
	line-height: 27px;
	width: $game-circle-sizes;
}

.game-circle-start-text {
	font-weight: 200;
	vertical-align: middle;

	a {
	  color: $white;
    font-weight: bold;
	}
}

.game-one-start-circle{
	@extend .game-circle;

	background: $leksi-red;
	border-color: $leksi-red;
}

.game-two-start-circle{
	@extend .game-circle;

  background: $leksi-orange;
	border-color: $leksi-orange;
}

.game-three-start-circle{
	@extend .game-circle;

  background: $leksi-green;
	border-color: $leksi-green;
}

.game-one-in-progress-circle{
	@extend .game-circle;

	background: $leksi-red;
	border-color: $leksi-red;
}

.game-two-in-progress-circle{
	@extend .game-circle;

	background: $leksi-orange;
	border-color: $leksi-orange;
}

.game-three-in-progress-circle{
	@extend .game-circle;

	background: $leksi-green;
	border-color: $leksi-green;
}

.home-hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.inline-block {
	display: inline-block;
}

input, textarea, select, .uneditable-input {
  @include box_sizing;

  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

.leaderboard-bronze {
	@extend .leaderboard-container;

	background: darken(#ff9500, 20);
}

.leaderboard-container {
  display: none;
  text-align: center;
}

.light-green-bg {
  background: $light-green;
}

.leaderboard-gold {
	@extend .leaderboard-container;

	background: #ffcc00;
}

.leaderboard-header {
	vertical-align: bottom;
	font-size: 30px;
}

.leaderboard-header span {
	font-size: 18px;
}

.leaderboard-silver {
	@extend .leaderboard-container;

	background: #c7c7cc;
}

.leksi-red {
	color: $leksi-red;
}

.menu-header-container {
	margin-bottom: 15px;
}

.menu-header {
	background: $light-gray;
	padding: 5px;
}

#more-description {
	display: none;
}

.myLeksi-hr {
  margin-top: 18px;
  margin-bottom: 6px;
}

.myLeksi-sm-in-progress-circle {
  border: $white 3px solid;
  border-radius: 30px;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.navbar-default {
	border-color: lighten($dark-gray, 30%);
}

.navbar-footer{
	color: $apple-blue;
	font-weight: normal;
	margin: 0;
	margin-top: 50px;

  a:not(.footer-cta){
	  color: $even-darker-gray;
	  &:hover{
		  background: none;
			color: $apple-blue;
		  text-decoration: none;
	  };
	  &:active{
		  background: none;
			color: $apple-blue;
		  text-decoration: none;
	  };
  }
}

.olympic-container {
  color: $white;
}

.prog-circle {
  border-radius: 80px;
  color: white;
  height: 80px;
  line-height: 83px;
  width: 80px;
}

.prog-fundamentals-circle-bg {
  background: $leksi-red;
}

.prog-completed-circle {
  @extend .prog-circle;
  @extend .prog-fundamentals-circle-bg;
}

.prog-in-progress-circle {
  @extend .prog-circle;
  @extend .prog-fundamentals-circle-bg;
}

.prog-not-started-circle {
  @extend .prog-circle;
  @extend .prog-fundamentals-circle-bg;

  color: $white;
}

.prog-header {
  font-size: 41px;
}

.prog-header span {
  margin-left: -66px;
}

.prog-sm-in-progress-circle {
  border: $white 5px solid;
  border-radius: 66px;
  height: 66px;
  position: relative;
  line-height: 60px;
  top: 7px;
  width: 66px;
}

.progress-xp-container {
  text-align: center;
}

.remove-line-height {
	line-height: normal;
}

.remove-padding-left {
	padding-left: 0;
}

.remove-side-margins {
	margin-left: 0;
	margin-right: 0;
}

.right-arrow-item:hover {
  background: $light-blue;
  cursor: pointer;
}

.stats-header {
  margin-bottom: 30px;
  padding: 10px;
}

table {
	border: none;

	th, td {
	  border-top: none !important;
	}
}

.tag {
	border: 2px solid $light-gray;
	border-left: 3px solid lighten($dark-gray, 30%);
	padding: 10px;
	margin-bottom: 10px;
}

.word-partial-myLeksi {
  padding-top: 13px;
}

.word-partial a:hover {
	background: none;
}

.word-partial .tightness{
	margin-bottom: -.01em;
}

.word-details p {
	line-height: normal;
}

.tightness {
	margin-top: 0;
}
