@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

//**********
//*
//* A-Z
//*
//**********

a, a:active {
	text-decoration: none;
}

.btn {
	white-space: normal;
}

.card-title {
	word-break: break-word;
}

.clear {
	clear: both;
}

.data-url {
	cursor: pointer;
}

.debug_dump {
  @include box_sizing;

	clear: both;
  float: left;
  margin-top: 45px;
  width: 100%;
}

.form-group label {
  font-weight: bold;
}

.hover {
	cursor: pointer;

	a:link, a:visited, a:active {
		text-decoration: none;
	}

	&:hover {
		opacity: $show-game-circle-container-hover-opac;
		text-decoration: none;
	}
}

.myTags.card-columns {
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
  @include media-breakpoint-only(xl) {
    column-count: 3;
  }
}

.myLeksi-hr {
  margin-top: 18px;
  margin-bottom: 6px;
}

.pointer {
	cursor: pointer;
}

.search.card-columns {
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
  @include media-breakpoint-only(md) {
    column-count: 2;
  }
  @include media-breakpoint-only(xl) {
    column-count: 2;
  }
}

.spinner {
	color: gray;
	font-size: 35px;
}

dl:hover {
  background: $light-gray;
}
