@import "bootstrap-sprockets";
@import "bootstrap";
@import "colors";

//**********
//*
//* MIXINS, VARIABLES, ETC.
//*
//**********

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

//**********
//*
//* UNIVERSAL
//*
//**********

html {
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
}

// html, body {
//   width: auto;
//   overflow-x: hidden;
// }

body {
	color: $even-darker-gray;
  padding: 90px 0;
}

.body-brainiac {
	background: $card-bg !important;
}

.games-body-padding {
	padding: 25px 0;
}

.no-underline a {
	text-decoration: none;
}

//**********
//*
//* TYPOGRAPHY
//*
//**********

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2em;
  margin-bottom: 15px;
  text-align: center;
}

p {
  line-height: 1.7em;
}

//**********
//*
//* A-Z
//*
//**********

a, a:active {
	text-decoration: none;
}

#awfs-step-2-container,
#awfs-step-3-container,
#awfs-review-container,
#select-stu-cont-btn,
#select-words-finish-btn,
#guest-select-words-container,
#gs-rand-word-ids,
#get-started-finish-btn,
#get-started-save-my-progress-btn,
#gs-save-progress-container,
#gs-time-spent {
	display: none;
}

.red-circle-word-show-page {
  background: $leksi-red;
  border-radius: 75px;
  height: 75px;
  width: 75px;
}

.round-the-buttons .btn {
	border-radius: 20px;
	padding: 7px;
}

.achievements-container {
  display: none;
}

.add-active {
  background: $bootstrap-blue;
  color: $white;
}

.add-category-btn {
  cursor: pointer;
}

.add-look-up-word-container {
	background: $light-gray;
	box-shadow: 0px -1px 10px 3px $medium-gray;
	left: 0;
	padding: 10px;
	position: absolute;
	top: 50px;
}

.alert-container {
	position: absolute;
	z-index: 4000;
}

.apple-blue {
	color: $apple-blue;
}

.apple-star-orange {
	color: $apple-star-orange;
}

.apple-star-container {
	font-size: .8em;
}

.basic-apple-blue-link a {
	color: $apple-blue;

	&:hover {
		background: none;
		color: lighten($apple-blue, 20%);
		text-decoration: none;
	}
}

.basic-black-link a {
	color: $black;

	&:hover {
		background: none;
		color: $apple-blue;
		text-decoration: none;
	}
}

.basic-red-link a {
	color: $bootstrap-red;

	&:hover {
		background: none;
		color: darken($leksi-red, 15%);
		text-decoration: none;
	}
}

.bootstrap-blue-link a {
	color: $bootstrap-blue;

	&:visited, &:hover, &:active  {
		text-decoration: none;
	}
}

.bootstrap-green-link a {
	color: $bootstrap-green;

	&:visited, &:hover, &:active  {
		text-decoration: none;
	}
}

.bootstrap-blue-bg {
	background: $bootstrap-blue;
}

.border-none {
	border: none;
	position: relative;
	top: -24px;
}

.box-shadow-border {
	padding: 10px;
  margin-bottom: 25px;
}

.box-shadow-border-home {
	box-shadow: 1px 1px 2px #888;
	padding: 10px;
  margin-bottom: 25px;
}

.btn-custom {
  background: #fff;
  border-radius: 20px;
  padding: 7px;
}

.btn-custom-leksi-red {
  @extend .btn-custom;

  border: $leksi-red 1px solid;
  color: $leksi-red;
}

.btn-custom-bootstrap-blue {
  @extend .btn-custom;

  border: $bootstrap-blue 1px solid;
  color: $bootstrap-blue;
  cursor: pointer;
}

#card {
	cursor: pointer;
}

.blue-border {
	border-bottom: lightblue 1px solid;
	padding: 10px 0;
}

.category-words-container {
  color: $black;
  display: none;
  font-size: 30px;
}

.center {
	text-align: center;
}

.class-default-image {
	background-image: url(image-path("classes_color_100.png"));
	height: 100px;
	width: 100px;
}

.clear {
	clear: both;
}

.five-columns div {
	float: left;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
  position: relative;
  text-align: center;
  width: 20%;
}

.vks-emojis {
	@extend .five-columns;

	margin-bottom: 3em;
}

.vks-emojis div:hover {
	cursor: pointer;
}

.dark-gray {
	color: $dark-gray;
}

.data-url {
	cursor: pointer;
}

.debug_dump {
  @include box_sizing;

	clear: both;
  float: left;
  margin-top: 45px;
  width: 100%;
}

#error_explanation {
  color: $leksi-red;
  ul {
    color: $leksi-red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;

  .form-control {
    color: $state-danger-text;
  }
}

.flashcard {
	min-height: 11em;
}

.flashcard-container {
	background: lightyellow;
}

#flashcard-front {
	padding-top: 50px;
}

.jeopardy-header {
  @extend .stats-header;

  background: $light-leksi-orange;
  border-left: 3px solid $dark-leksi-orange;
  color: $dark-leksi-orange;
}

.freestyle-header {
  @extend .stats-header;

  background: $light-leksi-green;
  border-left: 3px solid $dark-leksi-green;
  color: $dark-leksi-green;
}

.full-header {
  font-size: 1.5em;
}

.fundamentals-header {
  @extend .stats-header;

  background: $light-leksi-red;
  border-left: 3px solid $dark-leksi-red;
  color: $dark-leksi-red;
}

.header-buttons a {
	color: $white;
	font-weight: 100;

	&:visited {
	}
	&:hover {
		color: $white;
	}
	&:active {
	}
}

.hover {
	cursor: pointer;

	a:link, a:visited, a:active {
		text-decoration: none;
	}
	&:hover {
		opacity: $show-game-circle-container-hover-opac;
		text-decoration: none;
	}
}

.game-circle {
	border-radius: $game-circle-sizes;
	border-style: solid;
	border-width: 2px;
	color: $white;
	display: inline-block;
  font-size: 13px;
	height: $game-circle-sizes;
	line-height: 27px;
	text-align: center;
	width: $game-circle-sizes;

	&:hover {
		opacity: $show-game-circle-container-hover-opac;
	}
}

.game-not-ready {
  opacity: .1;
}

.game-one-start-circle{
	@extend .game-circle;

	background: $leksi-red;
	border-color: $leksi-red;
}

.game-two-start-circle{
	@extend .game-circle;

  background: $leksi-orange;
	border-color: $leksi-orange;
}

.game-three-start-circle{
	@extend .game-circle;

  background: $leksi-green;
	border-color: $leksi-green;
}

.game-one-in-progress-circle{
	@extend .game-circle;

	background: $leksi-red;
	border-color: $leksi-red;
}

.game-two-in-progress-circle{
	@extend .game-circle;

	background: $leksi-orange;
	border-color: $leksi-orange;
}

.game-three-in-progress-circle{
	@extend .game-circle;

	background: $leksi-green;
	border-color: $leksi-green;
}

.game-zone-margin {
	margin: 12px;
}

#guest-flash-messages {
	margin-top: 54px;
}

.home-hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.inline-block {
	display: inline-block;
}

input, textarea, select, .uneditable-input {
  @include box_sizing;

  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

.italics {
	font-style: italic;
}

.leaderboard-bronze {
	@extend .leaderboard-container;

	background: darken(#ff9500, 20);
}

.leaderboard-container {
  display: none;
  text-align: center;
}

.light-blue-bg {
  background: $light-blue;
}

.light-gray {
	color: $light-gray;
}

.light-green-bg {
  background: $light-green;
}

.light-red-bg {
  background: $light-leksi-red;
}

.leaderboard-gold {
	@extend .leaderboard-container;

	background: #ffcc00;
}

.leaderboard-header {
	vertical-align: bottom;
	font-size: 30px;
}

.leaderboard-header span {
	font-size: 18px;
}

.leaderboard-silver {
	@extend .leaderboard-container;

	background: #c7c7cc;
}

.leksi-blue {
	color: $sky-blue;
}

.leksi-blue-bg {
	@extend .thin-section;

	background: $sky-blue;

	h1 {
		color: $white;
		text-transform: uppercase;
		text-shadow: 1px 1px 1px $black;
	}
}

.leksi-orange {
	color: $leksi-orange;
}

.leksi-green {
	color: $leksi-green;
}

.leksi-purple {
	color: darkorchid;
}

.leksi-red {
	color: $leksi-red;
}

.light-blue-hover:hover {
  background: $light-blue;
  cursor: pointer;
}

.logged-in-header {
  background: $sky-blue;
  border-color: $sky-blue;
  opacity: .90;
}

.margin-top {
  margin-top: 180px;
}

.medium-gray {
  color: $medium-gray;
}

.menu-header-container {
	margin-bottom: 15px;
}

.menu-header {
	background: $light-gray;
	padding: 5px;
}

#more-description {
	display: none;
}

#myLeksi-filter-container {
	margin-bottom: 20px;
}

.myLeksi-hr {
  margin-top: 18px;
  margin-bottom: 6px;
}

.myLeksi-sm-in-progress-circle {
  border: $white 3px solid;
  border-radius: 30px;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.navbar-default {
	border-color: lighten($dark-gray, 30%);
}

.navbar-footer {
	color: $sky-blue;
	font-weight: normal;
	margin: 0;
	margin-top: 50px;
	padding-top: 5px;

	.col-xs-3 {
		padding-right: 0;
	}

  a:not(.footer-cta){
	  color: #BDBDBD;

	  &:hover{
		  background: none;
			color: $sky-blue;
		  text-decoration: none;
	  };
	  &:active{
		  background: none;
			color: $sky-blue;
		  text-decoration: none;
	  };
  }
}

.new-followup-game-circle {
	border-radius: 100px;
	color: $white;
	font-size: large;
	height: 100px;
	padding-top: 38px;
	width: 100px;
}

.new-fundamental-game-circle {
	@extend .new-followup-game-circle;

	background: $leksi-red;
}

.new-jeopardy-game-circle {
	@extend .new-followup-game-circle;

	background: $leksi-orange;
}

.new-freestyle-game-circle {
	@extend .new-followup-game-circle;

	background: $leksi-green;
}

.olympic-container {
  color: $white;
}

.overview-header {
  @extend .stats-header;

  background: $light-gray;
  border-left: 3px solid $dark-gray;
}

.padding-top {
	padding-top: 6em;
	padding-bottom: 6em;
}

.progress-meter-header {
  @extend .stats-header;

  background: $light-green;
  border-left: 3px solid $dark-green;
  color: $dark-green;
}

.prog-circle {
  border-radius: 80px;
  color: white;
  height: 80px;
  line-height: 83px;
  width: 80px;
}

.prog-fundamentals-circle-bg {
  background: $leksi-red;
}

.prog-completed-circle {
  @extend .prog-circle;
  @extend .prog-fundamentals-circle-bg;
}

.prog-in-progress-circle {
  @extend .prog-circle;
  @extend .prog-fundamentals-circle-bg;
}

.prog-not-started-circle {
  @extend .prog-circle;
  @extend .prog-fundamentals-circle-bg;

  color: $white;
}

.prog-not-started-circle-orange {
  @extend .prog-circle;

  background: $leksi-orange;
  color: $white;
}

.prog-not-started-circle-green {
  @extend .prog-circle;

  background: $leksi-green;
  color: $white;
}

.prog-header {
  font-size: 41px;

  span {
    margin-left: -66px;
  }
}

.prog-sm-in-progress-circle {
  border: $white 5px solid;
  border-radius: 66px;
  height: 66px;
  position: relative;
  line-height: 60px;
  top: 7px;
  width: 66px;
}

.progress-xp-container {
  text-align: center;
}

.radio {
	border: 1px solid $medium-gray;
	border-radius: 10px;
	padding: 5px;
}

.radio label {
	font-weight: bold !important;
}

.radio input[type="radio"],
.radio-inline input[type="radio"] {
	margin-left: 0 !important;
}

.red-border {
	border-bottom: $leksi-red 1px solid;
	padding: 10px 0;
}

.remove-line-height {
	line-height: normal;
}

.remove-padding-left {
	padding-left: 0;
}

.remove-side-margins {
	margin-left: 0;
	margin-right: 0;
}

.research-first-image {
	@extend .guest-homepage-image;

	background-image: url(image-path("myLeksi_color_100.png"));
}

.research-second-image {
	@extend .guest-homepage-image;

	background-image: url(image-path("focus_color_100.png"));
}

.research-third-image {
	@extend .guest-homepage-image;

	background-image: url(image-path("multiple_color_100.png"));
}

.research-fourth-image {
	@extend .guest-homepage-image;

	background-image: url(image-path("exposure_color_100.png"));
}

.research-fifth-image {
	@extend .guest-homepage-image;

	background-image: url(image-path("recycle_color_100.png"));
}

.research-sixth-image {
	@extend .guest-homepage-image;

	background-image: url(image-path("more_color_100.png"));
}

.right {
	text-align: right;
}

.sb-slidebar .list-group-item {
	color: $sky-blue;
}

.search-results-container {
	margin-top: 70px;
	position: inherit;

	.panel-footer {
		background: $white;
		color: $bootstrap-blue;

		a:link, a:visited, a:active {
			color: $bootstrap-green;
		}
	}
}

.sky-blue {
	color: $sky-blue;
}

.spinner {
	color: $dark-gray;
	font-size: 35px;
}

.static-page-header-height {
	height: 300px !important;
}

.stats-header {
	margin-bottom: 30px;
	padding: 10px;
}

.stu-pic {
	background-image: url(image-path("pup2_small.png"));
	background-position: center;
	background-repeat: no-repeat;
	border: 1px solid $light-sky-blue;
	border-radius: 70px;
	height: 70px;
	width: 70px;
}

.stu-pic-container:hover {
	background: $light-sky-blue;
	color: $sky-blue;
}

table {
	border: none;

	th, td {
	  border-top: none !important;
	}
}

.tag {
	background: #EEE;
	border: 2px solid #EEE;
	border-radius: 100px;
	color: #757575;
	display: inline-block;
	margin: 0 15px 15px 0;
	padding: 5px 10px 5px 10px;

	a, a:visited, a:hover, a:active {
		color: #757575;
	}
}

.valign-middle {
	vertical-align: -webkit-baseline-middle;
}

.white {
	color: $white;
}

.word-card-modal-content {
	background-color: $card-bg !important;
}

.word-details {
	margin-left: 14px;
}

.word-name-size {
	font-size: 23px;
  overflow-wrap: break-word;
}

.word-of-knowledge-container {
	background: none !important;
	padding: 10px;
}

.word-partial {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.word-partial-myLeksi {
  padding-top: 13px;
}

.word-partial .tightness{
	margin-bottom: -.01em;
}

.word-part-of-speech{
	margin: 6px 0;
}

.tightness {
	margin-top: 0;
}


// LOGGED OUT HOMEPAGE


.body-spacing {
  padding-top: 0;
  padding-bottom: 0;
}

.bootstrap-blue {
	color: $bootstrap-blue;
}

.bootstrap-green {
	color: $bootstrap-green;
}

.bootstrap-red {
	color: $bootstrap-red;
}

.btn-custom {
  background: #fff;
  border-radius: 100px;
  padding: 7px;

	&:hover {
		cursor: pointer;
		opacity: .90;
	}
}

.btn-custom-get-started {
  @extend .btn-custom;

  background: $amber;
  border: $amber 1px solid;
	font-size: large;
	font-weight: 500;

  a {
    color: $white;

    &:hover {
      text-decoration: none;
    }
  }
}

.thin-section {
	padding: 32px;

	h4 {
		margin-top: 0;
	}
}

.fa-eye {
	color: $dark-gray;
}

.fat-section {
	background: $even-lighter-gray;
	padding: 42px;

	h3 {
		margin-top: 0;
	}
}

.guest-homepage-images-container {
	padding: 40px 10px 0 10px;
}

.guest-homepage-image {
	display: inline-block;
	height: 100px;
	width: 100px;
}
.gamification-spotlight {
	display: table;
	text-align: left;
	position: relative;
}

.gamification-first-image {
	@extend .guest-homepage-image;

	background-image: url(image-path("apple_100.png"));
}

.gamification-second-image {
	@extend .guest-homepage-image;

	background-image: url(image-path("grade_color_100.png"));
}

.gamification-third-image {
	@extend .guest-homepage-image;

	background-image: url(image-path("level_up_color_100.png"));
}

.gamification-fourth-image {
	@extend .guest-homepage-image;

	background-image: url(image-path("leaderboard_color_100.png"));
}

.gamificaton-text {
	display: inline-block;
	padding: 5px 0 0 15px;
}

.gray {
	color: gray;
}

.header_logged_out {
	background: $sky-blue;
  border-color: $sky-blue;
  opacity: .90;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 9px;

  h4 a {
    color: $white;
    font-weight: 600;
    font-size: larger;
  }

  .btn {
    border-radius: 100px;
  }
}
#myLeksi-bg {
	background-image: url(image-path("words.gif"));
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 600px;
}

.thin-gray-section {
	@extend .thin-section;

	background: $light-gray;
}

.thin-white-section {
	@extend .thin-section;

	background: $white;

	a {
		color: $amber;
		font-size: 19px;
	}

	p {
		margin-top: 10px;
	}
}

.thin-footer-section {
	@extend .thin-section;

	background: $sky-blue;
	// background: url(image-path("footer_word_tree.jpg"));
  background-size: cover;
	color: $white;
  margin-bottom: -90px;

	a {
		color: $white;
	}
}

.top-section {
	background: url(image-path("home_bg.jpg"));
  background-size: cover;
	color: $white;
	height: 755px;
	padding-top: 10em;

  h1 {
    font-size: 90px;
		text-shadow: 1px 1px 1px $black;
		text-transform: uppercase;
  }

  h3 {
    font-size: 40px;
		text-shadow: 1px 1px 1px $black;
  }
}

.word-show-game-circle {
	border-radius: $home-game-circle-size;
	height: $home-game-circle-size;
	padding-top: 28px;
	width: $home-game-circle-size;
}

.fund-show-game-circle {
	@extend .word-show-game-circle;

	background: $leksi-red;
}

.jeop-show-game-circle {
	@extend .word-show-game-circle;

	background: $leksi-orange;
}

.free-show-game-circle {
	@extend .word-show-game-circle;

	background: $leksi-green;
}

.medium-gray-game-circle {
	@extend .word-show-game-circle;

	background: $medium-gray;
	font-size: 1.4em;
}

.medium-gray-game-circle-no-hover {
	@extend .word-show-game-circle;

	background: $medium-gray;
}

.medium-gray-game-circle:hover {
	opacity: $show-game-circle-container-hover-opac;
}

.add-show-game-circle {
	background: $light-gray;
	border: 1px dashed $dark-gray;
	border-radius: $home-game-circle-size;
	color: $dark-gray;
	height: $home-game-circle-size;
	padding-top: 38px;
	width: $home-game-circle-size;
}

.add-show-game-circle:hover {
	opacity: $show-game-circle-container-hover-opac;
}

.school-header {
	background: $sky-blue !important;
	color: $white;
}

.freestyle-types {
	margin-top: 0;
}

.zero-padding {
	padding: 0;
}

.zero-padding > * {
	padding: 10px;
}
