//**********
//*
//* A-Z
//*
//**********

a, a:active {
	text-decoration: none;
}

.btn {
	white-space: normal;
}

#awfs-step-2-container,
#awfs-step-3-container,
#awfs-review-container,
#select-stu-cont-btn,
#select-words-finish-btn,
#guest-select-words-container,
#gs-rand-word-ids,
#get-started-finish-btn,
#get-started-save-my-progress-btn,
#gs-save-progress-container,
#gs-time-spent {
	display: none;
}

#card {
	cursor: pointer;
}

.card-title {
	word-break: break-word;
}

.class-default-image {
	background-image: url(image-path("classes_color_100.png"));
	height: 100px;
	width: 100px;
}

.clear {
	clear: both;
}

#frayer-word-container {
	padding: 5rem;
}

.data-url {
	cursor: pointer;
}

.debug_dump {
	clear: both;
  float: left;
  margin-top: 45px;
  width: 100%;
}

.text-white a {
	color: $white;

	&:visited {
	}
	&:hover {
		color: $white;
	}
	&:active {
	}
}

.hover {
	cursor: pointer;

	a:link, a:visited, a:active {
		text-decoration: none;
	}
	&:hover {
		opacity: $show-game-circle-container-hover-opac;
		text-decoration: none;
	}
}

.myLeksi-hr {
  margin-top: 18px;
  margin-bottom: 6px;
}

.pointer {
	cursor: pointer;
}

.spinner {
	color: gray;
	font-size: 35px;
}

.stu-pic {
	background-image: url(image-path("pup2_small.png"));
	background-position: center;
	background-repeat: no-repeat;
	border: 1px solid $light-sky-blue;
	border-radius: 70px;
	height: 70px;
	width: 70px;
}

.stu-pic-container:hover {
	background: $light-sky-blue;
	color: $sky-blue;
}

table {
	border: none;

	th, td {
	  border-top: none !important;
	}
}

.valign-middle {
	vertical-align: -webkit-baseline-middle;
}
