@import "bootstrap-sprockets";
@import "bootstrap";

//**********
//*
//* MIXINS, VARIABLES, ETC.
//*
//**********

$apple-blue: #097ff0;
$apple-star-orange: #fd9603;
$black: #000;
$dark-gray: #8E8E93;
$game-circle-sizes: 32px;
$leksi-green: #24d12e;
$leksi-orange: orange;
$leksi-red: #ff1300;
$light-gray: #F2F2F2;
$white: #fff;


@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

//**********
//*
//* UNIVERSAL
//*
//**********

html {
	overflow-y: scroll;
}

body {
  padding: 90px 0;
}

//**********
//*
//* TYPOGRAPHY
//*
//**********

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 15px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

//**********
//*
//* LOGGED IN
//*
//**********

.game-circle {
	border-radius: $game-circle-sizes;
	display: inline-block;
	height: $game-circle-sizes;
	width: $game-circle-sizes;
	border-width: 2px;
	border-style: solid;
}

.game-circle-start-text {
	font-size: .75em;
	font-weight: 200;
	vertical-align: middle;
}

.game-one-circle-start-text {
	@extend .game-circle-start-text;

	color: $leksi-red;
}

.game-two-circle-start-text {
	@extend .game-circle-start-text;

	color: $leksi-orange;
}

.game-three-circle-start-text {
	@extend .game-circle-start-text;

	color: $leksi-green;
}

.game-one-start-circle{
	@extend .game-circle;

	border-color: $leksi-red;
}

.game-two-start-circle{
	@extend .game-circle;

	border-color: $leksi-orange;
}

.game-three-start-circle{
	@extend .game-circle;

	border-color: $leksi-green;
}

.game-one-in-progress-circle{
	@extend .game-circle;

	background: $leksi-red;
	border-color: $leksi-red;
}

.game-two-in-progress-circle{
	@extend .game-circle;

	background: $leksi-orange;
	border-color: $leksi-orange;
}

.game-three-in-progress-circle{
	@extend .game-circle;

	background: $leksi-green;
	border-color: $leksi-green;
}

.navbar-default {
	border-color: lighten($dark-gray, 30%);
}

//**********
//*
//* FORMS
//*
//**********

input, textarea, select, .uneditable-input {
  @include box_sizing;

  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;

  .form-control {
    color: $state-danger-text;
  }
}

//**********
//*
//* FOOTER
//*
//**********

.footer_active_link{
	color: lighten($leksi-red, 25%);
	font-weight: bold;
}

.navbar_footer{
	color: $leksi-red;
	font-weight: normal;
	margin: 0;

  a{
	  color: $black;
	  &:hover{
		  background: none;
			color: $leksi-red;
		  text-decoration: none;
	  };
	  &:active{
		  background: none;
			color: $leksi-red;
		  text-decoration: none;
	  };
  }
}

//**********
//*
//* MISCELLANEOUS
//*
//**********

.apple-blue {
	color: $apple-blue;
}

.apple-blue-button {
	border: 1px solid $apple-blue;
	color: $apple-blue;
}

.apple-star-orange {
	color: $apple-star-orange;
}

.apple-star-container {
	font-size: .8em;
}

.basic-black-link a {
	color: $black;

	&:hover {
		background: none;
		color: $leksi-red;
		text-decoration: none;
	}
}

.basic-red-link a {
	color: $leksi-red;

	&:hover {
		background: none;
		color: darken($leksi-red, 15%);
		text-decoration: none;
	}
}

.btn-group-margin {
	margin-top: 20px;
}

.center {
	text-align: center;
}

.float-right {
	float: right;
}

.dark-gray {
	color: $dark-gray;
}

.debug_dump {
  @include box_sizing;

	clear: both;
  float: left;
  margin-top: 45px;
  width: 100%;
}

.leksi-red {
	color: $leksi-red;
}

.leksi-red-border {
	border: 1px solid $leksi-red;
	padding: 10px;
}

table {
	border: none;

	th, td {
	  border-top: none !important;
	}
}

.word_partial a:hover {
	background: none;
}

.word_partial .tightness{
	margin-bottom: -.01em;
}

.word-details p {
	line-height: normal;
}

h3.tightness {
	margin-top: 0;
}
