@import "bootstrap-sprockets";
@import "bootstrap";

$amber: #f0a30a;
$apple-blue: #097ff0;
$apple-star-orange: #fd9603;
$bootstrap-blue: #5bc0de;
$bootstrap-green: #dff0d8;
$black: #000;
$brown: #825a2c;
$light-brown: lighten($brown, 50);
$dark-gray: #8e8e93;
$dark-green: darken($bootstrap-green, 60);
$even-darker-gray: darken($dark-gray, 20);
$game-circle-sizes: 35px;
$leksi-green: #24d12e;
$leksi-orange: orange;
$leksi-red: #ff1300;
$light-gray: #f2f2f2;
$dark-leksi-red: darken($leksi-red, 20);
$even-lighter-gray: lighten($light-gray, 3);
$light-green: lighten($bootstrap-green, 8);
$light-leksi-red: lighten($leksi-red, 47);
$white: #fff;

.body-spacing {
  padding-top: 0;
  padding-bottom: 0;
}

.btn-custom {
  background: #fff;
  border-radius: 100px;
  padding: 7px;

	&:hover {
		cursor: pointer;
		opacity: .90;
	}
}

.btn-custom-get-started {
  @extend .btn-custom;

  background: $amber;
  border: $amber 1px solid;
	font-size: large;
	font-weight: 500;

  a {
    color: $white;

    &:hover {
      text-decoration: none;
    }
  }
}

.thin-section {
	padding: 32px;

	h4 {
		margin-top: 0;
	}
}

.fat-section {
	background: $even-lighter-gray;
	padding: 42px;

	h3 {
		margin-top: 0;
	}
}

.gamification-container {
	display: table-cell;
	padding: 40px 10px 0 10px;
}

.gamification-image {
	display: inline-block;
	height: 50px;
	width: 50px;
}
.gamification-spotlight {
	display: table;
	text-align: left;
	position: relative;
}

.gamification-first-image {
	@extend .gamification-image;

	background-image: url(image-path("game_color_50.png"));
}

.gamification-second-image {
	@extend .gamification-image;

	background-image: url(image-path("grade_color_50.png"));
}

.gamification-third-image {
	@extend .gamification-image;

	background-image: url(image-path("level_up_color_50.png"));
}

.gamification-fourth-image {
	@extend .gamification-image;

	background-image: url(image-path("leaderboard_color_50.png"));
}

.gamificaton-text {
	display: inline-block;
	padding: 5px 0 0 15px;
}

.logged_out_header {
  background: $brown;
  border-color: $brown;
  opacity: .90;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 9px;

  h4 a {
    color: $white;
    font-weight: 600;
    font-size: larger;
  }

  .btn {
    border-radius: 100px;

    a {
      color: $brown;
    }
  }
}

.thin-gray-section {
	@extend .thin-section;

	background: $light-gray;
}

.thin-white-section {
	@extend .thin-section;

	background: $white;

	a {
		color: $amber;
		font-size: 19px;
	}

	p {
		margin-top: 10px;
	}
}

.thin-footer-section {
	@extend .thin-section;

	background: $brown;
	color: $white;
  margin-bottom: -90px;

	a {
		color: $white;
	}
}

.top-section {
	background: $brown;
	color: $white;
	height: 705px;
}
