#chosen_word_form{
	margin-top: 10px;
}

#continue-btn-div{
	margin-bottom: 20px;
}

button#word_map_continue_button, #definition_map_continue_button, #sentence_continue_button{
	margin: 0;
}

#semantic_map_form,
#word_map_form,
#definition_map_form,
#sentence_form,
#level_3_completed,
#semantic_map_continue_button,
#word_map_continue_button,
#definition_map_continue_button,
#sentence_continue_button,
#review_level_3_container,
#review_level_3_button {
	display: none;
}

.freestyle-instructions {
	font-size: 25px;
	font-weight: 400;
}
