//**********
//*
//* MIXINS, VARIABLES, ETC.
//*
//**********

.palabra,
#spell-by-clicking-letters-div,
#spell-the-word-continue-btn,
#pronunciation-spans,
#pronunciation-continue-btn,
#meaning-alts-div,
.mean-alts-feedback,
#meaning-alts-continue-btn,
#ex-non-exs-div,
.ex-non-exs-feedback,
#ex-non-exs-cont-btn,
#synonyms_container,
#antonyms_container,
#real_world_examples_container,
#syn-ant-no-results,
#fill-in-the-blank-continue-btn,
#synonyms-cont-btn,
#antonyms_continue_button,
#syn-vs-ant-cont-btn,
#review-funds-game-div {
	display: none;
}

.fa-arrow-up.text-success,
.fa-arrow-down.text-danger {
	opacity: 0.1;
}

#chosen-word-header-container {
	min-height: 2.9rem;
	padding: 0.7rem;
	word-break: break-word;
}

#continue-btn-div {
	margin-bottom: 50px;

	& button {
		font-size: 23px;
	}
}

#meaning-alts-div, #ex-non-exs-div {
	h4 {
		font-weight: 200;
	}
}


#spell-by-typing-form {
	input {
		font-size: 2.5rem;
		height: 69px;
	}
}

#spell-by-clicking-letters-div {
	margin: 0px;
}

.fitb-letter {
	font-size: 2.4rem;
	margin: 4px;
	width: 23%;
}

#pronunciation-spans {
	i {
		font-size: 7rem;
	}
}

.scoreboard {
	font-size: 1.5rem;

	.progress-bar {
		background: #636c72 !important;
	}
}
