//**********
//*
//* MIXINS, VARIABLES, ETC.
//*
//**********

.palabra,
#spell-by-clicking-letters-div,
#spell-the-word-continue-btn,
#pronunciation-spans,
#pronunciation-continue-btn,
#meaning-alts-div,
.mean-alts-feedback,
#meaning-alts-continue-btn,
#ex-non-ex-continue-btn,
#synonyms_container,
#antonyms_container,
#real_world_examples_container,
#syn-ant-no-results,
#fill-in-the-blank-continue-btn,
#synonyms_continue_button,
#antonyms_continue_button,
#syn_ant_checkpoint_continue_button,
#real_world_examples_continue_button,
#review_level_one_container {
	display: none;
}

.fa-arrow-up.text-success,
.fa-arrow-down.text-danger {
	opacity: 0.1;
}

#chosen-word-header-container {
	padding: 0.7rem;
	word-break: break-word;
}

#continue-btn-div {
	margin-bottom: 50px;

	& button {
		font-size: 23px;
	}
}

#meaning-alts-div {
	h4 {
		font-weight: 200;
	}
}


#spell-by-typing-form {
	input {
		font-size: 2.5rem;
		height: 69px;
	}
}

#spell-by-clicking-letters-div {
	margin: 0px;
}

.fitb-letter {
	font-size: 2.4rem;
	margin: 4px;
	width: 23%;
}

.synonym_word_container,
.antonym_word_container,
.syn_ant_word_container,
.rwe_source_container {
	vertical-align: 7px;
	font-size: 20px !important;
}

#progress-bar-container {
	padding-top: 0.7rem;

	progress {
		display: inline-block;
	}
}

#pronunciation-spans {
	i {
		font-size: 7rem;
	}
}

.scoreboard {
	font-size: 1.5rem;
}
