.display-4 {
	margin-bottom: 2.5rem;
}

.footer.static {
	border-top: 1px solid darkgray;
}

.guest-section-home {
	border-bottom: 1px solid lightgray;
	padding-bottom: 8rem;
	padding-top: 1rem;
	margin-bottom: 2rem;

	[role="button"] {
		margin-top: 2.5rem;
	}

	h5 {
		margin: 2.5rem 0;
	}
}

.navbar {
	margin-bottom: 2rem;
}
