.navbar.guest {
	background: #187DC0 !important;
}
.guest-about-section {
	background-image: url(image-path("tree_background.jpg"));
	background-color: $sky-blue;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	padding-top: 5rem;
	margin-bottom: 2rem;
	margin-top: -2rem;
	height: 40rem;

	[role="button"] {
		margin-top: 1rem;
	}

	h1 {
		color: $white;
		text-shadow: 1px 1px 2px $black;
	}

	h2 {
		margin-top: 11rem;

		div {
			border-bottom: 3px solid $black;
			margin: 0 auto;
	    margin-bottom: 1.2rem;
			padding-top: 0.7rem;
			width: 4rem;
		}
	}

	h3 {
		color: lavender;
		text-shadow: 1px 1px 2px $black;
	}
}

.display-4 {
	margin-bottom: 2.5rem;
}

.footer.static {
	border-top: 1px solid darkgray;
}

.guest-section-home {
	border-bottom: 1px solid lightgray;
	padding-bottom: 8rem;
	padding-top: 1rem;
	margin-bottom: 2rem;

	[role="button"] {
		margin-top: 2.5rem;
	}

	h5 {
		margin: 2.5rem 0;
	}
}

.guest-section-home.about {
	background-color: #7ECC4F;
	padding-top: 5rem;
	margin-bottom: 2rem;
	margin-top: -2rem;

	h2 {
		div {
			border-bottom: 3px solid $black;
			margin: 0 auto;
			margin-bottom: 1.2rem;
			padding-top: 0.7rem;
			width: 4rem;
		}
	}
}

.guest-section-home.last {
	border-bottom: none;
	margin-bottom: 0rem;
}

.navbar {
	margin-bottom: 2rem;
}

.cred.bg-faded {
	margin-top: -2rem;
}
