//**********
//*
//* MIXINS, VARIABLES, ETC.
//*
//**********

#level_two_back_button,
#word_jeapordy_instructions,
#level_two_game_continue_button,
#review_level_two_container,
#level_two_complete_continue_button {
	display: none;
}

.progress-bar-custom {
	background: #FFF !important;
	border: $light-gray 1px solid;
	display: inline-block;
}
