#activity-div {
	input {
		font-size: 2.5rem;
		height: 69px;
	}

	textarea {
		font-size: 1.3rem;
	}

	h4 {
		font-weight: 200;
	}
}

.fa-arrow-up.text-success,
.fa-arrow-down.text-danger {
	opacity: 0.1;
}

.scoreboard {
	font-size: 1.5rem;

	.progress-bar {
		background: #636C72 !important;
		line-height: 2.1rem;
	}
}

.continue-btn {
	font-size: -webkit-xxx-large;
}
