#center_title{
	font-size: 21px;
}
#navigation_bar{
	background: #F7F7F7;
	margin: -25px 0px 0px 0px;
	padding-top: 15px;
}
#goodies{
	font-size: x-large;
	color: gray;
	font-weight: bolder;
	top: -5px;
}
#directions_container{
	margin-top: 30px;
}
#activity_name, #activity_name_guide{
	background: gray;
	color: #FFF;
	padding: 3px;
}
#chosen_word_header_container{
	font-size: 40px;
	font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
	margin: -7px 0 30px 0px;
}
.palabra {
	display: none;
}
