#spe-bee-index-hero {
	background: url(image-path("spelling-bee/leksi-spelling-bee-home.jpg"));
	background-color: #000;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	height: 50rem;
	margin-top: -6rem;
	text-shadow: 1px 1px 2px $black;


	div.header {
		color: $white;
		padding-top: 8rem;
		text-align: center;
		text-shadow: 1px 1px 2px $black;

		h1, h3 {
			text-shadow: 1px 1px 2px $black;
		}
	}
}

.spee-bee-trail-section {
	background-image: url(image-path("spelling-bee/bee-trail-home.png"));
	background-color: #FFFF00;
	background-position: left bottom;
	background-repeat: no-repeat;
	padding-top: 5rem;
	margin-bottom: 2rem;

	[role="button"] {
		margin-top: 1rem;
	}

	h2 {
		div {
			border-bottom: 3px solid $black;
			margin: 0 auto;
	    margin-bottom: 1.2rem;
			padding-top: 0.7rem;
			width: 4rem;
		}
	}
}

.spe-bee-redange {
	color: #E03C1D;
}

.spe-bee-yellow-bg {
	background: #FFFF00;
}

.true-dark {
	background: #0d0d0d !important;
}
