<p class="card-text" data-ex-non-ex-id="<%= e_non_e.id %>">
	<strong>Text</strong> <%= e_non_e.text %>
	<br>
	<strong>Answer</strong> <%= e_non_e.answer %>
	<br>
	<strong>Feedback</strong> <%= e_non_e.feedback %>
</p>
<hr>
