<ol>
	<% students.each do |u| %>
		<li class="basic-apple-blue-link">
			<%= link_to u.username, "student?id=#{u.id}" %>
			<small>(<%= u.send(stat) %><%= "%" if stat.include?("perc") %>)</small>
		</li>
	<% end %>
</ol>
