<% provide(:title, "Home") %>
<% provide(:header, "Home") %>
<div class="row">
	<div class="col-md-12">
		<div class="card mb-3">
			<div class="card-header">
				<%= icon "clock-o" %> Recent Activity
				<small class="text-muted">Last 24 Hours</small>
			</div>
			<div class="card-block">
				<% if current_user.has_classroom_activity? %>
					<% current_user.students.alphabetical.each do |user| %>
						<%= render "users/recent_activity", user: user %>
					<% end %>
				<% else %>
					<small class="text-muted">None</small>
				<% end %>
			</div>
		</div>
	</div>
</div>
