<% provide(:header, "Teacher Settings") %>
<div class="row">
  <div class="col-md-4">
    <%= render "current_users/profile" %>
  </div>
  <!-- <div class="col-md-4">
    <%#= render "school/current_user/tools" %>
  </div> -->
  <div class="col-md-4">
    <%= render "current_users/settings" %>
  </div>
</div>
