<% provide(:header, "Teacher Settings") %>

<div class="card-deck-wrapper">
  <div class="card-deck">
    <%= render "current_users/profile" %>
    <%= render "school/current_user/tools" %>
    <%= render "current_users/settings" %>
  </div>
</div>
