<% provide(:title, "Reviews") %>
<% provide(:header, "Reviews") %>

<div class="col-sm-6 col-sm-offset-3">
  <% @reviews.each do |review| %>
    <%= render "reviews/review", review: review %>
  <% end %>
</div>
