<footer class="navbar navbar-default navbar-fixed-bottom navbar-footer"
  role="navigation">
  <br>
  <div class="row center">
    <div class="col-xs-6">
      <% if params[:controller] == "admin/admins" &&
        params[:action] == "home" %>
        <i class="fa fa-home fa-3x"></i>
        <br>
        Home
      <% else %>
        <%= link_to admin_home_path do %>
          <i class="fa fa-home fa-3x"></i>
          <br>
          Home
        <% end %>
      <% end %>
    </div>
    <div class="col-xs-6">
      <% if params[:controller] == "admin/admins" &&
        params[:action] == "menu" %>
        <i class="fa fa-bars fa-3x"></i>
        <br>
        Menu
      <% else %>
        <%= link_to admin_menu_path do %>
          <i class="fa fa-bars fa-3x"></i>
          <br>
          Menu
        <% end %>
      <% end %>
    </div>
  </div>
</footer>
