<footer class="navbar navbar-default navbar-fixed-bottom navbar-footer"
        role="navigation">
  <div class="row center">
    <div class="col-xs-3">
      <% if params[:controller].include?("my_leksi") %>
        <i class="fa fa-book fa-2x"></i>
        <br>
        Words
  		<% else %>
        <%= link_to myLeksi_path do %>
          <i class="fa fa-book fa-2x"></i>
          <br>
          Words
        <% end %>
  		<% end %>
    </div>

    <div class="col-xs-3">
      <% if params[:controller] == "searches" %>
        <i class="fa fa-search fa-2x"></i>
        <br>
        Explore
  		<% else %>
  			<%= link_to search_path do %>
          <i class="fa fa-search fa-2x"></i>
          <br>
          Explore
  			<% end %>
  		<% end %>
    </div>

    <div class="col-xs-3">
      <% if params[:controller] == "my_tags" %>
        <i class="fa fa-tag fa-2x"></i>
        <br>
        Tags
  		<% else %>
        <%= link_to myTags_path do %>
          <i class="fa fa-tag fa-2x"></i>
          <br>
          Tags
        <% end %>
  		<% end %>
    </div>

    <div class="col-xs-3">
      <% if params[:action] == "menu" %>
  			<i class="fa fa-bars fa-2x"></i>
        <br>
        Menu
  		<% else %>
        <%= link_to menu_path do %>
          <i class="fa fa-bars fa-2x"></i>
          <br>
          Menu
        <% end %>
  		<% end %>
    </div>
  </div>
</footer>
