<span class="pull-right header-buttons">
	<% if params[:controller] == "my_tags" %>
		<%= link_to new_tag_path, id: "my_tags-new-btn" do %>
			<i class="fa fa-plus-circle white"></i>
		<% end %>

	<% elsif params[:controller] == "versions" &&
					 params[:action] == "index"
	%>
		<%= link_to image_tag("add_black_32.png"), new_version_path %>

	<% elsif params[:controller] == "versions" &&
					 params[:action] == "show"
	%>
		<% if logged_in? && current_user.is_admin? %>
			<%= link_to image_tag("edit_black_32.png"), edit_version_path(@version) %>
		<% end %>

	<% elsif params[:controller] == "school/schools" &&
					 params[:action] == "students"
	%>
		<%= link_to school_words_path(filter: @class) do %>
			<i class="fa fa-book white"></i>
		<% end %>

	<% elsif params[:controller] == "current_users" &&
					 params[:action] == "myLeksi"
	%>
		<i class="fa fa-search pointer"
			 id="current-user-words-search"
			 data-toggle="modal"
			 data-target="#myLeksi-modal"></i>
	<% end %>
</span>
