<span class="pull-left">
	<% unless logged_in? %>
		<%=
			link_to image_tag("Leksi.png", class: "img-responsive"), root_path
		%>
	<% end %>

	<% if logged_in? %>
		<%
			if params[:controller] == "tags" && params[:action] == "new"
		%>
			<%= link_to image_tag("back_black_32.png"), :back %>
		<% elsif params[:action] == "fundamentals" %>
			<%= link_to image_tag("exit_black_32.png"), root_path %>
		<% end %>
	<% end %>
</span>
