<span class="pull-left pull-left-image">
	<% unless logged_in? %>
		<%= link_to image_tag("Leksi.png", class: "img-responsive"), root_path %>
	<% end %>

	<% if logged_in? %>
		<% if params[:controller] == "words" && params[:action] == "show" %>
			<span class="data-url glyphicon glyphicon-chevron-left"
						aria-hidden="true" data-url="/myLeksi"></span>

		<% elsif params[:controller] == "tags" && (params[:action] == "show" ||
		 				 params[:action] == "new") %>
			<span class="data-url glyphicon glyphicon-chevron-left"
						aria-hidden="true" data-url="/myTags"></span>

		<% elsif params[:controller] == "users" && params[:action] == "show" %>
			<span class="data-url glyphicon glyphicon-chevron-left"
						aria-hidden="true" data-url="/users"></span>

		<% elsif params[:controller] == "school/schools" &&
						 params[:action] == "students" &&
						 current_user.is_teacher? %>
			<span class="data-url glyphicon glyphicon-chevron-left"
						aria-hidden="true" data-url="/school/classes"></span>

		<% elsif params[:controller] == "school/schools" &&
						 params[:action] == "words" &&
						 current_user.is_teacher? %>
			<%= link_to image_tag("back_white_25.png"), :back %>

		<% end %>
	<% end %>
</span>
