<footer class="navbar navbar-default navbar-fixed-bottom navbar_footer" role="navigation">
  <br/>
  <div class="row">
    <div class="col-xs-3" align="center">
      <%= link_to_unless_current image_tag("myLeksi_black_32.png") +
      "<br/>myLeksi".html_safe, words_path,
      alt: "myLeksi", class: "img-responsive" %>

    </div>

    <div class="col-xs-3" align="center">
      <%=
        link_to_unless_current image_tag("search_black_32.png") +
        "<br/>define".html_safe, search_path,
        alt: "Define Word", class: "img-responsive"
      %>
    </div>

    <div class="col-xs-3" align="center">
      <%=
        link_to_unless_current image_tag("sources_black_32.png") +
        "<br/>sources".html_safe, sources_path,
        alt: "Sources", class: "img-responsive"
      %>
    </div>

    <div class="col-xs-3" align="center">
      <%=
        link_to_unless_current image_tag("menu_black_32.png") +
        "<br/>menu".html_safe, menu_path,
        alt: "Log Out", class: "img-responsive"
      %>
    </div>
  </div>
</footer>
