<div class="navbar navbar-default navbar-fixed-top logged_in_header" role="navigation">
	<div class="container">
		<h1 class="center full-header">
			<%= render "layouts/header_pull_left" %>

			<% if params[:action] == "fundamentals" %>
				<span id="games-score">score:</span>
				<span class="lead" id="goodies">0</span>
			<% else %>
				<%= full_header(yield(:header).truncate(23)) %>
			<% end %>

			<%= render "layouts/header_pull_right" %>
		</h1>
	</div>
</div>
