<div class="navbar navbar-fixed-top logged_out_header" role="navigation">
	<div class="pull-left">
		<h4>
			<%= link_to "Leksi<sup><small class='white'>TM</small></sup>".html_safe,
				root_path %>
		</h4>
	</div>
	<div class="pull-right">
		<%= link_to login_path, class: "btn btn-success" do %>
			<i class="fa fa-sign-in"></i>
			Log in
		<% end %>
	</div>
</div>
