<h1>Get the Latest Updates</h1>

<div id="mc_embed_signup" class="col-sm-4 col-sm-offset-4">
	<form action="//danelsonrosa.us3.list-manage.com/subscribe/post?u=4e5d4daffb8f0b6bc3364bc32&amp;id=b25cdc91ad" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		<div id="mc_embed_signup_scroll">
			<input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder=" email@address.com" required>
			<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			<div style="position: absolute; left: -5000px;"><input type="text" name="b_4e5d4daffb8f0b6bc3364bc32_b25cdc91ad" tabindex="-1" value=""></div>
			<div class="clear"><input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-secondary form-control"></div>
		</div>
	</form>
</div>

<br>
