<span class="pull-left">
	<% unless logged_in? %>
		<%= link_to image_tag("Leksi.png", class: "img-responsive"), root_path %>
	<% end %>

	<% if logged_in? %>
		<% if params[:controller] == "tags" &&
					(params[:action] == "show" || params[:action] == "new")
		%>
			<i class="data-url fa fa-chevron-left" data-url="/myTags"></i>

		<% elsif params[:controller] == "tags" &&
						 params[:action] == "edit"
		%>
			<%= render "shared/chevron_back_btn" %>

		<% elsif params[:controller] == "users" && params[:action] == "show" %>
			<span class="data-url fa fa-chevron-left"
						aria-hidden="true" data-url="/admin/users"></span>

		<% elsif params[:controller] == "school/schools" &&
						 params[:action] == "students" &&
						 current_user.is_teacher? %>
			<i class="data-url fa fa-chevron-left" data-url="/school/classes"></i>

		<% elsif params[:controller] == "school/schools" &&
						 params[:action] == "student" &&
						 current_user.is_teacher? %>
			<%= render "shared/chevron_back_btn" %>
			
		<% elsif params[:controller] == "my_leksi" &&
						 params[:action] == "show"
		%>
			<i class="data-url fa fa-chevron-left" data-url="/myLeksi"></i>

		<% elsif params[:controller] == "school/schools" &&
						 params[:action] == "words" &&
						 current_user.is_teacher? %>
			<%= render "shared/chevron_back_btn" %>

		<% elsif params[:controller] == "my_tags" &&
						 params[:action] == "show"
		%>
			<i class="data-url fa fa-chevron-left" data-url="/myTags"></i>
		<% end %>
	<% end %>
</span>
