<footer class="navbar navbar-default navbar-fixed-bottom navbar-footer"
  role="navigation">
  <br>
  <div class="row center">
    <div class="col-xs-3">
      <% if params[:controller] == "school/schools" &&
        params[:action] == "classes" ||
        params[:controller] == "school/schools" &&
        (params[:action] == "student" || params[:action] == "students" ||
        params[:action] == "words") %>
        <i class="fa fa-group fa-3x"></i>
        <br>
        Classes
      <% else %>
        <%= link_to school_classes_path do %>
          <i class="fa fa-group fa-3x"></i>
          <br>
          Classes
        <% end %>
      <% end %>
    </div>
    <div class="col-xs-3">
      <% if params[:controller] == "school/schools" && params[:action] == "messages" %>
        <i class="fa fa-archive fa-3x"></i>
        <br>
        Review
      <% else %>
        <%= link_to school_messages_path do %>
          <i class="fa fa-archive fa-3x"></i>
          <br>
          Review
        <% end %>
      <% end %>
    </div>
    <div class="col-xs-3">
      <% if params[:controller] == "school/schools" &&
        params[:action] == "progress" %>
        <i class="fa fa-line-chart fa-3x"></i>
        <br>
        Stats
      <% else %>
        <%= link_to school_menu_path do %>
          <i class="fa fa-line-chart fa-3x"></i>
          <br>
          Stats
        <% end %>
      <% end %>
    </div>
    <div class="col-xs-3">
      <% if params[:controller] == "school/schools" &&
        params[:action] == "menu" %>
        <i class="fa fa-bars fa-3x"></i>
        <br>
        Menu
      <% else %>
        <%= link_to school_menu_path do %>
          <i class="fa fa-bars fa-3x"></i>
          <br>
          Menu
        <% end %>
      <% end %>
    </div>
  </div>
</footer>
